<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Invitations Template-1</title>

        <link rel="stylesheet" href="./assets/css/political-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Invitations Template 1 Start -->
            <div class="template-wrapper" id="invitations-template-1"
                style="background-image: url(./assets/images/back-bg-96.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="invit1Head">
                        <div class="imgHolder selectable">
                            <img id="ganeshArt" src="./assets/images/ganapathy-clipart2.png" alt="" />
                            <input name="clipart" type="file" accept="image/*"
                                onchange="document.getElementById('ganeshArt').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            కనకాల వారి <br> నిశ్చితార్థ మహోత్సవ ఆహ్వానము</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="invit1Body">
                        <p class="selectable" contenteditable="true" data-options="editOptions">వివాహ బంధంలోకి అడుగు
                            పెడుతున్న మా కూతురు అల్లుడు</p>
                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="useOne" src="./assets/images/reception-usr1.png" alt="" />
                                    <input name="usrpht1" type="file" accept="image/*"
                                        onchange="document.getElementById('anniversary').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2><span>వధువు:</span> విజయ</h2>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="useTwo" src="./assets/images/reception-usr2.png" alt="" />
                                    <input name="usrpht2" type="file" accept="image/*"
                                        onchange="document.getElementById('useTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2><span>వరుడు:</span> చైతన్య</h2>
                            </div>
                        </div>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">ల నిశ్చితార్థ వేడుకకు
                            తామెల్లరు తప్పక రాగలరు.</h5>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="invit1Footer">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">తేదీ: 03-04-2024, 10:30
                            am</h3>
                        <p class="selectable" contenteditable="true" data-options="editOptions">వేదిక: హైదరాబాద్ లోని మా
                            స్వగృమున</p>
                    </div>
                </div>
            </div>
            <!-- Invitations Template 1 End -->
        </div>
    </body>

</html>