<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wanted Template-4</title>

        <link rel="stylesheet" href="/assets/css/admission-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Wanted Template-4 Start -->
            <div class="template-wrapper" id="Wanted-template-4"
                style="background-image: url(/assets/images/back-bg-71.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wanted4Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>We are</span>
                            Hiring! <em>Join our team</em>
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wanted4Body">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">కామారెడ్డి
                            ఇండస్ట్రీస్లో పనిచేయడానికి
                        </h2>
                        <h1 class="selectable withBg" contenteditable="true" data-options="editOptions">డ్రైవర్లు
                            కావలెను</h1>
                        <div class="imgHolder selectable">
                            <img id="mainPhoto" src="/assets/images/drivers-wanted.png" alt="" />
                            <input name="main" type="file" accept="image/*"
                                onchange="document.getElementById('mainPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wanted4Footer">
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">అర్హత</h5>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">హెవీ లైసెన్స్, ట్యాంకర్
                            నడిపించే అనుభవం కలిగి ఉండాలి.</span>
                        </h3>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">మంచి జీతం కలదు
                        </h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">B.Sc Chemistry Freshers
                            & Experience <span>కావలెను</span></p>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            9177801713</p>
                    </div>
                </div>
            </div>
            <!-- Wanted Template-4 End -->
        </div>
    </body>

</html>