<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wanted Template-5</title>

        <link rel="stylesheet" href="/assets/css/admission-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Wanted Template-5 Start -->
            <div class="template-wrapper" id="Wanted-template-5"
                style="background-image: url(../../assets/images/back-bg-72.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wanted5Head">
                        <div class="splHireTitle">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                We Are Hiring
                            </h1>
                            <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">
                                Vijayakrishna Multi <span>Speciality Hospital suryapet</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wanted5Body">
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">Wanted:
                        </h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Computer operators in
                            <br>Arogya sri Department
                        </p>
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="buildOne" src="../../assets/images/vijaya-krishna-hospital-bulding-1.jpg"
                                    alt="" />
                                <input name="b1" type="file" accept="image/*"
                                    onchange="document.getElementById('buildOne').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="buildTwo" src="../../assets/images/vijaya-krishna-hospital-bulding-2.jpg"
                                    alt="" />
                                <input name="b2" type="file" accept="image/*"
                                    onchange="document.getElementById('buildTwo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="side-by-absolute">
                            <div class="imgHolder selectable nurse mask">
                                <img id="nursePhoto" src="../../assets/images/vijaya-krishna-nurse.png" alt="" />
                                <input name="nurse" type="file" accept="image/*"
                                    onchange="document.getElementById('nursePhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable lab">
                                <img id="hosLab" src="../../assets/images/vijaya-krishna-hospital-bulding-3.jpg"
                                    alt="" />
                                <input name="lab" type="file" accept="image/*"
                                    onchange="document.getElementById('hosLab').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable reception mask">
                                <img id="hosReception" src="../../assets/images/vijaya-krishna-reception.png" alt="" />
                                <input name="reception" type="file" accept="image/*"
                                    onchange="document.getElementById('hosReception').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="defaultList">
                            <p class="selectable" contenteditable="true" data-options="editOptions">Dialysis Technician
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">Nursing Staff</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">Computer Operator in
                                Reception</p>
                        </div>
                        <h3 class="selectable borderAround" contenteditable="true" data-options="editOptions">
                            <span>Wanted:</span> Pratishta Institute of Pharmaceutical Sciences, <span>Suryapet</span>
                        </h3>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">Assistant
                            Professor in various Departments</h5>
                        <div class="defaultList noNegativeTop">
                            <p class="selectable" contenteditable="true" data-options="editOptions">Pharm D
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">M Pharm-Pharmacology
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">M
                                Pharm-Pharmaceutics and Pharmaceutical Chemistry Salary as per norms</p>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wanted5Footer">
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            97043575747, 9390965715</p>
                    </div>
                </div>
            </div>
            <!-- Wanted Template-5 End -->
        </div>
    </body>

</html>