<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wanted Template-3</title>

        <link rel="stylesheet" href="/assets/css/admission-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Wanted Template-3 Start -->
            <div class="template-wrapper" id="Wanted-template-3"
                style="background-image: url(../../assets/images/back-bg-70.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wanted3Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>We are</span>
                            Hiring! <em>Join our team</em>
                        </h1>
                        <div class="combinedTitle">
                            <div class="imgHolder selectable">
                                <img id="brLogo" src="../../assets/images/sbi-life-logo.jpg" alt="" />
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">లో ఉద్యోగ అవకాశాలు
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wanted3Body">
                        <div class="imgHolder selectable mask">
                            <img id="mainPhoto" src="../../assets/images/sbi-life-photo.png" alt="" />
                            <input name="main" type="file" accept="image/*"
                                onchange="document.getElementById('mainPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">డెవలప్మెంట్ మేనేజర్ - 8
                        </h2>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">అర్హత: ఏదైనా
                            డిగ్రీ/ మార్కెటింగ్లో కనీసం 2 సంత్సరాల అనుభవం</h4>
                        <h4 class="selectable withBgRed" contenteditable="true" data-options="editOptions">పురుషులు
                            మరియు స్త్రీలు, ఫైనాన్షియల్ సెక్టార్లో అనుభవం ఉన్న వారికి ప్రాధ్యాన్యం ఇవ్వబడును
                        </h4>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">జీతం: 25 వేలు
                            మరియు ఇతర అలవెన్సులు కలవు
                        </h3>
                        <p class="selectable" contenteditable="true" data-options="editOptions"><span>Preferred
                                Locations</span> KAZIPET | MADIKONDA | HANAMKONDA | WARANGAL <br>
                            Hasanparthi | BHEMARAM | GHANAPUR | DHARAM SAGAR</p>
                        <h3 class="selectable withBgYellow" contenteditable="true" data-options="editOptions"><span>JOB
                                LOCATION</span> KAZIPET BRANCH
                        </h3>
                        <p class="selectable withBgBlack" contenteditable="true" data-options="editOptions">ఆసక్తి
                            గలవారు మీ రెస్యూమె సెండ్ చేయండి: <span>dumpala.vishwas@gmail.com</span></p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wanted3Footer">
                        <h6 class="selectable withBg" contenteditable="true" data-options="editOptions">పూర్తి వివరాల
                            కోసం సంప్రదించండి</h6>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">Dumpala Srinadh,
                            Sr.Branch Manager <span>Siddhartha Nagar, Kazipet, Hanamkonda.</span>
                        </h3>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            9440313596</p>
                    </div>
                </div>
            </div>
            <!-- Wanted Template-3 End -->
        </div>
    </body>

</html>