<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-6</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Alike&family=Bonheur+Royale&family=Dhurjati&family=Ponnala&family=Rakkas&family=Ramaraja&family=Praise&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template-6 Start -->
            <div class="template-wrapper" id="wedding-temp-6"
                style="background-image: url(/assets/images/back-bg-41.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed6Head">
                        <div class="topDecor selectable">
                            <img src="/assets/images/top-decor-8.png" id="tDecor" alt="">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tDecor').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <div class="imgHolder selectable">
                            <img src="/assets/images/venkateswara-swamy-temple.png" id="temple" alt="">
                            <input name="temple" type="file" accept="image/*"
                                onchange="document.getElementById('temple').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">బాల వికాస్ స్కూలు వారి
                            పెండ్లి పిలుపు</h3>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed6Body">
                        <div class="imgHolder selectable mask">
                            <img src="/assets/images/wedding-pair-5.png" id="couple" alt="">
                            <input name="couplephoto" type="file" accept="image/*"
                                onchange="document.getElementById('couple').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <div class="coconutTitle">
                            <div class="imgHolder selectable">
                                <img src="/assets/images/coconut-love-symbol.png" id="coconut" alt="">
                                <input name="coconut" type="file" accept="image/*"
                                    onchange="document.getElementById('coconut').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                కృష్ణ చైతన్య <span>వెడ్స్</span> శరణ్య
                            </h1>
                        </div>
                        <h3 class="borderAround selectable" contenteditable="true" data-options="editOptions">రిసెప్షన్
                            & విందు
                        </h3>
                        <p class="selectable" contenteditable="true" data-options="editOptions">06-02-2025 వ తేదీ <br>
                            గురువారము రాత్రి 7:00 గం నుండి రిసెప్షన్ SC విందు</p>
                        <div class="d-flex-row">
                            <div class="labeledText">
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">సుముహూర్తం</h1>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    07-02-2025 వ తేదీ శుక్రవారం ఉ: 6:36 నుండి 6:52 వరకు</p>
                            </div>
                            <div class="labeledText">
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">కళ్యాణ వేదిక
                                </h1>
                                <p class="selectable" contenteditable="true" data-options="editOptions">మాధవి కన్వెన్షన్
                                    ఆర్.టి.ఓ. ఆఫీసు ఎదురుగా ఊటుకూరు, రాయచోటి రోడ్డు కడప.
                                </p>
                            </div>
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మా కనిష్ట పుత్రుడు
                            వివాహానికి విచ్చేసి నూతన వధూవరులను ఆశీర్వదించి మమ్మలను ఆనందింప చేయ ప్రార్ధన <span>అందరూ
                                ఆహ్వానితులే</span></p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed6Footer">
                        <div class="imgHolder selectable mask">
                            <img src="/assets/images/couple-2.png" id="welcomedBy" alt="">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('welcomedBy').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            ఆహ్వానించు వారు
                        </h3>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">శ్రీమతి బి. వసంత శ్రీ
                            బి. గంగయ్య <span>డైరెక్టర్, బాలవికాస్ హైస్కూల్, కడప.</span></h1>
                        <p class="selectable whatsapp" contenteditable="true" data-options="editOptions">99891 41490</p>

                        <div class="stickySplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/wedding-sannayi.png" id="sannayiOne" alt="">
                                <input name="sannayi1" type="file" accept="image/*"
                                    onchange="document.getElementById('sannayiOne').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/wedding-sannayi.png" id="sannayiTwo" alt="">
                                <input name="sannayi2" type="file" accept="image/*"
                                    onchange="document.getElementById('sannayiTwo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Wedding Template-6 End -->

        </div>
    </body>

</html>