<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-1</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template Start -->
            <div class="template-wrapper" id="wedding-temp-1"
                style="background-image: url(/assets/images/back-bg-36.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed1Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="tDecor" src="/assets/images/top-decor-8.png" alt="" class="selectable">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="simpleHeading selectable" contenteditable="true" data-options="editOptions">
                            మేకా <span>వారి</span> వివాహ మహోత్సవం
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed1Body">
                        <div class="imgHolder">
                            <img id="weddingPair" src="/assets/images/wedding-pair-4.png" alt="" class="selectable">
                            <input name="wedding" type="file" accept="image/*"
                                onchange="document.getElementById('weddingPair').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="titleDecorOne">
                            <p class="selectable" contenteditable="true" data-options="editOptions">మా ఏకైక కుమారుడు</p>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>చి.</span> బాలసుబ్రహ్మణ్యం <span>కు</span>
                            </h1>
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">పశ్చిమ గోదావరి జిల్లా
                            బోగోలు వాస్తవ్యులు <br> శ్రీ పల్ల గాని వెంకట రామకృష్ణ లక్ష్మీ నారాయణ స్వామి <br>శ్రీమతి
                            శ్యామల దంపతుల ఏకైక కుమార్తె
                        </p>
                        <div class="titleDecorTwo">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>చి. ల. సౌ.</span> రాజేశ్వరి <span>ని</span>
                            </h1>
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">యిచ్చి వివాహము
                            జరిపించుటకు
                            దైవజ్ఞులు సుముహూర్తం నిశ్చయించినారు.
                        </p>
                        <p class="selectable borderAround" contenteditable="true" data-options="editOptions">
                            సుముహూర్తం : తేదీ <b>20-10-2024</b> రాత్రి <b>10:54</b> నిమిషాలకు
                        </p>
                        <h4 class="selectable stage" contenteditable="true" data-options="editOptions">కళ్యాణ వేదిక
                        </h4>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">లయన్స్ క్లబ్ కళ్యాణ
                            మండపం,
                            చింతలపూడి
                        </h3>
                        <div class="borderedLabel">
                            <h6 class="selectable labelTxt" contenteditable="true" data-options="editOptions">రిసిప్షన్:
                            </h6>
                            <p class="selectable" contenteditable="true" data-options="editOptions">మంగళవారం
                                తేది-<b>22-10-2024</b> ఉదయం <b>11</b> గంటలకు సూర్యకిరణ్ ఫంక్షన్ హాల్-(బంగారు పరిణయ),
                                జంగారెడ్డిగూడెం
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed1Footer">
                        <h4 class="who-wished selectable" contenteditable="true" data-options="editOptions">ఆహ్వానించు
                            వారు
                        </h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">శ్రీ మేకా సింహాద్రి
                            &amp;
                            శ్రీమతి సత్యవతి</p>
                    </div>
                </div>
            </div>
            <!-- Wedding Template End -->

        </div>
    </body>

</html>