<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-2</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template-2 Start -->
            <div class="template-wrapper" id="wedding-temp-2"
                style="background-image: url(/assets/images/back-bg-37.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed2Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="tDecor" src="/assets/images/top-decor-8.png" alt="" class="selectable">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="imgHolder decorBothSides selectable">
                            <img id="tDecor2" src="/assets/images/hanging-flowers-top-both.png" alt=""
                                class="selectable">
                            <input name="decor2" type="file" accept="image/*"
                                onchange="document.getElementById('tDecor2').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="simpleHeading selectable" contenteditable="true" data-options="editOptions">
                            మట్టా వారి వివాహ మహోత్సవం
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed2Body">
                        <div class="framedWeddingPhoto">
                            <div class="imgHolder backFrame">
                                <img id="weddingFrame" src="/assets/images/wedding-back-frame.png" alt=""
                                    class="selectable">
                                <input name="frame" type="file" accept="image/*"
                                    onchange="document.getElementById('weddingFrame').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder groomPair">
                                <img id="weddingPair" src="/assets/images/wedding-pair-3.png" alt="" class="selectable">
                                <input name="wedding" type="file" accept="image/*"
                                    onchange="document.getElementById('weddingPair').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h6 class="selectable" contenteditable="true" data-options="editOptions">మా ఏకైక కుమార్తె</h6>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>చి.ల.సా.</span> పూజిత <span>ను</span>
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">పశ్చిమగోదావరి జిల్లా
                            తణుకు మండలం, తణుకు (పైడిపర్రు) గ్రామ వాస్తవ్యులు
                        </p>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">శ్రీ కామన
                            శ్రీనివాసరావు, శ్రీమతి నాగసుధ
                            <span>దంపతుల జ్యేష్ఠ కుమారుడు</span>
                        </h5>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>చి.</span> షణ్ముఖేష్ <span>కి</span>
                        </h1>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">యిచ్చి వివాహము
                            జరుపుటకు పెద్దలు సుముహూర్తము నిశ్చయించినారు.
                        </p>
                        <div class="muhurath">
                            <div class="imgHolder">
                                <img id="mandapam" src="/assets/images/mandapam.png" alt="" class="selectable">
                                <input name="mandap" type="file" accept="image/*"
                                    onchange="document.getElementById('mandapam').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contents">
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">సముహూర్తము:
                                </h5>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    తేదీ 04-12-2024 బుధవారం <br> రాత్రి 8:01 ని.లకు
                                </p>
                            </div>
                        </div>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">కళ్యాణ వేదిక
                        </h4>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">సూర్యకిరణ్ ఫంక్షన్
                            హాల్, C.N.R. మాల్ వెనుక రాజాన పరిణయ మండపం, జంగారెడ్డిగూడెం.
                        </h3>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">విందు: తేది
                            04-12-2024 బుధవారం రాత్రి 7 గంటలకు
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed2Footer">
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">
                            ఆహ్వానించువారు
                        </h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">మట్టా వీర
                            వెంకటలక్ష్మీ నరసింహరావు, శ్రీమతి సత్య శ్రీదేవి</h2>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">అన్నయ్యవదిన</h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">మట్టా రవికిరణ్ అప్పాజీ,
                            శ్రీమతి సాత్విక</h2>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">కృష్ణా
                            జ్యూయలర్స్ - కొవ్వూరు - Ph: 9666626204</p>
                    </div>
                </div>
            </div>
            <!-- Wedding Template-2 End -->

        </div>
    </body>

</html>