<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-3</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Alike&family=Bonheur+Royale&family=Dhurjati&family=Ponnala&family=Rakkas&family=Ramaraja&family=Praise&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template-3 Start -->
            <div class="template-wrapper" id="wedding-temp-3"
                style="background-image: url(/assets/images/back-bg-38.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed3Head">
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            Proclaim the LORD's greatness with me. <br> let us exalt his name together.
                            <span>Psalm 34:3</span>
                        </p>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            The LORD is able to give you much more than this.
                            <span>2 Chronicles 25:9</span>
                        </p>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed3Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            Holy Matrimony
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Solicit your gracious
                            presence with family and friends on the auspicious occasion of the marriage of our only
                            daughter
                        </p>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">Panditi Joshna Richel
                            <span>with</span> Yennam John Solmen <em>M.B.A.,</em>
                        </h2>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">Software Engineer
                        </h5>
                        <p class="selectable" contenteditable="true" data-options="editOptions">(Only son of Smt. Y.
                            Mary Latha & Sri Y. Yesu Rathnam)</p>
                        <div class="muhurath">
                            <div class="imgHolder">
                                <img id="couplePair" src="/assets/images/wedding-pair-6.jpg" alt="" class="selectable">
                                <input name="couple" type="file" accept="image/*"
                                    onchange="document.getElementById('couplePair').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contents">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">Date &amp; Time
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    On Wednesday, <br> 05-02-2025, at 10:00 am.
                                </p>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">Venue
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">Ameen Function
                                    Hall, <br> Near II Town Police Station, Kadapa.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed3Footer">
                        <div class="footerDecors">
                            <div class="imgHolder">
                                <img id="decorImgLs" src="/assets/images/decor-flowers-footer.png" alt=""
                                    class="selectable">
                                <input name="flower1" type="file" accept="image/*"
                                    onchange="document.getElementById('decorImgLs').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder">
                                <img id="decorImgRs" src="/assets/images/decor-flowers-footer.png" alt=""
                                    class="selectable">
                                <input name="flower2" type="file" accept="image/*"
                                    onchange="document.getElementById('decorImgRs').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h4 class="selectable negativeTop" contenteditable="true" data-options="editOptions">
                            To be Solemnized by
                        </h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">Bro. K.M. Samson,
                            <span>God Servant, Hebron, Hyderabad.</span>
                        </h2>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">Cordially Your's</h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">Smt. Panditi Shoba <br>
                            Sri Panditi Charles</h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">#4/205,
                            Nagarajupet, KADAPA</p>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">With best
                            compliments from: Near & Dear</h3>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">Cell:
                            9963796811, 8008226048, 8247819681
                        </p>
                    </div>
                </div>
            </div>
            <!-- Wedding Template-3 End -->

        </div>
    </body>

</html>