<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-8</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template-8 Start -->
            <div class="template-wrapper" id="wedding-temp-8"
                style="background-image: url(/assets/images/back-bg-43.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed8Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="tDecor" src="/assets/images/top-decor-13.png" alt="" class="selectable">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            <span>శ్రీరస్తు!</span> <span>శుభమస్తు!!</span> <span>కళ్యాణమస్తు!!!</span>
                        </p>
                        <h1 class="simpleHeading selectable" contenteditable="true" data-options="editOptions">
                            మామిడి వారి కళ్యాణ ఆహ్వాన పత్రిక
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed8Body">
                        <div class="framedWeddingPhoto selectable">
                            <div class="imgHolder groomPair">
                                <img id="weddingPair" src="/assets/images/wedding-pair-with-bg-2.jpg" alt=""
                                    class="selectable">
                                <input name="wedding" type="file" accept="image/*"
                                    onchange="document.getElementById('weddingPair').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="decoratedContent">
                            <h6 class="selectable" contenteditable="true" data-options="editOptions">మా ప్రధమ పుత్రిక
                            </h6>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>చి.ల.సా.</span> శ్రీహర్షిత <span>ని</span>
                            </h1>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>చి.</span> లీలా సాయి క్రిష్ణ ప్రభు నాయుడు <span>కు</span>
                            </h2>
                            <p class="selectable" contenteditable="true" data-options="editOptions">(శ్రీ కురిటి
                                భాస్కరరావు,
                                అడ్వకేట్, హై కోర్ట్, AP&TS <br> శ్రీమతి సత్య మాధవి దంపతుల ప్రధమ పుత్రుడు)
                            </p>
                        </div>
                        <h5 class="selectable borderAround" contenteditable="true" data-options="editOptions">
                            <span>సుముహూర్తం:</span>
                            తేది : 15-02-2025 స్థిరవారం ఉదయం 10:46 ని. లకు
                        </h5>
                        <h5 class="selectable borderAround" contenteditable="true" data-options="editOptions">
                            <span>కళ్యాణవేదిక:</span>
                            గ్రాండ్ కన్వెన్షన్స్ & రిసార్ట్స్ NH-16,<br> కేంద్రియ విద్యాలయం ప్రక్కన, శ్రీకాకుళం
                        </h5>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed8Footer">
                        <p class="selectable" contenteditable="true" data-options="editOptions"><span>విందు:</span>
                            ఉదయం 11 గం. ల నుండి కళ్యాణవేదిక వద్ద</p>
                        <p class="selectable" contenteditable="true" data-options="editOptions"><span>భవదీయులు</span>
                            మామిడి శ్రీకాంత్, శ్రీమతి సుజాత దంపతులు</p>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">వివాహము లైవ్
                            వీక్షించడానికి క్లిక్ చేయండి</p>
                    </div>
                </div>
            </div>
            <!-- Wedding Template-8 End -->

        </div>
    </body>

</html>