<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-7</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Alike&family=Bonheur+Royale&family=Dhurjati&family=Ponnala&family=Rakkas&family=Ramaraja&family=Praise&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template-7 Start -->
            <div class="template-wrapper" id="wedding-temp-7"
                style="background-image: url(/assets/images/back-bg-42.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed7Head">
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            <span>శ్రీరస్తు!</span> <span>శుభమస్తు!!</span> <span>కళ్యాణమస్తు!!!</span>
                        </p>
                        <p class="selectable slokam" contenteditable="true" data-options="editOptions">
                            శ్లో శ్రీరామపత్ని జనకస్యపుత్రీ సీతాంగనా సుందరకోమలాంగీ! <br> భూగర్భజాతా భువనైకమాతా
                            వధూవరాభ్యాం వరదాభవంతు!!
                        </p>
                        <div class="row-photo-frame">
                            <div class="imgHolder imgLS selectable">
                                <img id="blowerOne" src="/assets/images/sannayi-instrument.png" alt=""
                                    class="selectable">
                                <input name="imgr1" type="file" accept="image/*"
                                    onchange="document.getElementById('blowerOne').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                కొర్రాయి <span>వారి</span> పెండ్లిపిలుపు

                            </h1>
                            <div class="imgHolder imgRS selectable">
                                <img id="blowerTwo" src="/assets/images/sannayi-instrument.png" alt=""
                                    class="selectable">
                                <input name="imgr2" type="file" accept="image/*"
                                    onchange="document.getElementById('blowerTwo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">శ్రీ కొర్రాయి
                            చిన్నయ్య(లేటు), శ్రీమతి వీరమ్మ దంపతులు <br> వ్రాయు శుభలేఖార్ధములు</h3>

                        <div class="bottom-decor selectable">
                            <img id="botDecor" src="/assets/images/title-bottom-decor.png" alt="" class="selectable">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('botDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable slokam" contenteditable="true" data-options="editOptions">స్వస్తిశ్రీ
                            చాంద్రమాన శ్రీ క్రోధి నామ సంవత్సర, మాఘ మాసం శుద్ధ పూర్ణిమ <br> బుధవారం అనగా తేది 12-02-2025
                            రాత్రి గం. 09:03 ని. లకు <br> మాఘ నక్షత్రయుక్త కన్యాలగ్న పుష్కరాంశ సుముహూర్తమున మా ఏకైక
                            పుత్రుడు
                        </p>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed7Body">
                        <div class="photoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/tabala.png" id="tabalaInstrument" alt="">
                                <input name="tabala" type="file" accept="image/*"
                                    onchange="document.getElementById('tabalaInstrument').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="mainFrame selectable">
                                <img src="/assets/images/wedding-pair-8.png" id="weddingPair" alt="">
                                <input name="wedding" type="file" accept="image/*"
                                    onchange="document.getElementById('weddingPair').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/dolak.png" id="dolakIns" alt="">
                                <input name="dolak" type="file" accept="image/*"
                                    onchange="document.getElementById('dolakIns').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>వరుడు :</span> <em>చి.</em> లింగరాజు <em>(శివాజి) కు</em>
                        </h1>
                        <h1 class="selectable negativeTop" contenteditable="true" data-options="editOptions"><span>వధువు
                                :</span> <em>చి.ల.సా.</em> జీవిత <em>ని</em>
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">(రట్టి గ్రామ వా॥లు
                            <b>శ్రీ పులారి గురుమూర్తి, శ్రీమతి జయమ్మ దం॥ల</b> ఏకైక పుత్రికను) ఇచ్చి వివాహము జరిపించుటకు
                            పెద్దలు నిశ్చయించిరి.
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed7Footer">
                        <div class="sideBySide">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శుభలగ్నం</span> తేదీ. 12-02-2025 2 రాత్రి గం.09:03 ని లకు
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కళ్యాణవేదిక</span> రట్టి గ్రామం లో వధువు స్వగృహమునందు.
                            </h3>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>విందు</span> తేది : 12-02-2025 బుధవారం మధ్యాహ్నం 12 గం. నుండి
                        </h3>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">చోట్రాయిపురం గ్రామం,
                            జలంత్రకోట మెయిన్ రోడ్డు దగ్గర మా స్వగృహమునందు.</h5>

                        <h6 class="selectable" contenteditable="true" data-options="editOptions">భవదీయులు</h6>
                        <p class="selectable" contenteditable="true" data-options="editOptions">శ్రీ కొర్రాయి
                            చిన్నయ్య(లేటు) శ్రీమతి వీరమ్మ దంపతులు చోట్రాయిపురం గ్రామం, <br>జలంత్రకోట (మెయిన్ రోడ్డు)</p>
                    </div>
                </div>
            </div>
            <!-- Wedding Template-7 End -->

        </div>
    </body>

</html>