<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wedding Template-5</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Alike&family=Bonheur+Royale&family=Dhurjati&family=Ponnala&family=Rakkas&family=Ramaraja&family=Praise&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Wedding Template-5 Start -->
            <div class="template-wrapper" id="wedding-temp-5"
                style="background-image: url(/assets/images/back-bg-40.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="wed5Head">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">మిట్ట వెంకట గారి
                            పెండ్లి పిలుపు</h3>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="wed5Body">
                        <div class="imgHolder selectable mask">
                            <img src="/assets/images/wedding-pair-1.png" id="couple" alt="">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('couple').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <div class="coupleTitles">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>చి.</span>
                                సాయి సుధీర్ కుమార్ రెడ్డి
                            </h1>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>చి.ల.సా.</span>
                                లక్ష్మీ మౌనికా రెడ్డి
                            </h1>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">Reception
                        </h3>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>14-02-2025,</span> 6:00 PM
                            Onwards Dinner Follows <br>
                            Venue: Meda Ragunath Reddy
                            convention Hall <br>
                            Madras Road, Kadapa.
                        </h5>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">SUMUHURTHAM
                        </h3>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions"><span>15-02-2025</span>
                            <br>
                            FROM. 4:45AM to 6:15 AM
                        </h5>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మా కుమారుని వివాహానికి
                            విచ్చేసి నూతన వధువరులను ఆశీర్వదించి మమ్ములను ఆనందింప చేయ ప్రార్ధన.
                            అందరూ ఆహ్వానితులే</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="wed5Footer">
                        <div class="sideBySide">
                            <div class="imgHolder selectable">
                                <img src="/assets/images/woman-photo-2.jpg" id="guestOne" alt="">
                                <input name="photo1" type="file" accept="image/*"
                                    onchange="document.getElementById('guestOne').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable">
                                <img src="/assets/images/man-photo-8.jpg" id="guestTwo" alt="">
                                <input name="photo2" type="file" accept="image/*"
                                    onchange="document.getElementById('guestTwo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            ఆహ్వానించు వారు
                        </h3>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">శ్రీమతి M.V. శ్రీదేవి.
                            శ్రీ. M.V. రామచంద్రారెడ్డి. <span>Member of Legislative Council, Kadapa</span></h1>

                        <h6 class="selectable" contenteditable="true" data-options="editOptions">ANDHRA PRADESH, Cell:
                            9154944940, 8519918171</h6>
                        <p class="selectable whatsapp" contenteditable="true" data-options="editOptions">98493 19844</p>
                    </div>
                </div>
            </div>
            <!-- Wedding Template-5 End -->

        </div>
    </body>

</html>