:root {
    --text-dark: #202020;
    --text-light: #f7f7f7;
    --primary-color: #ffae00;
    --secondary-color: #72b802;
}


/* Telugu Font-Family 

font-family: "Lakki Reddy", serif;
font-family: "Dhurjati", sans-serif;
font-family: "Akaya Telivigala", system-ui;
font-family: "Ramabhadra", sans-serif;
font-family: "NTR", sans-serif;
font-family: "Gurajada", sans-serif;
font-family: "Tiro Telugu", serif;
font-family: "Mallanna", sans-serif;
font-family: "Mandali", sans-serif;
font-family: "Chathura", sans-serif;
font-family: "Lohit Telugu", sans-serif;

*/


html {
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
link {
    color: blue;
    outline: none;
    border: none;
}

canvas,
canvas:focus-visible,
[contenteditable="true"] {
    border: none;
    outline: none;
    box-shadow: none;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible,
a:focus-visible,
link:focus-visible {
    outline: none;
    box-shadow: none;
}

/* Custom Scrollbar Styles Declaration */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgb(212, 212, 212, );
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #252525;
}

/* Lohit Telugu Font Declaration */
@font-face {
    font-family: 'Lohit Telugu';
    src: url('../fonts/Lohit-Telugu.eot');
    src: local('../fonts/Lohit Telugu'), local('Lohit-Telugu'),
        url('../fonts/Lohit-Telugu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lohit-Telugu.woff2') format('woff2'),
        url('../fonts/Lohit-Telugu.woff') format('woff'),
        url('../fonts/Lohit-Telugu.ttf') format('truetype'),
        url('../fonts/Lohit-Telugu.svg#Lohit-Telugu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

/* Main UI Structure */
#main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    justify-content: flex-start;
    transform-origin: center center;
    background-color: #e7e7e7;
    position: relative;
}

.topNav {
    position: fixed;
    top: 0;
    left: 0;
    padding: .65rem 1.5rem;
    background-color: #1a1a1a;
    width: 100vw;
    color: var(--text-light);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    height: 60px;
}

.topNav .siteLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    color: var(--text-light);
    margin-right: auto;
    padding: 0;
    font-size: 14px;
}

.topNav .siteLogo img {
    max-width: 150px;
}

.topNav h4 {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: uppercase;
    letter-spacing: .02rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topNav button.publishBtn,
button.publishBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    cursor: pointer;
    padding: .75rem 1rem;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    border: none;
    border-radius: 0.25rem;
    background-image: linear-gradient(135deg, #0004eb 0%, #a8663f 100%);
    color: #ebebeb;
    transition: all 0.5s ease;
}

.topNav button.publishBtn i,
button.publishBtn i {
    font-size: 17px;
}

.topNav button.publishBtn:hover,
button.publishBtn:hover {
    background-image: linear-gradient(135deg, #004aeb 0%, #a83f3f 100%);
}


/* Main Designer Space */
#main #designerSpace {
    width: 100vw;
    height: calc(100vh - 60px);
    max-width: calc(100vw - 450px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.3s ease;
    background-color: #e6e6e6;
    background: radial-gradient(#383b42 6%, transparent 6%), #e6e6e6;
    background-position: 0 0, 25px 25px;
    background-size: 25px 25px;
}

#main #designerSpace.shrink {
    max-width: calc(100vw - 750px);
}

#main #designerSpace #loadingDiv {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    color: var(--text-light);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

#main #designerSpace #loadingDiv p {
    background-color: rgba(17, 0, 255, 0.6);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
    letter-spacing: .02rem;
    font-size: 17px;
    color: #e7e7e7;
}

/* Loading Animation */
.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #5dc000;
    box-shadow: 30px 0 0 #f3af1c;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #0066ec;
    box-shadow: 30px 0 0 #f83232;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f3af1c;
    }

    50% {
        box-shadow: 0 0 0 #f8611b;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #f3af1c;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #f10202;
    }

    50% {
        box-shadow: 0 0 0 #ee0202;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #5dc000;
        margin-top: 0;
    }
}

.asideLeft,
.asideRight {
    width: 300px;
    height: calc(100vh - 60px);
    overflow: hidden;
    background: #f7f7f7;
    padding: .75em 0;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5em;
    transition: all 0.3s ease-in-out;
}

.asideLeft {
    border-right: 1px solid rgba(0, 0, 0, .1);
    width: 450px;
    transition: width 0.5s ease;
    padding: 0;
    flex-direction: row;
    gap: 0;
}

.asideLeft.expanded {
    width: 750px;
}

.asideRight {
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    left: 0;
    width: 350px;
}

.asideLeft.expanded .asideRight {
    left: 300px;
    transition: left 0.3s ease-in-out;
}

.asideLeft h3,
.asideRight h3 {
    padding: .5rem 0 .35em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    margin: 0 0 .35em;
    color: #202020;
    width: 100%;
}

.asideLeft h3::first-letter,
.asideRight h3::first-letter {
    color: #ff1313;
}


/* Left Panel Accordion Menu */
ul.expandable-menu {
    width: 100px;
    margin: 0;
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
    height: 100%;
    padding-top: 1rem;
}

ul.expandable-menu li {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.25rem .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: all 0.3s ease-in-out;
}

ul.expandable-menu li.active,
ul.expandable-menu li:hover {
    background-image: linear-gradient(-250deg, #3b8509 0%, #8a4d50 29%, #0502a3 67%, #ff7b00 100%);
    color: var(--text-light);
}

ul.expandable-menu li.active .dropdownlink,
ul.expandable-menu li:hover .dropdownlink,
ul.expandable-menu li:hover .dropdownlink i,
ul.expandable-menu li.active .dropdownlink i {
    color: var(--text-light);
}

ul.expandable-menu li .dropdownlink {
    cursor: pointer;
    display: flex;
    font-size: 11px;
    font-weight: 600;
    color: #424242;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: .25rem;
    transition: all 0.3s ease-in-out;
}

ul.expandable-menu li .dropdownlink i {
    position: relative;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
    font-size: 28px;
}

ul.expandable-menu li .dropdownlink .fa-chevron-down {
    margin-left: auto;
    color: rgba(0, 0, 0, .6);
    transition: all 0.3s ease-in-out;
}

ul.expandable-menu li .accorParentContainer {
    opacity: 0;
    display: flex;
    visibility: hidden;
    background: #fff;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .75rem;
    position: fixed;
    padding: 4rem 0.5rem 0;
    top: 0;
    left: -320px;
    width: 300px;
    height: 100%;
}

ul.expandable-menu li .accorParentContainer .accordHead {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin: 0 -.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

ul.expandable-menu li .accorParentContainer .accordHead h3 {
    border-bottom: none;
}

ul.expandable-menu li .accorParentContainer .accordHead .close-btn {
    position: relative;
    top: .75rem;
    right: .75rem;
    background-color: #ff7b00;
    color: var(--text-light);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

ul.expandable-menu li .accorParentContainer .accordHead .close-btn:hover {
    background-color: #ff2600;
}

ul.expandable-menu li .accorParentContainer.active {
    left: 100px;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

ul.expandable-menu li .accorParentContainer.hide {
    opacity: 0;
    visibility: hidden;
    left: -320px;
}

.inner-container,
.inner-container.row,
.inner-container.column {
    display: flex;
    background: #fff;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0;
}

.inner-container.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.inner-container.column {
    flex-direction: column;
}

.inner-container.row>div {
    width: calc(1/4 * 100% - (1 - 1/4) * 1rem);
}

.inner-container.row.split-2>div {
    width: calc(1/2 * 100% - (1 - 1/2) * 1rem);
}

.inner-container.row.split-1-full>div {
    width: 100%;
}

.inner-container h6 {
    width: 100%;
    text-align: left;
    flex: none;
}

ul.expandable-menu li.open .accorParentContainer {
    display: flex !important;
    border-bottom: 3px solid #0400dd;
}

.radioSet {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.inner-container.row h5 {
    flex: none;
    width: 100%;
    text-align: left;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}

.radioSet.bg-light-gray {
    background-color: rgb(15, 3, 22);
    min-height: 65px;
    align-items: flex-start;
}

.radioSet.bg-light-gray.bottom-decor {
    align-items: flex-end;
}

.radioSet input[type='radio'] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.radioSet label {
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 1;
}

.radioSet label span {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(46, 196, 0, 0.678);
    color: var(--text-light);
    line-height: 1;
    font-size: 10px;
    padding: .25rem .5rem;
    border-radius: 3px;
}

.radioSet input[type='radio']:checked+label {
    display: block;
    position: absolute;
    inset: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, .6);
    border: 2px solid #f3af1c;
}

.radioSet label::after {
    display: none;
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/success_icon.png) no-repeat center center;
    background-size: 100% auto;
    z-index: 2;
}

.radioSet input[type='radio']:checked+label::after {
    display: block;
}

.radioSet img {
    width: 100%;
    position: relative;
    object-fit: cover;
    z-index: 0;
}


/* Template Builder */
.template-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: .75rem;
    padding: 2.5rem 0 1.5rem;
}

#themeOuter {
    width: 100%;
    max-width: 390px;
    height: 100%;
    max-height: 690px;
    margin: 0 auto;
    border: none;
    outline: none;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

.selectable:hover,
.template-wrapper #temp-header .photo-frame .imgHolder input[type='file']:hover {
    box-shadow: inset 0 0 0 2px #ffb327;
}

.selectable.selected,
.template-wrapper #temp-header .photo-frame .imgHolder input[type='file']:hover {
    box-shadow: inset 0 0 0 2px #ffb327;
}

#themeOuter.selectable.selected {
    box-shadow: 0 0 0 2px #ffb327;
}

.asideRight .edit-options {
    display: none;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    position: relative;
    overflow-y: auto;
    height: 100%;
    max-height: calc(100vh - 80px);
}

.asideRight .edit-options h3 {
    padding: 0 1.2rem;
}

.asideRight .edit-options .setOptions {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.asideRight .edit-options .setOptions #rightPanelPreview {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin: 0;
    padding: .35rem;
}

.asideRight .edit-options .setOptions #rightPanelPreview img {
    max-width: 100%;
}

#themeOuter #background-selector {
    width: 100%;
    height: 100%;
    background-image: url(../images/back-bg-0.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

#themeOuter.theme-dark #background-selector {
    width: 100%;
    height: 100%;
    background-image: url(../images/back-bg-0.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

#themeOuter.theme-light #background-selector {
    width: 100%;
    height: 100%;
    background-image: url(../images/back-bg-light.jpg) !important;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}

#themeOuter #background-selector #bgr-decorator {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#themeOuter #background-selector #bgr-decorator img.top-center {
    max-width: 100%;
    margin-bottom: auto;
}

#themeOuter #background-selector #bgr-decorator img.bottom-center {
    max-width: 100%;
    margin-top: auto !important;
    margin-bottom: inherit;
}

#themeOuter .template-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.template-wrapper #temp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    gap: .5rem;
    position: relative;
    width: 100%;
}

.template-wrapper #temp-header .photo-frame {
    width: 100%;
    max-width: 70%;
    height: 230px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.template-wrapper #temp-header .photo-frame .imgHolder {
    width: 60%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.template-wrapper #temp-header.default .photo-frame .imgHolder {
    margin-bottom: -1.05vh;
}

.template-wrapper #temp-header .photo-frame .imgHolder img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.template-wrapper #temp-header .photo-frame .imgHolder input[type='file'] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.template-wrapper #temp-header .photo-frame::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.template-wrapper #temp-header.default .photo-frame::after {
    background: url(../images/default-photo-frame.png) no-repeat center center;
    background-size: 100% auto;
    width: 110%;
    height: 110%;
}

.template-wrapper #temp-header.set-2 .photo-frame::after {
    background: url(../images/set2-photo-frame.png) no-repeat center center;
    background-size: 100% auto;
    width: 110%;
    height: 110%;
}

.template-wrapper #temp-header.set-3 .photo-frame::after {
    background: url(../images/set3-photo-frame.png) no-repeat center center;
    background-size: 100% auto;
}

.template-wrapper #temp-header.set-4 .photo-frame::after {
    background: url(../images/set4-photo-frame.png) no-repeat center center;
    background-size: 100% auto;
}

.template-wrapper #temp-header .clipArt {
    width: 100%;
    max-width: 15%;
}

.template-wrapper #temp-header .clipArt img {
    max-width: 100%;
}

.template-wrapper #temp-header .clipArt {
    display: none;
}

.template-wrapper #temp-header .clipArt.active {
    display: block;
}

.template-wrapper #temp-title,
.template-wrapper #temp-body,
.template-wrapper #temp-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 0 1.5rem;
}

.template-wrapper #temp-title h6#caption {
    font-family: "Chathura", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    width: fit-content;
    text-align: center;
    color: var(--text-light);
    font-style: normal;
}

.template-wrapper #temp-title h1#main-title {
    font-family: "Ramabhadra", sans-serif;
    font-size: 46px;
    line-height: 1.5;
    font-weight: normal;
    position: relative;
    padding: .75rem 0 .25rem;
    color: var(--primary-color);
    width: fit-content;
    text-align: center;
}

.template-wrapper #temp-title h1#main-title span {
    font-size: 22px;
    color: var(--text-light);
}

.template-wrapper #temp-title h1::before,
.template-wrapper #temp-title h1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    background: url(../images/decor-line-1-light.png) no-repeat center top;
    background-size: auto;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#themeOuter.theme-light .template-wrapper #temp-title h1::before,
#themeOuter.theme-light .template-wrapper #temp-title h1::after {
    background: url(../images/decor-line-1-dark.png) no-repeat center top;
}

.template-wrapper #temp-title h1::after {
    display: none;
}

.template-wrapper #temp-title h3#wish-type {
    font-family: "Chathura", sans-serif;
    font-size: 40px;
    font-weight: normal;
    width: fit-content;
    text-align: center;
    color: var(--text-light);
    font-style: normal;
    line-height: 34px;
}

.template-wrapper #temp-body p#wish-body-content {
    padding: .5rem 0;
    font-size: 19px;
    font-family: "NTR", sans-serif;
    text-align: center;
    line-height: 1.5;
    color: var(--text-light);
}

.template-wrapper #temp-footer h2 {
    padding: .5rem 0 0;
    font-size: 28px;
    font-family: "Chathura", sans-serif;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    line-height: 1.2;
    font-weight: normal;
    color: var(--text-light);
    font-style: normal;
}

#themeOuter.theme-light .template-wrapper #temp-footer h2 {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.template-wrapper #temp-footer p {
    padding: .5rem 0 0;
    font-size: 18px;
    font-family: "Mallanna", sans-serif;
    line-height: 1.2;
    font-weight: normal;
    color: var(--text-light);
    font-style: normal;
    width: fit-content;
    text-align: center;
}






/* Template Editable Options Styles */
.setOptions .flexRow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .5em;
    width: 100%;
    text-align: left;
    padding: 0 0 .75rem;
}

.setOptions .flexRow .formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: .25em;
    width: calc(1/2 * 100% - (1 - 1/2) * 10px);
}

.setOptions .flexRow .formGroup label {
    font-size: 11px;
    color: #777;
    line-height: 1;
    font-weight: 600;
}

.setOptions .flexRow .formGroup input {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .4em .6em;
    font-size: 14px;
    margin-bottom: .5em;
    line-height: 100%;
    color: var(--text-dark);
    border-radius: 4px;
}

.setOptions .flexRow .formGroup input[type="color"] {
    padding: 0;
    height: 30px;
}

.setOptions .flexRow .formGroup input:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.setOptions .flexRow .formGroup select {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .4em .6em;
    font-size: 14px;
    height: 30px;
    text-overflow: ellipsis;
    margin-bottom: .5em;
    border-radius: 4px;
    line-height: 100%;
    color: #333;
}

.formGroup.fullWidth,
.formGroup.fullWidth>* {
    min-width: 100%;
}

.formGroup.inlineFlex {
    flex-direction: row !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

.formGroup.inlineFlex label,
.formGroup.inlineFlex input {
    width: auto !important;
    margin-bottom: 0 !important;
}

.sortable-ghost {
    opacity: 0.4;
    background-color: #e2e2e2;
    border: 1px dashed #ccc;
}

.color-picker {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: .15em;
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 3px 3px 3px 35px;
    height: 30px;
    position: relative;
    border-radius: 4px;
}

.color-picker input:first-child {
    position: absolute;
    left: 1px;
    top: -1px;
    width: 30% !important;
    padding: 0 !important;
    line-height: 0 !important;
    outline: none !important;
    box-shadow: none;
    border: none !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

.color-picker input:last-child {
    padding: 0 !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    border: none !important;
    line-height: 22px !important;
}

.inner-container button.publishBtn {
    width: 100%;
    margin-top: 1.5rem;
}

.gap-lr-1 {
    padding: 0 1rem !important;
}


/* Change Color of Text in Templates */
#themeOuter.theme-dark>.template-wrapper>* {
    --text-light: #f7f7f7;
}

#themeOuter.theme-light>.template-wrapper>* {
    --text-light: #202020;
}


/* Theme Mode : Toggle Switch */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: .75rem 0 0;
    position: relative;
    text-align: left;
}

.switch {
    background: #1a1a1a;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    width: 70px;
    -webkit-transition: background .4s;
    transition: background .4s;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.switch span {
    display: inline-block;
    background: #79bd2c;
    box-sizing: border-box;
    border-radius: 50%;
    height: 20px;
    left: 5px;
    position: absolute;
    top: 4px;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    width: 20px;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
}

.switch-checkbox {
    display: none;
}

.switch-checkbox:checked~.switch {
    background: #e7e7e7;
}

.switch-checkbox:checked~.switch span {
    -webkit-transform: translateX(38px);
    transform: translateX(38px);
    background-color: #3b3b3b;
}

.status {
    display: block;
    font-family: Helvetica, Arial;
    font-size: 20px;
    height: 30px;
    white-space: nowrap;
    line-height: 30px;
    position: relative;
    text-align: left;
}

.status:before,
.status:after {
    left: -50%;
    position: absolute;
    right: -50%;
    -webkit-transition: -webkit-transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s;
}

.status-c:before {
    left: -50%;
    position: absolute;
    right: -50%;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

/* Notchecked */
.status:before {
    content: attr(data-checked);
    opacity: 0;
}

.status:after {
    content: attr(data-notchecked);
    opacity: 1;
}

/* Checked Status */
.switch-checkbox:checked~.status:before {
    opacity: 1;
}

.switch-checkbox:checked~.status:after {
    opacity: 0;
}

/* Checked Up */
.switch-checkbox:checked~.up:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.switch-checkbox:checked~.up:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Notchecked */
.up:before {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.up:after {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

/* Custom Font Selector DropDown */
.custom-font-select {
    position: relative;
    width: 250px;
}

.selected-font {
    padding: 6px 10px;
    background: #fff url(../images/select-down-arrow.svg) no-repeat 96% center;
    background-size: 12px auto;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 4px;
}

.font-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 75vh;
    overflow-y: auto;
    gap: .25rem;
    z-index: 100;
}

.font-dropdown h6 {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    color: #000;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    background-color: #dabfc6;
}

.font-option {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    padding: 4px 8px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.font-option span {
    font-size: 14px;
    font-weight: 600;
}

.font-option img {
    max-width: 100%;
}

.font-option:hover {
    box-shadow: inset 0 0 10px 0 rgba(0, 3, 177, 0.1);
}

.font-option:hover span {
    color: #1a33c4;
}

/* Show dropdown when active */
.font-dropdown.show {
    display: flex;
}

.showMobile {
    display: none !important;
}


/* Mobile Responsive Styles */
@media (min-width: 200px) and (max-width: 768px) {

    body,
    html {
        overflow: hidden;
        font-size: 14px;
    }

    #main {
        flex-direction: column;
        overflow: hidden;
    }

    .showMobile {
        display: flex !important;
    }

    .topNav h4,
    .showDesktop {
        display: none;
    }

    .topNav {
        padding: .65rem;
        position: sticky;
        top: 0;
        order: 0;
    }

    .topNav .siteLogo img {
        max-width: 130px;
    }

    #main #designerSpace #loadingDiv {
        width: 100vw;
        height: 83.5vh;
    }

    #main #designerSpace #loadingDiv p {
        max-width: 90%;
    }

    .topNav button.publishBtn,
    button.publishBtn {
        font-size: 11px;
        padding: 8px;
        gap: .35rem;
    }

    .asideLeft {
        width: 100%;
        flex-direction: column;
        height: 80px;
        margin-top: auto;
        order: 2;
        z-index: 3;
        overflow: inherit;
        position: fixed;
        bottom: 0;
    }

    .asideRight {
        width: 100%;
        flex-direction: row;
        height: 0vh;
        position: fixed;
        padding: 0;
        bottom: 0;
        left: 0 !important;
        overflow: visible;
        z-index: 0;
    }

    .asideRight.hideDiv {
        height: 35vh;
        bottom: 80px;
    }

    #mobileToggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .35rem .6rem;
        background-color: #fff;
        border-radius: 1.5rem;
        gap: .5rem;
        border: none;
        position: absolute;
        right: 0;
        top: -106px;
        z-index: 4;
    }

    .asideRight.hideDiv #mobileToggle {
        top: -25px
    }

    ul.expandable-menu li .accorParentContainer .accordHead {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff;
    }

    .asideRight .edit-options h3,
    ul.expandable-menu li .accorParentContainer .accordHead h3 {
        padding: .75rem 1.2rem;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .asideRight .edit-options {
        padding-bottom: 1rem;
    }

    .formGroup.splMobileView {
        padding: 0;
        align-items: flex-end !important;
    }

    .formGroup.splMobileView label[for="theme"] {
        display: none;
    }

    .formGroup.splMobileView .switch-container {
        width: auto;
        min-width: 40%;
        margin-top: 8px;
    }

    .status {
        font-size: 13px;
    }

    #exportOptions .setOptions {
        padding: 0 1rem;
        position: sticky;
        top: 0;
        margin-bottom: -60px;
        align-items: flex-end;
        z-index: 3;
    }

    .inner-container button.publishBtn {
        padding: 12px 16px;
        line-height: 1.5;
        font-size: 14px;
        gap: .75rem;
    }

    ul.expandable-menu li .dropdownlink {
        gap: 0;
    }

    ul.expandable-menu li .dropdownlink i {
        font-size: 20px;
    }

    ul.expandable-menu {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0 -4px 6px 3px rgba(0, 0, 0, 0.05);
    }

    #main #designerSpace {
        max-width: 100% !important;
        align-items: flex-start;
        order: 1;
        height: calc(100vh - 16.5vh);
    }

    #main #designerSpace.lessHeight {
        height: calc(100vh - 50.5vh);
    }

    .asideLeft.expanded {
        width: 100%;
    }

    ul.expandable-menu li .accorParentContainer.active {
        left: 0;
        width: 100%;
        height: 44.4vh;
        overflow-y: auto;
        top: auto;
        bottom: 0;
        padding: .5rem;
        padding: 0 .5rem;
    }

    .template-wrapper #temp-title,
    .template-wrapper #temp-body,
    .template-wrapper #temp-footer {
        padding: 0 1.5rem;
    }

    .asideRight .edit-options .setOptions {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .asideRight .edit-options .setOptions .radioSet {
        width: calc(1/2 * 100% - (1 - 1/2) * 1rem);
    }

    .selected-font {
        margin-bottom: 0;
    }

    .font-dropdown {
        max-height: 21vh;
    }

    #themeOuter {
        height: auto;
        max-height: fit-content;
        min-height: 100%;
        padding-bottom: 2rem;
    }
}