<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-8</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template-8 Start -->
            <div class="template-wrapper" id="birthday-temp-8"
                style="background-image: url(/assets/images/back-bg-24.jpg);">

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="bt8Body">
                        <div class="imgHolder selectable mask">
                            <img id="childPhoto" src="/assets/images/dad-with-girl-child.png" alt="">
                            <input name="child" type="file" accept="image/*"
                                onchange="document.getElementById('childPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h6 class="selectable" contenteditable="true" data-options="editOptions">Happy</h6>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            Birthday
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            Father and Daughter</p>
                        <div class="splBodyTxt">
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">
                                Mamillapalley</h5>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">Chandrakanth Reddy
                                <br> Advaitha Reddy
                            </h2>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">Date: 14-02-2025</h3>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-8 End -->

        </div>
    </body>

</html>