<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-5</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template-5 Start -->
            <div class="template-wrapper" id="birthday-temp-5"
                style="background-image: url(/assets/images/back-bg-0.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="bt5Head">
                        <div class="imgHolder selectable">
                            <img id="topDecor" src="/assets/images/top-decor-8.png" alt="">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('topDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">జన్మదిన శుభాకాంక్షలు
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="bt5Body">
                        <div class="imgHolder selectable mask">
                            <img id="main-photo" src="/assets/images/man-photo-2.png" alt="">
                            <input name="usrphoto" type="file" accept="image/*"
                                onchange="document.getElementById('main-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">మహాత్మా గాంధీజి
                            పుట్టినరోజున జన్మించిన <br> పాలకొల్లు కాస్మో కల్చరల్ స్పోర్ట్స్ కాంప్లెక్స్ అధ్యక్షులు,</h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            జై భారత్ క్షీరారామ ఆక్వా రైతు సంఘం అధ్యక్షులు, <br> మాజీ AMC చైర్మెన్</p>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            శ్రీ గొట్టుముక్కల గాంధీ భగవాన్ రాజు
                        </h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            గారికి ఇవే మా హార్థిక జన్మదిన శుభాకాంక్షలు</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="bt5Footer">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            కాస్మో కల్చరల్ స్పోర్ట్స్ కాంప్లెక్స్, పాలకొల్లు
                        </h2>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            జై భారత్ క్షీరారామ ఆక్వా రైతు సంఘం పాలకొల్లు, నరసాపురం, ఆచంట
                        </h1>
                        <div class="imgHolder selectable">
                            <img id="botDecor" src="/assets/images/bot-decor-2.png" alt="">
                            <input name="bdecor" type="file" accept="image/*"
                                onchange="document.getElementById('botDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-5 End -->

        </div>
    </body>

</html>