<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-6</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template-6 Start -->
            <div class="template-wrapper" id="birthday-temp-6"
                style="background-image: url(/assets/images/back-bg-12.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="bt6Head">
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">మా బాహుబలి కి
                        </h5>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">జన్మదిన శుభాకాంక్షలు
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">PAN ఇండియా స్టార్ పశ్చిమ
                            గోదావరి జిల్లా ముద్దు బిడ్డ</p>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">రెబల్ స్టార్ ప్రభాస్
                            గారికి ఇవే మా జన్మదిన శుభాకాంక్షలు
                        </h3>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="bt6Body">
                        <div class="imgHolder selectable mask absPosLeft">
                            <img id="prabhas" src="/assets/images/birthday-party.png" alt="">
                            <input name="prabhas" type="file" accept="image/*"
                                onchange="document.getElementById('prabhas').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="imgHolder selectable mask mainPhoto">
                            <img id="prabhas" src="/assets/images/prabhas-photo.png" alt="">
                            <input name="prabhas" type="file" accept="image/*"
                                onchange="document.getElementById('prabhas').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="imgHolder selectable mask absPosRight">
                            <img id="prabhas" src="/assets/images/krishnam-raju.png" alt="">
                            <input name="prabhas" type="file" accept="image/*"
                                onchange="document.getElementById('prabhas').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">రెబల్ స్టార్ పుట్టిన
                            రోజు సందర్భంగా <br>
                            పశ్చిమ గోదావరి జిల్లా ప్రభాస్ ఫ్యాన్స్ అసోసియేషన్ అధ్యక్షులు</p>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            ఉండి వాసు గారి ఆధ్వర్యంలో</h2>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="bt6Footer">
                        <div class="imgHolder selectable mask">
                            <img id="botDecor" src="/assets/images/namaste-dummy.png" alt="">
                            <input name="bdecor" type="file" accept="image/*"
                                onchange="document.getElementById('botDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="venue">
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">
                                Darling Party
                            </h5>
                            <h4 class="selectable" contenteditable="true" data-options="editOptions">6:00PM TO 8:00PM
                            </h4>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                వరకు భీమవరం మార్కెట్ యార్డు వద్ద నిర్వహించుచున్నాము
                            </p>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మీ</span> ఉండి వాసు
                            </h2>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                పశ్చిమ గోదావరి జిల్లా అధ్యక్షులు
                            </p>
                        </div>
                        <div class="ctaHint">
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                క్లిక్ చేసి ప్రభాస్ గారికి
                            </h2>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                జన్మదిన శుభాకాంక్షలు తెలపవచ్చును
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-6 End -->

        </div>
    </body>

</html>