<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-10</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template-10 Start -->
            <div class="template-wrapper" id="birthday-temp-10"
                style="background-image: url(/assets/images/back-bg-25.jpg);">

                <!-- Template Header -->
                <div id="temp-header" class="birthday-temp-header-thumbs">
                    <div class="bt10Head">
                        <div class="row-photo-frame inlineFlex" id="row-head-frame">
                            <div class="imgHolder selectable">
                                <img id="thumb-1" src="/assets/images/cbn.png" alt="" />
                                <input name="photo" type="file" accept="image/*"
                                    onchange="document.getElementById('thumb-1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                జన్మదిన <br>శుభాకాంక్షలు
                            </h1>
                            <div class="imgHolder selectable">
                                <img id="thumb-2" src="/assets/images/lokesh.png" alt="" />
                                <input name="photo" type="file" accept="image/*"
                                    onchange="document.getElementById('thumb-2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="bt10Body">
                        <div class="imgHolder selectable mainPhoto">
                            <img id="mainPhoto" src="/assets/images/chintamaneni.png" alt="">
                            <input name="pt2" type="file" accept="image/*"
                                onchange="document.getElementById('mainPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>శ్రీ</span>
                            చింతమనేని ప్రభాకర్ <span>గారు</span></h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            మాకు అత్యంత ఆప్తులు శ్రీ చింతమనేని ప్రభాకర్ గారికి</p>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            జన్మదిన మరియు నూతన సంవత్సర శుభాకాంక్షలు</h3>
                        <p class="selectable mt-0" contenteditable="true" data-options="editOptions">
                            మా కష్టమర్లకు, మిత్రులకు, శ్రేయోభిలాషులకు</p>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">
                            నూతన సంవత్సర మరియు సంక్రాంతి శుభాకాంక్షలు</h4>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="bt10Footer">
                        <div class="cardSideImg">
                            <div class="imgHolder selectable idCard">
                                <img id="idcard" src="/assets/images/id-card.jpg" alt="">
                                <input name="id" type="file" accept="image/*"
                                    onchange="document.getElementById('idcard').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="distCard">
                                <div class="imgHolder selectable mask">
                                    <img id="user-2" src="/assets/images/old-man.png" alt="">
                                    <input name="user2" type="file" accept="image/*"
                                        onchange="document.getElementById('user-2').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                    బాదంపూడి రమేష్ బాబు
                                </h3>
                            </div>
                        </div>
                        <p class="address selectable" contenteditable="true" data-options="editOptions">
                            మోతివారి వీధి, పాత బస్ స్టాండ్, పవర్ పేట, ఏలూరు.
                        </p>
                        <p class="contact selectable" contenteditable="true" data-options="editOptions">
                            9505776777
                        </p>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-10 End -->

        </div>
    </body>

</html>