<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-7</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template-7 Start -->
            <div class="template-wrapper" id="birthday-temp-7"
                style="background-image: url(/assets/images/back-bg-17.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="bt7Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">HAPPY 60<sup>th</sup>
                            BIRTHDAY
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="bt7Body">
                        <div class="imgHolder selectable mask">
                            <img id="main-photo" src="/assets/images/old-man.png" alt="">
                            <input name="usrphoto" type="file" accept="image/*"
                                onchange="document.getElementById('main-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>Sri</span> K.S.Ravi Kumar
                        </h1>
                        <h6 class="selectable" contenteditable="true" data-options="editOptions">Chairman, JPNCE</h6>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            కృషీవలుడు, కార్యసాధకులు, ప్రముఖ విద్యావేత్త, నిరంతరం విద్యార్థుల బంగారు భవిష్యత్తును
                            ఆకాంక్షించే మా కళాశాల చైర్మన్</p>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions"><span>శ్రీ</span>
                            కె.ఎస్. రవి కుమార్ <span>గారికి</span></h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            హార్థిక జన్మదిన శుభాకాంక్షలు</p>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">With best regards:
                            Director, Principal, Staff & Students</h5>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="bt7Footer">
                        <div class="imgHolder selectable">
                            <img id="college-logo" src="/assets/images/college-logo.png" alt="">
                            <input name="clogo" type="file" accept="image/*"
                                onchange="document.getElementById('college-logo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="logoText">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                JAYAPRAKASH NARAYAN COLLEGE OF ENGINEERING
                            </h1>
                            <h6 class="selectable" contenteditable="true" data-options="editOptions">
                                (Approved by AICTE Alated to UNTU Myderdood)
                            </h6>
                            <p class="selectable colorBlue" contenteditable="true" data-options="editOptions">NAAC
                                ACCREDITED/UGC AUTONOMOUS INSTITUTION</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">Dharmapur,
                                Mahabubnagar - 509 001, Telangana</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-7 End -->

        </div>
    </body>

</html>