<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday Template-9</title>

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Birthday Template-9 Start -->
            <div class="template-wrapper" id="birthday-temp-9"
                style="background-image: url(/assets/images/back-bg-3.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="bt9Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">జన్మదిన శుభాకాంక్షలు
                        </h1>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">Happy Birthday
                        </h2>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="bt9Body">
                        <div class="photoSplit">
                            <div class="imgHolder selectable mask imgLS">
                                <img id="leftPhoto" src="/assets/images/prabhas-4.png" alt="">
                                <input name="pt1" type="file" accept="image/*"
                                    onchange="document.getElementById('leftPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable mask mainPhoto">
                                <img id="mainPhoto" src="/assets/images/prabhas-2.png" alt="">
                                <input name="pt2" type="file" accept="image/*"
                                    onchange="document.getElementById('mainPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable mask imgRS">
                                <img id="rightPhoto" src="/assets/images/prabhas-3.png" alt="">
                                <input name="pt3" type="file" accept="image/*"
                                    onchange="document.getElementById('rightPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>శ్రీ</span>
                            B.వినోద్ కుమార్ <span>గారు</span></h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            AE, పంచాయితీ రాజ్, దేవరపల్లి</p>
                        <p class="selectable mt-0" contenteditable="true" data-options="editOptions">
                            మంచి మనిషి, నిగర్వి, చక్కని చిరునవ్వుతో అందరిని ఆప్యాయంగా
                            పలకరించే గుణం. వృత్తి మరియు వ్యక్తిగత జీవితంలో <br>
                            "అజాత శత్రువు అయిన</p>
                        <div class="contntFlowers">
                            <div class="imgHolder selectable flowersLS">
                                <img id="flowersLs" src="/assets/images/flower-bokey.png" alt="">
                                <input name="flowers1" type="file" accept="image/*"
                                    onchange="document.getElementById('flowersLs').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                B. వినోద్ కుమార్ <span>గారికి</span>
                            </h2>
                            <div class="imgHolder selectable flowersRS">
                                <img id="flowersRs" src="/assets/images/flower-bokey.png" alt="">
                                <input name="flowers2" type="file" accept="image/*"
                                    onchange="document.getElementById('flowersRs').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                హృదయ పూర్వక <span>జన్మదిన శుభాకాంక్షలు</span> మీరు భవిష్యత్తులో
                                మరెన్నో ఇలాంటి పుట్టినరోజులు జరుపుకోవాలని ఆకాంక్షిస్తూ</p>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="bt9Footer">
                        <div class="boxedText">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>భార్య :</span> సంపన్న కుమారి
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమారులు :</span> <br> విజయ్ వర్ధన్, హర్షవర్ధన్
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రేయోభిలాషి :</span> సుప్రియ
                            </h3>
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            కుటుంబ సభ్యులు మరియు బంధు మిత్రులు
                        </h2>
                        <div class="imgHolder selectable">
                            <img id="botDecor" src="/assets/images/decor-line-1-light.png" alt="">
                            <input name="bdecor" type="file" accept="image/*"
                                onchange="document.getElementById('botDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-9 End -->

        </div>
    </body>

</html>