<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Default Birthday Template-1</title>

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/birthday-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Default Birthday Template Start -->
            <div class="template-wrapper" id="main-template-1"
                style="background-image: url(../../assets/images/back-bg-4.jpg);">
                <!-- Template Header -->
                <div id="temp-header" class="default selectable" data-options="headerOptions">
                    <div class="imgHolder selectable topDecoration">
                        <img id="tpDecor" src="../../assets/images/top-decor-baloons1.png" alt="" />
                        <input name="decorator" type="file" accept="image/*"
                            onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                    <div class="clipArt" id="left-object">
                        <img src="../../assets/images/baloons-1.png" alt="">
                    </div>
                    <div class="photo-frame" id="head-frame">
                        <div class="imgHolder">
                            <img id="output" src="../../assets/images/replacable-photo.jpg" alt="" />
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                    <div class="clipArt" id="right-object">
                        <img src="../../assets/images/baloons-1.png" alt="">
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <!-- Template Title Section -->
                    <div class="temp-title">
                        <h6 contenteditable="true" class="caption selectable" data-options="editOptions">మా
                            ఆశా జ్యోతి, మా బంగారు చిట్టి తల్లి</h6>
                        <h1 contenteditable="true" class="main-title selectable" data-options="editOptions">
                            జ్ఞాన ప్రియ ప్రసూన <span contenteditable="true" class="selectable"
                                data-options="editOptions">కు</span>
                        </h1>
                        <h3 contenteditable="true" class="wish-type selectable" data-options="editOptions">
                            పుట్టిన రోజు శుభాకాంక్షలు</h3>
                    </div>

                    <p contenteditable="true" class="wish-body-content selectable" data-options="editOptions">
                        కోటి
                        కాంతుల
                        చరునవ్వులతో భగవంతుడు నీకు నిండు నూరేళ్ళు ఇవ్వాలని మనస్పూర్తిగా కోరుకుంటూ</p>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <h2 contenteditable="true" class="from-wish selectable" data-options="editOptions">
                        ఇట్లు ప్రేమతో:
                    </h2>
                    <p contenteditable="true" class="who-wished selectable" data-options="editOptions">
                        అమ్మా,
                        నాన్న, అమ్మమ్మలు, తాతయ్యలు, బాబాయి, మామయ్యా, పిన్ని ఇంకా ప్రియ సహచర బంధుగణం.!</p>

                    <div class="imgHolder selectable tempOneDecor">
                        <img id="btDecor" src="../../assets/images/bot-decor-birthday-party.png" alt="" />
                        <input name="decoration" type="file" accept="image/*"
                            onchange="document.getElementById('btDecor').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                </div>
            </div>
            <!-- Birthday Template End -->
        </div>
    </body>

</html>