<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-4</title>

        <link rel="stylesheet" href="/assets/css/greeting-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Greetings Template-4 Start -->
            <div class="template-wrapper" id="greetings-template-4"
                style="background-image: url(../../assets/images/back-bg-54.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="greet4Head">
                        <div class="brandHolder">
                            <div class="imgHolder imgLS">
                                <img id="leftDecor" src="/assets/images/kite-clipart-1.png" alt="">
                                <input name="kite" type="file" accept="image/*"
                                    onchange="document.getElementById('leftDecor').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder mainPhoto">
                                <img id="brandLogo" src="/assets/images/kruthika-logo.png" alt="">
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brandLogo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder imgRS">
                                <img id="rightDecor" src="/assets/images/pongal-pot-2.png" alt="">
                                <input name="pot" type="file" accept="image/*"
                                    onchange="document.getElementById('rightDecor').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="greet4Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            సంక్రాంతి శుభాకాంక్షలు
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మీ ఇంటి నిర్మాణానికి
                            కావాల్సిన అన్ని రకముల <span> BUILDING మెటీరియల్స్</span> మా దగ్గర లభించును <br> మా వద్ద
                            నాణ్యమైన గోదావరి ఇసుక మరియు అన్ని సైజుల్లో కంకర సరసమైన ధరలకు మధ్యవర్తులు ప్రమేయం లేకుండా
                            లభించును
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="greet4Footer">
                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="guest-1" src="/assets/images/namaste-dummy.png" alt="">
                                    <input name="guest" type="file" accept="image/*"
                                        onchange="document.getElementById('guest-1').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    డా॥ బొబ్బా కమలేష్
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    MBBS, MS, (ENT)</p>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">
                                    చెవి, ముక్కు, గొంతు వ్యాధులు ఎండోస్కోపిక్ & మైక్రోఇయర్ సర్జరీ</h6>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="guest-2" src="/assets/images/modal-with-jewellery-2.png" alt="">
                                    <input name="guest2" type="file" accept="image/*"
                                        onchange="document.getElementById('guest-2').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    డా॥ ఆరుమిల్లి పద్మజారాణి
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    MS. (Obst & Gyn)</p>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">
                                    ప్రసూతి. స్త్రీ వ్యాధుల మరియు సంతాన సాఫల్య వైద్యనిపుణులు</h6>
                            </div>
                        </div>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">95811 36334
                        </p>
                    </div>
                </div>
            </div>
            <!-- Greetings Template-3 End -->
        </div>
    </body>

</html>