<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Greetings Template-6</title>

        <link rel="stylesheet" href="./assets/css/greeting-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Petemoss&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Greetings Template-6 Start -->
            <div class="template-wrapper" id="greetings-template-6"
                style="background-image: url(../../assets/images/back-bg-94.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="greet6Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="top-decor" src="./assets/images/top-decor-21.png" alt="">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('top-decor').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>ముత్యాల వారి</span> షష్టిపూర్తి ఆహ్వానం
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="greet6Body">
                        <p class="selectable" contenteditable="true" data-options="editOptions">శ్లో||
                            కళ్యాణాద్భుతగాత్రయ కామితార్థ ప్రదాయినే శ్రీమద్ వెంకటనాథాయ శ్రీనివాసాయ మంగళం</p>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">స్వస్తిశ్రీ చాంద్రమాన
                            శ్రీ శుభకృతు నామ సంవత్సర శ్రావణ మాసం బ|| అష్టమి శుక్రవారం అనగా</h5>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">17 ఆగష్టు 2024
                            <span>తేదీన</span>
                        </h1>
                        <div class="framedPhoto">
                            <div class="imgHolder selectable">
                                <img id="usrPhoto" src="./assets/images/elders-photo.jpg" alt="">
                                <input name="photo" type="file" accept="image/*"
                                    onchange="document.getElementById('usrPhoto').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">మా తల్లి తండ్రులు</h5>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions"><span>శ్రీమాన్</span>
                            రాము <span>శ్రీమతి</span> సీత</h2>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="greet6Footer">
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">దంపతులకు షష్టి పూర్తి
                            నిర్వహించనున్నాము. కావున తామెల్లరు తప్పక రాగలరు.</h5>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">వేదిక: మాతా
                            కన్వెన్షన్, రంగాపురం</h4>
                    </div>
                </div>
            </div>
            <!-- Greetings Template-6 End -->
        </div>
    </body>

</html>