<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-3</title>

        <link rel="stylesheet" href="/assets/css/greeting-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Greetings Template-3 Start -->
            <div class="template-wrapper" id="greetings-template-3"
                style="background-image: url(../../assets/images/back-bg-53.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="greet3Head">
                        <div class="imgHolder topDecor">
                            <img id="top-decor" src="/assets/images/top-decor-15.png" alt="">
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('top-decor').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            సంక్రాంతి శుభాకాంక్షలు
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="greet3Body">
                        <h2 class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">
                            శ్రీపద్మజ E.N.T. & మెటర్నిటీ హాస్పటల్</h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions"><img
                                src="/assets/images/location-dark.svg" alt="" style="width: 1rem;height: 1rem;"> యూనియన్
                            బ్యాంక్ ప్రక్కన, యడ్లబజార్ - <span>పాలకొల్లు</span>
                        </p>
                        <h6 class="selectable" contenteditable="true" data-options="editOptions">Contact No:
                            08814-229288</h6>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">ప్రతిరోజు గర్భిణీ
                            స్త్రీలకు మరియు మహిళలకు అందించు వైద్య చికిత్సలు
                        </p>
                        <div class="borderedList">
                            <ul class="darkColored">
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        నార్మల్ డెలివరి, సిజేరియన్ డెలివరి</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        గర్భిణీ స్త్రీలలో వచ్చే బి.పి.. షుగర్, థైరాయిడ్</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        ఉమ్మనీరు తక్కువగా ఉండటం, ఉమ్మనీరు పోవడం</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        శిశువు పెరుగుదల లేకపోవడం</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        గర్భస్రావం సమస్యలు</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        సంతానలేమి సమస్యలు</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        రజస్వల కాకపోవడం</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        స్త్రీలలో కడుపునొప్పి పొత్తి కడుపులో నొప్పి</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        అధిక రక్తస్రావము తెల్ల బట్టలపడం, నెలసరి సమస్యలు</p>
                                </li>
                            </ul>
                            <ul class="blueColored">
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        అండాశయంలో గడ్డలు, నీటి బుడగలు</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        స్త్రీలలో గర్భనంచి గడ్డలు</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        నడుమునొప్పి కడుపునొప్పి</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        మెనోపాజ్ స్త్రీలలో కలిగే శారీరక సమస్యలు</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        హార్మోన్స్ సంబంధిత సమస్యలు పెద్ద వయస్సు స్త్రీలలో వచ్చే ఆరోగ్య సమస్యలు</p>
                                </li>
                                <li>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        స్త్రీలకు సంబంధించిన అన్ని రకాల ఆరోగ్య సమస్యలకు చికిత్స ప్రతిరోజు అందించబడును.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">సంతానం లేని వారికి
                            చికిత్స కలదు.</h3>
                        <p class="selectable txtDarkBlue" contenteditable="true" data-options="editOptions">చెవిలో
                            చీముకు, వినికిడి లోపము, తల తిరుగుట, చెవిలో శబ్దమునకు
                            ముక్కు దూలం వంకరకు, ముక్కులో కండలు పెరిగినపుడు, ముక్కలో పాలిడు సైనస్ తలనొప్పికి, కంటిలో నీరు
                            కారుటకు, ముక్కు నుండి రక్తం
                            కారుట, గొంతు బింగురవుట
                            "ఎండోస్కోపి సైనస్ సర్జరీ మైక్రో ఇయర్ <span>సర్జరీ చేయబడును.</span></p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="greet3Footer">
                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="guest-1" src="/assets/images/namaste-dummy.png" alt="">
                                    <input name="guest" type="file" accept="image/*"
                                        onchange="document.getElementById('guest-1').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    డా॥ బొబ్బా కమలేష్
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    MBBS, MS, (ENT)</p>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">
                                    చెవి, ముక్కు, గొంతు వ్యాధులు ఎండోస్కోపిక్ & మైక్రోఇయర్ సర్జరీ</h6>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="guest-2" src="/assets/images/modal-with-jewellery-2.png" alt="">
                                    <input name="guest2" type="file" accept="image/*"
                                        onchange="document.getElementById('guest-2').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    డా॥ ఆరుమిల్లి పద్మజారాణి
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    MS. (Obst & Gyn)</p>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">
                                    ప్రసూతి. స్త్రీ వ్యాధుల మరియు సంతాన సాఫల్య వైద్యనిపుణులు</h6>
                            </div>
                        </div>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">95811 36334
                        </p>
                    </div>
                </div>
            </div>
            <!-- Greetings Template-3 End -->
        </div>
    </body>

</html>