@import url("temp_builder_mainV2.css");

body {
    background-color: #ddd;
}

.template-wrapper {
    position: relative;
    overflow: hidden;
}

#greetings-template-1 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    padding: 1.5rem 1.5rem 0 !important;
    width: 100%;
    gap: .5rem;
}

#greetings-template-1 #temp-body {
    padding: 0 !important;
}

.headTitlesSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 0;
}

.headTitlesSection .mainTitle {
    font-family: "Anek Telugu", sans-serif;
    font-size: 34px;
    line-height: 1;
    font-weight: bold;
    position: relative;
    padding: 1rem 0 0;
    margin-top: -1rem;
    width: fit-content;
    text-align: center;
    color: #0b2d94;
}

.headTitlesSection .imgHolder.absPosition {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.headTitlesSection .imgHolder.absPosition img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headTitlesSection .subTitle {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
    position: relative;
    padding: .35rem 0 0;
    width: fit-content;
    text-align: center;
    color: #f23613;
    text-transform: uppercase;
}

.headTitlesSection .thirdLevel {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    position: relative;
    padding: .15rem 0 0;
    width: fit-content;
    text-align: center;
    color: #333;
}

.headTitlesSection .fourthLevel {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    position: relative;
    padding: .15rem 0 0;
    width: fit-content;
    text-align: center;
    color: #0e367b;
}

.headTitlesSection .fifthLevel {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-direction: row;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 500;
    position: relative;
    padding: .15rem 0 0;
    gap: .15rem;
    width: fit-content;
    text-align: center;
    color: #0e367b;
}

.headTitlesSection .fifthLevel i.email {
    width: 10px;
    height: 10px;
    background: url(../images/email-icon.png) no-repeat center center;
    background-size: 100% auto;
}

.themeBehind {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    width: 100%;
}

.themeBehind .imgHolder.schoolTheme {
    position: absolute;
    width: 100%;
    max-height: 140px;
    overflow: hidden;
}

.themeBehind .imgHolder.schoolTheme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.themeBehind .principal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1.75rem;
    gap: .25rem;
    position: relative;
    width: 45%;
    align-self: stretch;
}

.themeBehind .principal .imgHolder {
    width: 55%;
    height: 110px;
    border: 2px solid #fff;
    border-radius: 3px;
    overflow: hidden;
}

.themeBehind .principal .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.themeBehind .principal .titleWithBg {
    position: relative;
    width: 100%;
    background-color: #072593;
    padding: .15rem .25rem;
    border-radius: 6px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 53px;
    flex-direction: column;
}

.themeBehind .principal .titleWithBg h2 {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    padding: 0 0 .3rem;
    width: fit-content;
    text-align: center;
    color: #fff;
}

.themeBehind .principal .titleWithBg h5 {
    font-family: "Oswald", sans-serif;
    font-size: 9px;
    line-height: 1.2;
    font-weight: 400;
    position: relative;
    padding: 0 0 .3rem;
    width: fit-content;
    text-align: center;
    color: #fff;
}

.school-theme .article-story {
    font-family: "Oswald", sans-serif;
    font-size: 11px;
    line-height: 1;
    font-weight: 500;
    position: relative;
    padding: .3rem 0;
    width: fit-content;
    text-align: center;
    color: #09219b;
}

#greetings-template-1 #temp-footer {
    padding: 0;
}

.school-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -1rem;
}

.school-footer .school-stamp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    flex: 1 1 100%;
}

.school-footer .school-stamp .imgHolder {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.school-footer .school-stamp .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.school-footer .school-stamp h1 {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    position: relative;
    padding: 0;
    width: fit-content;
    text-align: left;
    color: #fff;
}

.school-footer .school-stamp h1 span {
    font-size: 13px;
}

.school-footer .cardsRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: .15rem;
}

.school-footer .cardsRow .class-room {
    width: calc(1/2 * 100% - (1 - 1/2) * .25rem);
    position: relative;
    border: 2px solid #fff;
    border-radius: 4px;
    align-self: stretch;
    overflow: hidden;
}

.school-footer .cardsRow .class-room .imgHolder {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
}

.school-footer .cardsRow .class-room p {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .25rem .15rem !important;
    background-color: #081f62 !important;
    font-family: "Anek Telugu", sans-serif !important;
    font-size: 9px !important;
    line-height: 1.2;
    color: #fff !important;
    text-align: center !important;
}

#greetings-template-1 #temp-footer .school-footer p.footBottomTxt {
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    line-height: 1;
    font-weight: 500;
    position: relative;
    padding: .35rem 0 0;
    width: fit-content;
    text-align: center;
    color: #0e367b;
}