@import url("temp_builder_mainV2.css");

body {
    background-color: #ddd;
}

.template-wrapper {
    position: relative;
    overflow: hidden;
}

.imgHolder.fullWidth {
    margin-bottom: -2rem;
}

/* Promotions Template-1 Styles */
#promotion-template-1 .ajaraHospitals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -1.5rem;
    width: 100%;
}

#promotion-template-1 .ajaraHospitals .imgHolder {
    width: 150px;
    height: 55px;
    overflow: hidden;
}

#promotion-template-1 .ajaraHospitals .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#promotion-template-1 .ajaraHospitals .ajaraMain {
    font-family: "Bonalu", sans-serif;
    font-size: 70px;
    line-height: 1;
    font-weight: normal;
    position: relative;
    padding: 0;
    color: #233d9c;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
}

#promotion-template-1 .ajaraHospitals .ajaraSub {
    font-family: "Anek Telugu", sans-serif;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
    position: relative;
    padding: 0;
    color: #f2701a;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
}

#promotion-template-1 .ajaraHospitals .ajaraSub span {
    font-size: 20px;
    font-weight: normal;
    color: #233d9c;
}

#promotion-template-1 .ajaraHospitals .ajaraSubThirdLevel {
    font-family: "Anek Telugu", sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    margin-top: -.5rem;
    position: relative;
    padding: .6rem .6rem 0;
    color: #fff;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    background-color: #233d9c;
    border-radius: 5px;
}

#promotion-template-1 .ajaraListBody {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .75rem;
    position: relative;
    gap: 1rem;
    margin: .5rem auto 0;
    border: 1px solid #0a8745;
    border-radius: 6px;
    width: 100%;
}

#promotion-template-1 .ajaraListBody .ajaraListHead {
    margin: -2rem auto;
    font-family: "Anek Telugu", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    position: relative;
    padding: .6rem .6rem 0;
    color: #fff;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    background-color: #0a8745;
    border-radius: 5px;
}

#promotion-template-1 .ajaraListBody ul {
    margin: -.5rem 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .1rem 1rem;
    width: 100%;
}

#promotion-template-1 .ajaraListBody ul li {
    font-family: "Anek Telugu", sans-serif;
    display: list-item;
    list-style: disc inside;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    position: relative;
    padding: 0;
    color: #000;
    width: calc(1/2 * 100% - (1 - 1/2) * 1rem);
    background-color: transparent;
    white-space: nowrap;
    text-align: left;
}

#promotion-template-1 .ajaraFooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: .35rem;
    position: relative;
}

#promotion-template-1 .ajaraFooter .offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
    position: relative;
    background-color: #233d9c;
    margin-top: .5rem;
    padding: .3rem 1.2rem .6rem;
    border-radius: 6px;
}

#promotion-template-1 .ajaraFooter .offers h4 {
    position: absolute;
    top: -.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Mallanna", sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    background-color: #fff;
    text-align: center;
    border: 1px solid #233d9c;
    border-radius: 5px;
    padding: .25rem .5rem;
    color: #233d9c;
}

#promotion-template-1 .ajaraFooter .offers h1 {
    font-family: "Mallanna", sans-serif;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    padding: 0;
    color: #fff005;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#promotion-template-1 .ajaraFooter .offers h1 span {
    font-size: 42px;
}

#temp-footer .ajaraFooter .offers h3 {
    font-family: "Mallanna", sans-serif;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    padding: 0;
    color: #fff;
    text-align: center;
    text-decoration: line-through;
}

#temp-footer .ajaraFooter .offers h2 {
    font-family: "Mallanna", sans-serif;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    padding: .15rem .5rem;
    background-color: #fff005;
    display: flex;
    width: fit-content;
    color: #233d9c;
    border-radius: 4px;
    text-align: center;
}

#temp-footer .ajaraFooter p.address {
    font-family: "Mallanna", sans-serif !important;
    font-size: 17px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    padding: 0 0 0 1.2rem !important;
    margin: 0 auto !important;
    width: fit-content !important;
    display: flex;
    color: #233d9c !important;
    text-align: center !important;
    position: relative;
}

#temp-footer .ajaraFooter p.address::before {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    margin-left: -1.2rem;
    width: 4px;
    height: 4px;
    background: url(../images/location-dark.svg) no-repeat center center !important;
    filter: none !important;
    background-size: 100% auto !important;
    width: 16px !important;
    height: 16px !important;
}

#temp-footer .ajaraFooter p.contact {
    font-family: "Oswald", sans-serif !important;
    font-size: 17px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    padding: .25rem .5rem .25rem 1.5rem !important;
    color: #233d9c !important;
    text-align: center;
    position: relative;
    display: flex;
    width: fit-content !important;
    background-color: #fdf305 !important;
    border-radius: 5px;
}

#temp-footer .ajaraFooter p.contact::before {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    margin-left: -1.2rem;
    width: 4px;
    height: 4px;
    background: url(../images/phone-icon.png) no-repeat center center;
    background-size: 100% auto;
    filter: none !important;
    width: 14px;
    height: 14px;
}

#temp-footer .ajaraFooter p.whatsapp {
    font-family: "Mallanna", sans-serif !important;
    font-size: 17px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .25rem 1.5rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    display: flex;
    width: fit-content !important;
    background-color: #29a61e !important;
    border-radius: 5px;
}

#temp-footer .ajaraFooter p.whatsapp::before {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    margin-left: -1.2rem;
    width: 4px;
    height: 4px;
    background: url(../images/whatsapp_icon.png) no-repeat center center;
    background-size: 100% auto;
    filter: invert(1);
    width: 14px;
    height: 14px;
}

#temp-footer .ajaraFooter p.whatsapp::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -.75rem;
    width: 4px;
    height: 4px;
    background: url(../images/click_hand_icon.png) no-repeat center center;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
}