@import url("temp_builder_mainV2.css");

body {
    background-color: #ddd;
}

.template-wrapper {
    position: relative;
    overflow: hidden;
}

.imgHolder.fullWidth {
    margin-bottom: -2rem;
}

/* Promotions Template-1 Styles */
#promotion-template-1 .ajaraHospitals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -1.5rem;
    width: 100%;
}

#promotion-template-1 .ajaraHospitals .imgHolder {
    width: 150px;
    height: 55px;
    overflow: hidden;
}

#promotion-template-1 .ajaraHospitals .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#promotion-template-1 .ajaraHospitals .ajaraMain {
    font-family: "Bonalu", sans-serif;
    font-size: 70px;
    line-height: 1;
    font-weight: normal;
    position: relative;
    padding: 0;
    color: #233d9c;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
}

#promotion-template-1 .ajaraHospitals .ajaraSub {
    font-family: "Anek Telugu", sans-serif;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
    position: relative;
    padding: 0;
    color: #f2701a;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
}

#promotion-template-1 .ajaraHospitals .ajaraSub span {
    font-size: 20px;
    font-weight: normal;
    color: #233d9c;
}

#promotion-template-1 .ajaraHospitals .ajaraSubThirdLevel {
    font-family: "Anek Telugu", sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    margin-top: -.5rem;
    position: relative;
    padding: .6rem .6rem 0;
    color: #fff;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    background-color: #233d9c;
    border-radius: 5px;
}

#promotion-template-1 .ajaraListBody {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .75rem;
    position: relative;
    gap: 1rem;
    margin: .5rem auto 0;
    border: 1px solid #0a8745;
    border-radius: 6px;
    width: 100%;
}

#promotion-template-1 .ajaraListBody .ajaraListHead {
    margin: -2rem auto;
    font-family: "Anek Telugu", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    position: relative;
    padding: .6rem .6rem 0;
    color: #fff;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    background-color: #0a8745;
    border-radius: 5px;
}

#promotion-template-1 .ajaraListBody ul {
    margin: -.5rem 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .1rem 1rem;
    width: 100%;
}

#promotion-template-1 .ajaraListBody ul li {
    font-family: "Anek Telugu", sans-serif;
    display: list-item;
    list-style: disc inside;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    position: relative;
    padding: 0;
    color: #000;
    width: calc(1/2 * 100% - (1 - 1/2) * 1rem);
    background-color: transparent;
    white-space: nowrap;
    text-align: left;
}

#promotion-template-1 .ajaraFooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: .35rem;
    position: relative;
}

#promotion-template-1 .ajaraFooter .offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
    position: relative;
    background-color: #233d9c;
    margin-top: .5rem;
    padding: .3rem 1.2rem .6rem;
    border-radius: 6px;
}

#promotion-template-1 .ajaraFooter .offers h4 {
    position: absolute;
    top: -.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Mallanna", sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    background-color: #fff;
    text-align: center;
    border: 1px solid #233d9c;
    border-radius: 5px;
    padding: .25rem .5rem;
    color: #233d9c;
}

#promotion-template-1 .ajaraFooter .offers h1 {
    font-family: "Mallanna", sans-serif;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    padding: 0;
    color: #fff005;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#promotion-template-1 .ajaraFooter .offers h1 span {
    font-size: 42px;
}

#temp-footer .ajaraFooter .offers h3 {
    font-family: "Mallanna", sans-serif;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    padding: 0;
    color: #fff;
    text-align: center;
    text-decoration: line-through;
}

#temp-footer .ajaraFooter .offers h2 {
    font-family: "Mallanna", sans-serif;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    padding: .15rem .5rem;
    background-color: #fff005;
    display: flex;
    width: fit-content;
    color: #233d9c;
    border-radius: 4px;
    text-align: center;
}

#temp-footer .ajaraFooter p.address {
    font-family: "Mallanna", sans-serif !important;
    font-size: 17px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    padding: 0 0 0 1.2rem !important;
    margin: 0 auto !important;
    width: fit-content !important;
    display: flex;
    color: #233d9c !important;
    text-align: center !important;
    position: relative;
}

#temp-footer .ajaraFooter p.address::before {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    margin-left: -1.2rem;
    width: 4px;
    height: 4px;
    background: url(../images/location-dark.svg) no-repeat center center !important;
    filter: none !important;
    background-size: 100% auto !important;
    width: 16px !important;
    height: 16px !important;
}

#temp-footer .ajaraFooter p.contact {
    font-family: "Oswald", sans-serif !important;
    font-size: 17px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    padding: .25rem .5rem .25rem 1.5rem !important;
    color: #233d9c !important;
    text-align: center;
    position: relative;
    display: flex;
    width: fit-content !important;
    background-color: #fdf305 !important;
    border-radius: 5px;
}

#temp-footer .ajaraFooter p.contact::before {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    margin-left: -1.2rem;
    width: 4px;
    height: 4px;
    background: url(../images/phone-icon.png) no-repeat center center;
    background-size: 100% auto;
    filter: none !important;
    width: 14px;
    height: 14px;
}

#temp-footer .ajaraFooter p.whatsapp {
    font-family: "Mallanna", sans-serif !important;
    font-size: 17px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .25rem 1.5rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    display: flex;
    width: fit-content !important;
    background-color: #29a61e !important;
    border-radius: 5px;
}

#temp-footer .ajaraFooter p.whatsapp::before {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    margin-left: -1.2rem;
    width: 4px;
    height: 4px;
    background: url(../images/whatsapp_icon.png) no-repeat center center;
    background-size: 100% auto;
    filter: invert(1);
    width: 14px;
    height: 14px;
}

#temp-footer .ajaraFooter p.whatsapp::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -.75rem;
    width: 4px;
    height: 4px;
    background: url(../images/click_hand_icon.png) no-repeat center center;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
}


/* Promotions Template-2 */
.template-wrapper.noPadding,
.template-wrapper.noPadding #temp-header,
.template-wrapper.noPadding #temp-body,
.template-wrapper.noPadding #temp-footer {
    padding: 0 !important;
}

#temp-header .promo2Head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    background-color: #ffc501;
    padding: 2rem 1.5rem 0;
}

.promo2Head .combinedOffer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 62.5%;
}

.promo2Head .combinedOffer .imgHolder {
    margin-top: -.45rem;
    width: auto;
    height: 232px;
}

.promo2Head .combinedOffer h6 {
    position: relative;
    position: absolute;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #00458d;
    line-height: 1;
    top: -.6rem;
    text-align: center;
    right: -1rem;
}

.promo2Head .combinedOffer h6 img {
    position: relative;
    width: 30px;
    height: 30px;
}

.promo2Head h1 {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 52px;
    font-weight: 600 !important;
    line-height: 1;
    font-family: 'Anek Telugu', sans-serif;
    color: #00458d;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, .25);
    transform: rotate(-5deg);
}

.promo2Head h1 span {
    font-size: 26px;
}

.promo2Head h1 em {
    font-size: 16px;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    transform: rotate(-5deg);
    margin-top: -.5rem;
    text-shadow: none;
}

.promo2Body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.promo2Body .offersList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    margin: 0 auto .6rem;
    gap: 0;
    padding: 0;
}

.promo2Body .offersList .sareeMela,
.promo2Body .offersList .handloomUtsav,
.promo2Body .offersList .cottonSarees,
.promo2Body .offersList .comboOffers,
.promo2Body .offersList .kgSale {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, .25);
    padding: 0 .6rem;
}

.promo2Body .offersList .kgSale {
    border: none;
}

.promo2Body .offersList .sareeMela h4 {
    font-size: 12px !important;
    font-family: 'NTR', sans-serif !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    color: #00458d !important;
    text-align: center !important;
    padding: 0 !important;
}

.promo2Body .offersList .handloomUtsav h4 {
    font-size: 14px !important;
    font-family: 'Lashkar', sans-serif !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    color: #68192f !important;
    text-align: center !important;
    padding: 0 !important;
}

.promo2Body .offersList .cottonSarees h4 {
    font-size: 11px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #d83b58 !important;
    text-align: center !important;
    padding: 0 !important;
}

.promo2Body .offersList .comboOffers h4 {
    font-size: 11px !important;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #333 !important;
    text-align: center !important;
    padding: 0 !important;
}

.promo2Body .offersList .kgSale {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2rem;
}

.promo2Body .offersList .kgSale img {
    max-width: 20px;
}

.promo2Body .offersList .kgSale h4 {
    font-size: 11px !important;
    font-family: 'Gaddar', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #333 !important;
    text-align: left !important;
    padding: 0 !important;
}

.promo2Body .cardOffers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.promo2Body .cardOffers .card {
    width: calc(1/2 * 100% - (1 - 1/2) * 0px);
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
    background-color: #f57b3a;
    position: relative;
}

.promo2Body .cardOffers .card:nth-child(2),
.promo2Body .cardOffers .card:nth-child(3) {
    background-color: #d53d78;
}

.promo2Body .cardOffers .card img {
    max-width: 100%;
}

.promo2Body .cardOffers .card p {
    font-size: 14px !important;
    font-family: 'Mandali', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

.promo2Body .cardOffers .card h6 {
    font-size: 12px !important;
    font-family: 'Mandali', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #000 !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

.promo2Body .cardOffers .card.card50Percent h1,
.promo2Body .cardOffers .card.card20Percent h1 {
    font-size: 68px !important;
    font-family: 'Bowlby One', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #fae800 !important;
    text-align: center !important;
    position: relative !important;
    padding: 0 !important;
    margin: .35rem auto 0 !important;
    paint-order: stroke fill;
    -webkit-text-stroke: 4px rgba(0, 0, 0, .8);
    text-shadow: 0 -2px 1px rgba(255, 255, 255, .5);
    z-index: 1 !important;
}

.promo2Body .cardOffers .card.card50Percent h1 span,
.promo2Body .cardOffers .card.card20Percent h1 span {
    font-size: 36px !important;
    position: absolute;
    right: -1.65rem;
}

.promo2Body .cardOffers .card.card50Percent h1 em,
.promo2Body .cardOffers .card.card20Percent h1 em {
    font-style: normal !important;
    font-size: 22px !important;
    position: absolute;
    bottom: .25rem;
    right: -1rem;
}

.promo2Body .cardOffers .card.card50Percent h5,
.promo2Body .cardOffers .card.card20Percent h5 {
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900 !important;
    line-height: 1.2 !important;
    color: #000 !important;
    position: absolute !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    left: 34% !important;
    top: 30% !important;
    z-index: 2 !important;
}

.promo2Body .cardOffers .card.card33Percent h1 {
    font-size: 58px !important;
    font-family: 'Bowlby One', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #fbee52 !important;
    text-align: center !important;
    position: relative !important;
    padding: 0 !important;
    margin: .35rem auto 0 !important;
    paint-order: stroke fill;
    -webkit-text-stroke: 4px rgba(0, 0, 0, .8);
    text-shadow: 0 5px 1px #0e3674;
    z-index: 1 !important;
}

.promo2Body .cardOffers .card.card33Percent h1 span {
    font-size: 30px !important;
    position: absolute;
}

.promo2Body .cardOffers .card.card33Percent h1 em {
    font-style: normal !important;
    font-size: 18px !important;
    position: absolute;
    bottom: .25rem;
}

.promo2Body .cardOffers .card.card33Percent h5 {
    font-size: 11px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900 !important;
    line-height: 1.2 !important;
    color: #000 !important;
    position: absolute !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    left: 35% !important;
    top: 41% !important;
    z-index: 2 !important;
}

.promo2Body .cardOffers .card.card33Percent p {
    font-size: 20px !important;
}

.promo2Body .cardOffers .card.card20Percent {
    flex-direction: row;
    justify-content: space-between;
}

.promo2Body .cardOffers .card.card20Percent .alignLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.promo2Body .cardOffers .card.card20Percent .alignRight {
    width: 30%;
}

.promo2Body .cardOffers .card.card20Percent .alignRight .imgHolder {
    height: 85px;
    width: auto;
}

.promo2Body .cardOffers .card.card20Percent h5 {
    left: 20% !important;
    top: 64% !important;
}

.promo2Body .cardOffers .card.cardMixed h1 {
    font-size: 22px !important;
    white-space: nowrap !important;
    font-family: 'Bowlby One', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #fbee52 !important;
    text-align: center !important;
    position: relative !important;
    padding: 0 !important;
    margin: .35rem auto 0 !important;
    paint-order: stroke fill;
    -webkit-text-stroke: 3px rgba(0, 0, 0, .8);
    text-shadow: 0 3px 1px #3c1c21;
    z-index: 1 !important;
    display: flex;
    align-items: flex-start;
    gap: .25rem;
    justify-content: center;
}

.promo2Body .cardOffers .card.cardMixed h1 span {
    font-family: 'Mandali', sans-serif !important;
    font-size: 17px !important;
    color: #fff !important;
    paint-order: 0;
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.promo2Body .cardOffers .card.cardMixed h2 {
    font-size: 20px !important;
    white-space: nowrap !important;
    font-family: 'Bowlby One', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #fbee52 !important;
    text-align: center !important;
    position: relative !important;
    padding: 0 !important;
    margin: .25rem auto 0 !important;
    paint-order: stroke fill;
    -webkit-text-stroke: 4px rgba(0, 0, 0, .8);
    text-shadow: 0 4px 1px #3c1c21;
    z-index: 1 !important;
    display: flex;
    align-items: flex-start;
    gap: .25rem;
    justify-content: center;
}

#temp-footer .promo2Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
}

#temp-footer .promo2Footer .imgHolder {
    width: auto;
    height: 92px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#temp-footer .promo2Footer p.address {
    font-size: 14px !important;
    font-family: 'Mandali', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #000 !important;
    position: relative !important;
    text-align: center !important;
    padding: .25rem 0 0 !important;
    border-top: 1px solid rgba(0, 0, 0, .5);
    margin: .25rem auto 0 !important;
}

#temp-footer .promo2Footer p.address span {
    font-weight: 600 !important;
    font-size: 16px !important;
}

/* Promotion Template 3 */

.promo3Head,
.promo3Body,
.promo3Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto !important;
    position: relative;
    width: fit-content;
}

.promo3Head p {
    font-size: 17px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 !important;
}

.promo3Head .side-by-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: .35rem auto;
    width: fit-content !important;
}

.promo3Head .side-by-side h4 {
    font-size: 30px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 !important;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.promo3Head .side-by-side h1 {
    font-size: 68px !important;
    font-family: 'Lashkar', sans-serif !important;
    font-weight: normal !important;
    line-height: 1 !important;
    color: #fff805 !important;
    text-align: center !important;
    position: relative !important;
    padding: 0 !important;
    margin: .35rem auto 0 !important;
    paint-order: stroke fill;
    -webkit-text-stroke: 4px #041b83;
    text-shadow: -2px 4px 1px #04135a;
}

.promo3Head .side-by-side h1 span {
    font-family: 'Ramabhadra', sans-serif !important;
    position: absolute;
    bottom: -.5rem;
    right: 0;
    font-size: 20px !important;
    color: #fff !important;
    paint-order: 0;
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.promo3Body .side-by-side::after {
    content: "";
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #ffe404;
}

.promo3Body .side-by-side .left-side,
.promo3Body .side-by-side .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 .5rem;
    width: fit-content;
}

.promo3Body .side-by-side .left-side p,
.promo3Body .side-by-side .right-side p {
    font-size: 16px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 auto !important;
}

.promo3Body .side-by-side .left-side h1,
.promo3Body .side-by-side .right-side h1 {
    font-size: 68px !important;
    font-family: 'Bowlby One', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #fae800 !important;
    text-align: center !important;
    position: relative !important;
    padding: 0 !important;
    margin: .5rem auto 0 !important;
    paint-order: stroke fill;
    -webkit-text-stroke: 8px #1725a2;
    text-shadow: -4px 5px 2px #050d50;
    z-index: 1 !important;
}

.promo3Body .side-by-side .left-side h1 span,
.promo3Body .side-by-side .right-side h1 span {
    font-size: 32px !important;
    position: absolute;
    right: -1.75rem;
}

.promo3Body .side-by-side .left-side h1 em,
.promo3Body .side-by-side .right-side h1 em {
    font-style: normal !important;
    font-size: 20px !important;
    position: absolute;
    bottom: .25rem;
    right: -1.5rem;
}

.promo3Body .side-by-side .left-side h5 {
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900 !important;
    line-height: 1.2 !important;
    color: #000 !important;
    position: absolute !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    left: 30% !important;
    top: 22% !important;
    z-index: 2 !important;
}

.promo3Body .side-by-side .left-side h4 {
    font-size: 18px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

.promo3Body .side-by-side .left-side h4 span {
    display: block;
    clear: both;
}

.promo3Body .side-by-side .right-side h5 {
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900 !important;
    line-height: 1.2 !important;
    color: #000 !important;
    position: absolute !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    left: 26% !important;
    top: 32% !important;
    z-index: 2 !important;
}

.promo3Body h3 {
    font-size: 18px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    text-align: center !important;
    padding: .75rem 0 !important;
    margin: 0 !important;
}

#temp-footer .promo3Footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 0 0;
}

#temp-footer .promo3Footer .imgHolder {
    width: auto;
    height: 50px;
}

#temp-footer .promo3Footer p {
    font-size: 12px !important;
    font-family: 'Ramabhadra', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.1 !important;
    color: #000 !important;
    position: relative !important;
    width: fit-content !important;
    text-align: left !important;
    border-left: 1px solid rgba(0, 0, 0, .35);
    padding: 0 0 0 .65rem !important;
    margin: 0 !important;
}

p span {
    color: #e01358 !important;
}

/* Promotion Template 4 */
.promo4Head,
.promo4Body,
.promo4Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.promo4Head .bgText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: relative;
    margin: 3rem auto 0;
}

.promo4Head .bgText::before {
    content: "";
    position: absolute;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: url(../images/kalasham.png) no-repeat center center;
    background-size: contain;
    z-index: -1;
}

.promo4Head .bgText p {
    font-size: 18px !important;
    font-family: 'Anek Telugu', sans-serif !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: .5rem !important;
    margin: 0 auto !important;
    width: 100% !important;
    background-color: #04135a;
}

.promo4Head .bgText p span {
    display: block;
    clear: both;
    font-weight: normal !important;
    font-size: 15px !important;
    color: #fff !important;
}

.promo4Head .bgText h3 {
    font-size: 24px !important;
    font-family: 'Anek Telugu', sans-serif !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: .5rem !important;
    margin: 0 auto !important;
    width: 100% !important;
    background-color: #ee1d23;
}

.promo4Body p {
    font-size: 17px !important;
    font-family: 'Anek Telugu', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    color: #fff !important;
    position: relative !important;
    text-align: left !important;
    padding: .75rem 0 !important;
    margin: 0 auto !important;
    width: fit-content !important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.promo4Body p span {
    display: inline-block;
    clear: none;
    font-weight: 600 !important;
    color: #1c4178 !important;
    font-size: 20px;
    paint-order: stroke fill;
    -webkit-text-stroke: 3px #fff;
}

.promo4Body p b {
    display: inline-block;
    clear: none;
    font-weight: 600 !important;
    font-size: 20px;
}

.promo4Body .imgHolder {
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.promo4Body p.darkColored {
    font-size: 10px !important;
    font-family: 'Anek Telugu', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    color: #09090b !important;
    position: relative !important;
    text-align: center !important;
    padding: .75rem 0 !important;
    margin: 0 auto !important;
    width: fit-content !important;
    text-shadow: none !important;
}

.promo4Body p.darkColored b {
    font-size: 13px !important;
}

#temp-footer .promo4Footer {
    height: 100%;
    width: 100%;
    position: relative;
}

.promo4Footer .standHolder {
    width: 100%;
    display: flex;
    height: 230px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    bottom: -4.5rem;
    margin: 0 auto;
}

.promo4Footer .standHolder .mainStand {
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.promo4Footer .standHolder .mainStand input {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.promo4Footer .standHolder .mainStand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.promo4Footer .standHolder .imgHolder {
    width: auto;
    height: 120px;
    margin: -5.5rem auto 0 !important;
    position: relative;
    z-index: 2;
}

.promo4Footer .standHolder .offerBadge {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1.5rem;
    right: 1.85rem;
    z-index: 3;
    background: url(../images/offer-badge-red.png) no-repeat center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.promo4Footer .standHolder .offerBadge p {
    font-size: 10px !important;
    font-family: 'Anek Telugu', sans-serif !important;
    font-weight: 500 !important;
    line-height: 12px !important;
    color: #fdf21c !important;
    position: relative !important;
    text-align: center !important;
    padding: .35rem 0 0 !important;
    margin: 0 auto !important;
    width: fit-content !important;
    text-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.promo4Footer .standHolder .offerBadge p b {
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
}

.promo4Footer .standHolder .offerBadge p span {
    color: #fff !important;
}

.promo4Footer .standHolder h3 {
    font-size: 15px !important;
    font-family: 'Anek Telugu', sans-serif !important;
    font-weight: normal !important;
    line-height: 1.4 !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: 1.75rem 0 0 !important;
    margin: 0 auto !important;
    width: 35% !important;
}


/* Promo Template 5 */
.promo5Head,
.promo5Body,
.promo5Footer {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.promo5Head {
    margin-top: -1.5rem;
}

.promo5Head .festiveCollection {
    width: 47%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/mandala-art-2.png) no-repeat center center;
    background-size: contain;
    margin-top: -1.2rem;
}

.promo5Head .festiveCollection h1 {
    font-size: 46px !important;
    font-family: 'Bhagamati', sans-serif !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 1rem !important;
    margin: 0 !important;
    text-shadow: 0 4px 3px rgba(0, 0, 0, .5);
}

.promo5Head .festiveCollection h1 span {
    font-size: 32px !important;
    display: block;
    clear: both;
    line-height: 20px !important;
}

.promo5Head .doubleDhamaka {
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: url(../images/double-dhamaka-badge.png) no-repeat center center;
    background-size: 110% auto;
    margin-top: -1.75rem;
}

.promo5Head .doubleDhamaka h2 {
    font-size: 20px !important;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    color: #42030b !important;
    position: relative !important;
    text-align: left !important;
    text-indent: 15px;
    padding: .7rem 1.2rem !important;
    margin: -1.1rem 0 0 !important;
}

.promo5Head .doubleDhamaka h2 span {
    display: block;
    clear: both;
    font-size: 26px !important;
    color: #fff !important;
    font-weight: 600 !important;
    text-indent: 5px !important;
}

.promo5Head .doubleDhamaka p {
    font-size: 11px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    line-height: 1 !important;
    color: #000 !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important;
    top: 1.5rem;
}

.promo5Body .side-by-side h1 {
    font-size: 34px !important;
    font-family: 'Kaloji', sans-serif !important;
    font-weight: 500 !important;
    line-height: .8 !important;
    color: #4f2770 !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 !important;
    width: 46% !important;
    margin: 0 !important;
}

.promo5Body .festiveCombo {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #e93828;
    border: 3px solid #bb2012;
    border-radius: 14px;
    padding: .7rem .7rem 0;
    margin: -.5rem 0 .5rem;
}

.promo5Body .festiveCombo::after {
    content: "";
    position: absolute;
    top: -.85rem;
    left: -1.2rem;
    width: 120px;
    height: 120px;
    background: url(../images/hanging-ball3.png) no-repeat center center;
    background-size: contain;
    filter: hue-rotate(280deg);
    z-index: 1;
}

.promo5Body .festiveCombo p {
    font-size: 22px !important;
    font-family: 'Kaloji', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #fff !important;
    position: relative !important;
    text-align: left !important;
    padding: 0 0 0 .85rem !important;
    margin: 0 !important;
    width: fit-content !important;
    transform: rotate(-3.5deg);
}

.promo5Body .festiveCombo h1 {
    font-size: 56px !important;
    font-family: 'Kaloji', sans-serif !important;
    font-weight: 500 !important;
    line-height: .6 !important;
    color: #ffe404 !important;
    position: relative !important;
    text-align: left !important;
    padding: 0 0 0 .85rem !important;
    margin: 0 !important;
    width: fit-content !important;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .25);
    transform: rotate(-3.5deg);
}

.promo5Body .festiveCombo h1 span {
    display: block;
    clear: both;
    font-size: 32px !important;
}

.promo5Body .imgHolder {
    height: 230px;
}

.promo5Footer .imgHolder {
    height: 100px;
}

.promo5Footer .imgHolder img {
    border-radius: 16px;
}


/* Promo Template 6 */
.promo6Head,
.promo6Body,
.promo6Footer {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.promo6Head {
    margin-top: -1.5rem;
}

.promo6Head h1 {
    font-size: 46px !important;
    font-family: 'Bhagamati', sans-serif !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    color: #fff !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 1rem !important;
    margin: 0 !important;
    text-shadow: 0 4px 3px rgba(0, 0, 0, .5);
}

/* paint-order: stroke fill;
-webkit-text-stroke: 4px rgba(0, 0, 0, .5); */