@import url("temp_builder_mainV2.css");

body {
    background-color: #ddd;
}

.template-wrapper {
    position: relative;
    overflow: hidden;
}

.retr1Head,
.retr1Body,
.retr2Head,
.retr2Body,
.retr2Footer,
.retr3Head,
.retr3Body,
.retr3Footer,
.retr4Head,
.retr4Body,
.retr4Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.retr1Head .topDecor,
.retr2Head .topDecor {
    position: absolute;
    top: -2.75rem;
    left: 0;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    margin: 0 -.7rem;
    height: auto;
    z-index: -1;
}

.retr1Head .curvedTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    width: 100%;
    margin: 0 auto -1.65rem;
    padding: 0;
    background: url(../images/title-badge5.png) no-repeat center center;
    background-size: contain;
    height: 80px;
}

.retr1Head .curvedTitle h1 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 36px !important;
    line-height: 22px !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .5);
}

.retr1Head .curvedTitle h1 span {
    font-size: 28px !important;
    color: #fde926 !important;
}

.retr1Head p {
    font-family: "Ramabhadra", sans-serif;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal !important;
    max-width: 65%;
    padding: 1.25rem 0 0;
    color: #fff;
    text-align: center;
}

.retr1Head h4 {
    font-family: "Ramabhadra", sans-serif;
    font-size: 17px;
    line-height: 1.1;
    font-weight: normal !important;
    padding: .15rem 0 0;
    color: #fde926;
    text-align: center;
}

.retr1Head h3 {
    font-family: "Kaloji", sans-serif;
    font-size: 22px;
    line-height: 1;
    font-weight: normal !important;
    padding: 0;
    color: #fff;
    text-align: center;
}

.retr1Body .imgHolder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -.9rem;
    width: auto;
    height: 200px;
}

.retr1Body .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.retr1Body .decoratedTitles {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    width: 100%;
    margin: -.75rem auto 0;
    background: url(../images/title-bg-5-full-wht.png) no-repeat center center;
    background-size: contain;
}

.retr1Body .decoratedTitles::after,
.retr1Body .decoratedTitles::before {
    content: "";
    position: absolute;
    width: 65px;
    top: 55%;
    height: 65px;
    background: url(../images/flower-bokey.png) no-repeat center center;
    background-size: contain;
    z-index: 1;
}

.retr1Body .decoratedTitles::before {
    left: 13.5%;
}

.retr1Body .decoratedTitles::after {
    right: 13.5%;
    transform: rotateY(-180deg);
}

.retr1Body .decoratedTitles h1 {
    font-family: "Bonalu", sans-serif !important;
    font-size: 34px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
    padding: .5rem 0 .25rem !important;
    color: #970a2c !important;
    text-align: center !important;
    position: relative;
    align-items: center;
    width: fit-content !important;
}

.retr1Body .decoratedTitles h5 {
    font-family: "Bhagamati", sans-serif !important;
    font-size: 20px !important;
    line-height: 1;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #970a2c !important;
    text-align: center !important;
    position: relative;
    align-items: center;
    width: fit-content !important;
}

.retr1Body h2 {
    font-family: "Gaddar", sans-serif !important;
    font-size: 24px !important;
    line-height: 1.1 !important;
    font-weight: 500 !important;
    padding: .5rem 0 1rem !important;
    color: #fde926 !important;
    text-align: center !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content !important;
}

.retr1Body h2::after {
    content: "";
    position: absolute;
    bottom: .15rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15px;
    background: url(../images/decor-line-small.png) no-repeat center center;
    background-size: contain;
}

.retr1Body h2 span {
    font-size: 26px !important;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 600 !important;
}

.retr1Body h4 {
    font-family: "Ramabhadra", sans-serif !important;
    font-size: 18px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .25rem 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content !important;
}

.retr1Body p {
    font-family: "Ramabhadra", sans-serif !important;
    font-size: 14px !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
    padding: .25rem 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content !important;
}

/* Retirement Template 2 */
.retr2Head h1 {
    font-family: "Bonalu", sans-serif !important;
    font-size: 42px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: 1.5rem 0 .25rem !important;
    letter-spacing: .05rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

.retr2Body .framedWeddingPhoto {
    margin: 0 auto !important;
    position: relative;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retr2Body .framedWeddingPhoto::after,
.retr2Body .framedWeddingPhoto::before {
    display: none;
}

.retr2Body .framedWeddingPhoto .imgHolder.backFrame {
    position: absolute;
    left: 50%;
    top: -1rem;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.retr2Body .framedWeddingPhoto .imgHolder.backFrame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.retr2Body .framedWeddingPhoto .imgHolder.groomPair {
    height: 220px;
    width: auto;
    position: relative;
    left: inherit;
    transform: none;
    z-index: 1;
    bottom: 0;
}

.retr2Body h1 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 36px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: 0 !important;
    margin: -2.65rem auto 0 !important;
    color: #fde926 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

.retr2Body h5 {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .25rem 0 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

.retr2Body h2 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 28px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .25rem 0 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

.retr2Body h1 span {
    font-size: 22px;
}

.retr2Body p {
    font-family: "Kaloji", sans-serif !important;
    font-size: 20px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .35rem 0 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

.retr2Footer .show-in-row {
    margin: .2rem auto 0 !important;
    justify-content: center !important;
}

.retr2Footer .show-in-row .guestCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-direction: column;
    gap: .15rem;
    position: relative;
    width: calc(1/2 * 100% - (1 - 1/2) * 16px);
}

.retr2Footer .show-in-row .guestCard .imgHolder {
    width: auto;
    height: 150px;
    border-radius: 0;
    overflow: hidden;
}

.retr2Footer .show-in-row .guestCard p {
    background-color: #921f24;
    border-radius: 4px;
    font-family: "Kaloji", sans-serif !important;
    font-size: 16px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: .25rem .4rem !important;
    margin-top: -.85rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr2Footer .show-in-row .guestCard h2 {
    font-family: "Bhagamati", sans-serif !important;
    font-size: 28px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #921f24 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr2Footer p {
    font-family: "Kaloji", sans-serif !important;
    font-size: 20px !important;
    line-height: 16px !important;
    font-weight: normal !important;
    padding: .25rem .4rem !important;
    margin-top: -.25rem !important;
    color: #333 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

/* Retirement Template 3 */
.retr3Head .imgHolder {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1rem auto -.5rem;
}

.retr3Head h1 {
    font-family: "Oswald", sans-serif !important;
    font-size: 32px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    padding: .5rem 0 .25rem !important;
    color: #fff !important;
    font-style: italic !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr3Body .imgHolder {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

.retr3Body h1 {
    font-family: "Doppio One", sans-serif !important;
    background-color: #fff;
    border-radius: 4px;
    margin: .25rem auto 0 !important;
    font-size: 20px !important;
    line-height: 1.2 !important;
    font-weight: 600 !important;
    padding: .35rem .5rem !important;
    color: #b71218 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr3Body h1::before,
.retr3Body h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: rotate(45deg) translateY(-50%);
}

.retr3Body h1::before {
    left: -1.2rem;
}

.retr3Body h1::after {
    right: -1rem;
}

.retr3Body h5 {
    font-family: "Oswald", sans-serif !important;
    margin: .25rem auto .35rem !important;
    font-size: 15px !important;
    line-height: 1.2 !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr3Body .boxedContent {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: .5rem 1.2rem .75rem;
    background-color: #fff;
    gap: .35rem;
    border-radius: 24px 0 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.retr3Body .boxedContent::before,
.retr3Body .boxedContent::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../images/decorative-corner-flowers.png) no-repeat center center;
    background-size: contain;
    transform: rotate(90deg);
}

.retr3Body .boxedContent::before {
    top: -.5rem;
    left: 0;
}

.retr3Body .boxedContent::after {
    bottom: -.5rem;
    right: 0;
    transform: rotate(-90deg);
}

.retr3Body .boxedContent p {
    font-family: "Roboto", sans-serif !important;
    font-size: 11px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #333;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr3Body .boxedContent p.colorBlue {
    color: #0f3c66 !important;
}

.retr3Body .boxedContent p.colorGreen {
    color: #406635 !important;
}

.retr3Body .boxedContent p.colorPink {
    color: #a42074 !important;
}

.retr3Footer .side-by-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .35rem 1rem;
    margin: .35rem auto;
    width: fit-content;
    position: relative;
}

.retr3Footer .side-by-side:first-child {
    margin: 1rem auto .35rem !important;
}

.retr3Footer .side-by-side h2 {
    font-family: "Times New Roman", sans-serif !important;
    font-size: 20px !important;
    line-height: 1.1 !important;
    font-weight: 600 !important;
    padding: 0 !important;
    color: #a42074 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center !important;
    position: relative;
    border: none !important;
    width: calc(1/2 * 100% - (1 - 1/2) * 16px) !important;
}

.retr3Footer .side-by-side h2 span {
    font-size: 14px !important;
    color: #034673 !important;
}

.retr3Footer .side-by-side h2 em {
    font-style: normal !important;
    color: #333 !important;
    font-size: 10px !important;
    white-space: nowrap;
}

.retr3Footer h3 {
    font-family: "Oswald", sans-serif !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    padding: .25rem 1rem 0 !important;
    color: #034673 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr3Footer h3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 12px;
    background: url(../images/title-decor-bottom.png) no-repeat center center;
    background-size: contain;
    filter: invert(1);
}

.retr3Footer p {
    font-family: "Oswald", sans-serif !important;
    font-size: 24px !important;
    line-height: 1.1 !important;
    font-weight: 600 !important;
    padding: 1rem 0 0 !important;
    color: #fdfac3 !important;
    text-align: center !important;
    position: relative;
}

/* Retirement Template 4 */
.retr4Head h1 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 42px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    padding: 0 !important;
    margin: -.5rem auto 0 !important;
    color: #fec40b !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

.retr4Head h1 span {
    display: table;
    clear: both;
    margin: 0 auto;
    padding: 0 1.6rem !important;
    font-size: 34px !important;
    position: relative;
    color: #ebf200 !important;
}

.retr4Head h1 span::before,
.retr4Head h1 span::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    background: url(../images/arrow-angle-right.svg) no-repeat center center;
    background-size: contain;
    filter: brightness(5);
}

.retr4Head h1 span::before {
    left: 0;
    transform: translateY(-50%) rotateY(-180deg);
}

.retr4Head h1 span::after {
    right: 0;
}

.retr4Body .imgHolder {
    width: auto;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

#temp-body .retr4Body .splDecorTxt {
    padding: 1.3rem 0 !important;
    margin-top: -.5rem !important;
}

.retr4Body h1 {
    font-family: "Oswald", sans-serif !important;
    margin: -.5rem auto 0 !important;
    font-size: 22px !important;
    line-height: 1.2 !important;
    letter-spacing: -.035rem !important;
    font-weight: 600 !important;
    padding: 0 1rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
    text-shadow: none !important;
}

.retr4Body h1 span {
    font-size: 14px !important;
}

.retr4Body h6 {
    font-family: "Oswald", sans-serif !important;
    font-size: 11px !important;
    line-height: 1.1 !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr4Body p {
    font-family: "Bhagamati", sans-serif !important;
    font-size: 15px !important;
    line-height: 1.2 !important;
    font-weight: normal !important;
    padding: .25rem 0 0 !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: 85% !important;
}

.retr4Body h5 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 20px !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #ffea08 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr4Body h4 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 26px !important;
    line-height: 1.1 !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #ffea08 !important;
    text-align: center !important;
    position: relative;
    width: fit-content !important;
}

.retr4Footer .side-by-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .35rem 1rem;
    margin: .35rem auto;
    width: fit-content;
    position: relative;
}

.retr4Footer .side-by-side .clearBoth {
    flex: 1 1 100%;
    height: 1px;
}

.retr4Footer .side-by-side:first-child {
    margin: 0 auto .35rem !important;
}

.retr4Footer .side-by-side h2 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 28px !important;
    line-height: 20px !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #a42074 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center !important;
    position: relative;
    border: none !important;
    width: fit-content !important;
}

.retr4Footer .side-by-side h2 span {
    font-size: 20px !important;
    color: #034673 !important;
}

.retr4Footer .side-by-side h2 em {
    font-style: normal !important;
    color: #333 !important;
    font-size: 18px !important;
    white-space: nowrap;
}

.retr4Footer .singleRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
    margin: 1.5rem auto 0;
}

.retr4Footer .singleRow h2 {
    font-family: "Kaloji", sans-serif !important;
    font-size: 26px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #fceb00 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center !important;
    position: relative;
    border: none !important;
    width: fit-content !important;
}

.retr4Footer .singleRow h2 span {
    font-size: 18px !important;
    color: #fff !important;
}

.retr4Footer .singleRow h2 em {
    font-style: normal !important;
    color: #fff !important;
    font-size: 14px !important;
    word-wrap: break-word;
    line-height: 12px !important;
}