@import url("temp_builder_mainV2.css");

body {
    background-color: #ddd;
}

.template-wrapper {
    position: relative;
    overflow: hidden;
}

#wedding-temp-1,
#wedding-temp-2,
#wedding-temp-3,
#wedding-temp-4,
#wedding-temp-5,
#wedding-temp-6,
#wedding-temp-7,
#wedding-temp-8 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
    gap: .5rem;
}

#wedding-temp-1 #temp-body,
#wedding-temp-2 #temp-body,
#wedding-temp-3 #temp-body,
#wedding-temp-4 #temp-body,
#wedding-temp-5 #temp-body,
#wedding-temp-6 #temp-body,
#wedding-temp-7 #temp-body,
#wedding-temp-8 #temp-body {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    margin: 0 -1.5rem;
}

#wedding-temp-1 #temp-header .wed1Head,
#wedding-temp-2 #temp-header .wed2Head,
#wedding-temp-3 #temp-header .wed3Head,
#wedding-temp-4 #temp-header .wed4Head,
#wedding-temp-5 #temp-header .wed5Head,
#wedding-temp-6 #temp-header .wed6Head,
#wedding-temp-7 #temp-header .wed7Head,
#wedding-temp-8 #temp-header .wed8Head {
    position: relative;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    margin: 0 -2rem;
}

.wed1Head .imgHolder.topDecor,
.wed2Head .imgHolder.topDecor,
.wed8Head .imgHolder.topDecor {
    position: absolute;
    top: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 1;
}

.wed1Body,
.wed1Footer,
.wed2Body,
.wed2Head,
.wed2Footer,
.wed3Body,
.wed3Head,
.wed3Footer,
.wed4Body,
.wed4Head,
.wed4Footer,
.wed5Body,
.wed5Head,
.wed5Footer,
.wed6Body,
.wed6Head,
.wed6Footer,
.wed7Body,
.wed7Head,
.wed7Footer,
.wed8Body,
.wed8Head,
.wed8Footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.wed1Head .simpleHeading {
    font-family: 'Bonalu', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 54px;
    font-weight: 500;
    line-height: 1.2;
    color: #fad113;
    text-align: center;
    padding: 1.75rem 0 0;
    margin: 0 auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .75);
}

.wed1Head .simpleHeading span {
    font-size: 34px;
}

.wed1Body .imgHolder {
    width: auto;
    height: 220px;
    margin: -1.35rem auto 0;
}

.wed1Body .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed1Body .titleDecorOne,
.wed1Body .titleDecorTwo {
    width: 80%;
    margin: -.5rem auto 0;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: url(../images/wedding-spl-decor-bg-1.png) no-repeat center center;
    background-size: contain;
    height: 60px;
}

.wed1Body .titleDecorTwo {
    background: url(../images/wedding-spl-decor-bg-2.png) no-repeat center center;
    background-size: contain;
    margin: .15rem auto 0;
}

.wed1Body .titleDecorOne p,
.wed1Body .titleDecorTwo p {
    font-family: 'Bhagamati', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: .7;
    padding: 0;
    color: #fff;
    text-align: center;
    position: relative;
}

.wed1Body .titleDecorOne h1,
.wed1Body .titleDecorTwo h1 {
    font-family: 'Bhagamati', sans-serif;
    font-size: 38px;
    font-weight: 400;
    padding: 0;
    line-height: .7;
    color: #fbc906;
    text-align: center;
}

.wed1Body .titleDecorOne h1 span,
.wed1Body .titleDecorTwo h1 span {
    font-size: 24px;
}

.wed1Body .titleDecorTwo h1 {
    color: #fff;
}

.wed1Body p {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    padding: .25rem 0 0;
    color: #fff;
    text-align: center;
    position: relative;
}

.wed1Body p.borderAround {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 1;
    padding: .5rem;
    margin-top: .35rem;
    color: #fff;
    text-align: center;
    border: .15rem solid #fbc906;
    border-radius: 30px;
    width: fit-content;
}

.wed1Body p.borderAround b {
    font-weight: normal;
    color: #fbc906;
}

.wed1Body .stage {
    font-family: 'Ramabhadra', sans-serif !important;
    position: relative;
    font-size: 13px !important;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: .5rem 1.2rem 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed1Body .stage::before,
.wed1Body .stage::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 12px;
    background: url(../images/title-decor-besides.png) no-repeat center center;
    background-size: contain;
}

.wed1Body .stage::before {
    left: -15%;
}

.wed1Body .stage::after {
    right: -15%;
    transform: translateY(-50%) rotateY(180deg);
}

.wed1Body h3 {
    font-family: 'Ramabhadra', sans-serif !important;
    position: relative;
    font-size: 18px !important;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed1Body .borderedLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, .5);
    margin: .75rem auto 0;
    padding: .8rem .5rem .1rem;
    border-radius: 6px;
}

.wed1Body .borderedLabel h6.labelTxt {
    background-color: #4e1e3f;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: .25rem .5rem;
    border-radius: 4px;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: normal;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    top: -.6rem;
}

.wed1Body .borderedLabel p {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 14px;
    color: #fff;
}

.wed1Body .borderedLabel p b {
    font-weight: normal;
    color: #fbc906;
}

.wed1Footer h4.who-wished {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
    padding: .25rem 0 0;
    color: #fbc906;
    text-align: center;
    position: relative;
}

.wed1Footer p {
    font-family: 'Bonalu', sans-serif !important;
    font-size: 22px !important;
    font-weight: normal;
    line-height: 1.2;
    padding: 0 !important;
    color: #fff;
    text-align: center;
    position: relative;
}

/* Wedding Template 2 */
#wedding-temp-2 #temp-header .wed2Head {
    margin-top: -.75rem;
}

.imgHolder.decorBothSides {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.framedWeddingPhoto {
    margin: -1.1rem auto 0;
    position: relative;
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.framedWeddingPhoto::after,
.framedWeddingPhoto::before {
    content: "";
    position: absolute;
    top: 90%;
    width: 40px;
    height: 40px;
    background: url(../images/frame-vector.png) no-repeat center center;
    background-size: contain;
}

.framedWeddingPhoto::before {
    left: 13%;
}

.framedWeddingPhoto::after {
    right: 13%;
    transform: rotateY(180deg);
}

.framedWeddingPhoto .imgHolder.backFrame {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 240px;
    height: 100%;
    z-index: 0;
}

.framedWeddingPhoto .imgHolder.backFrame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.framedWeddingPhoto .imgHolder.groomPair {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: 0;
}

.wed2Body .framedWeddingPhoto {
    margin: -1.1rem auto 0;
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wed2Head .simpleHeading {
    font-family: 'Bonalu', sans-serif;
    font-style: italic;
    position: relative;
    z-index: 2;
    font-size: 38px;
    letter-spacing: .025rem;
    font-weight: 400;
    line-height: 1.2;
    color: #ffee00;
    text-align: center;
    padding: 1.75rem 0 0;
    margin: 0 auto;
    text-shadow: 0 3px 4px rgba(0, 0, 0, .85);
}

.wed2Head .simpleHeading span {
    font-size: 34px;
}

.wed2Body .imgHolder {
    width: auto;
    height: 220px;
    margin: -1.35rem auto 0;
}

.wed2Body .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed2Body h6 {
    font-family: 'NTR', sans-serif !important;
    font-size: 13px !important;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: .5rem 0 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Body h1 {
    font-family: 'Mandali', sans-serif !important;
    font-size: 23px !important;
    font-weight: 500;
    line-height: 1.2;
    padding: .25rem 0 0 !important;
    color: #f7f200 !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Body h1 span {
    font-size: 17px;
}

.wed2Body p {
    font-family: 'Mandali', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 1.2;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Body h5 {
    font-family: 'Mandali', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500;
    line-height: 1.2;
    padding: .15rem 0 !important;
    color: #f7f200 !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Body h5 span {
    font-size: 14px;
    display: block;
    clear: both;
    color: #fff;
}

.wed2Body p.withBg {
    background-color: #980829;
    border-radius: 4px;
    font-family: 'Mandali', sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1;
    padding: .35rem !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Body .muhurath {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    gap: 1rem;
}

.wed2Body .muhurath .imgHolder {
    height: 80px;
    margin: 0;
}

.wed2Body .muhurath .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 150px);
}

.wed2Body .muhurath .contents h5 {
    font-family: 'Mandali', sans-serif !important;
    position: relative;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 1.2;
    padding: 0 !important;
    color: #f7f200 !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Body .muhurath .contents p {
    font-family: 'Mandali', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500;
    line-height: 1.2;
    padding: .35rem 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
    white-space: nowrap;
}

.wed2Body h4.withBg {
    background-color: #fff;
    border-radius: 4px;
    font-family: 'Mandali', sans-serif !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    line-height: 1;
    padding: .35rem !important;
    color: #980829 !important;
    text-align: center !important;
    margin: -1rem auto 0 !important;
    width: fit-content !important;
}

.wed2Body h3 {
    font-family: 'Kumram Bheem', sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    line-height: 1;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Footer {
    padding-top: .4rem;
}

.wed2Footer h4 {
    font-family: 'Kumram Bheem', sans-serif !important;
    font-size: 21px !important;
    font-weight: 500 !important;
    line-height: 1;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content;
}

.wed2Footer h2 {
    font-family: 'Mandali', sans-serif !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    line-height: 1;
    padding: .2rem 0 !important;
    white-space: nowrap;
    color: #f7f200 !important;
    text-align: center !important;
    border: none !important;
    width: fit-content;
}

.wed2Footer p.withBg {
    background-color: #650303;
    border-radius: 4px;
    font-family: 'Kumram Bheem', sans-serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    padding: .35rem !important;
    color: #fff !important;
    text-align: center !important;
    width: fit-content !important;
}

/* Wedding Template 3 */

.wed3Head {
    padding: 0 0 0 2rem;
}

.wed3Head p {
    font-family: 'Times New Roman', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 !important;
    color: #3f629c !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

.wed3Head p span {
    font-size: 10px;
    position: absolute;
    display: block;
    top: 100%;
    clear: both;
    right: -1rem;
}

.wed3Head p:first-child span {
    top: 55%;
    right: -1.7rem;
}

.wed3Body h1 {
    font-family: 'Rakkas', cursive !important;
    font-size: 34px !important;
    font-weight: 500 !important;
    line-height: 1.2;
    padding: 0 !important;
    color: #ba347b !important;
    text-align: center !important;
    width: fit-content;
}

.wed3Body p {
    font-family: 'Times New Roman', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
    line-height: 1.2;
    padding: .35rem 0 !important;
    color: #3f629c !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

.wed3Body h2 {
    font-family: 'Alike', cursive !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 1.2;
    padding: 0 !important;
    color: #ba347b !important;
    text-align: center !important;
    width: fit-content;
}

.wed3Body h2 span {
    display: block;
    clear: both;
    color: #3f629c;
    font-size: 18px !important;
    font-family: "Praise", serif !important;
}

.wed3Body h2 em {
    font-style: normal;
    font-size: 13px !important;
}

.wed3Body h5 {
    font-family: 'Roboto', cursive !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.2;
    padding: 0 !important;
    color: #3f629c !important;
    text-align: center !important;
    width: fit-content;
}

.wed3Body .muhurath {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
}

.wed3Body .muhurath .imgHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 215px;
    margin: 0;
    border: 4px solid #3f629c;
    border-radius: 100px;
    overflow: hidden;
}

.wed3Body .muhurath .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wed3Body .muhurath .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 200px);
}

.wed3Body .muhurath .contents h2 {
    font-family: 'Praise', sans-serif !important;
    font-size: 20px !important;
    font-weight: normal !important;
    line-height: 1.2;
    padding: 0 !important;
    color: #b4357c !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

.wed3Body .muhurath .contents h2:first-child::before {
    content: '';
    position: absolute;
    background: url(../images/decor-flowers-top.png) no-repeat center center;
    width: 100%;
    height: 30px;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    top: -1.65rem;
}

.wed3Footer .footerDecors {
    position: absolute;
    width: 90%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wed3Footer .footerDecors .imgHolder {
    width: auto;
    height: 80px;
}

.wed3Footer .footerDecors .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed3Footer .footerDecors .imgHolder:last-child {
    transform: rotateY(-180deg);
}

.wed3Footer h4 {
    font-family: 'Praise', sans-serif !important;
    font-size: 20px !important;
    font-weight: normal !important;
    line-height: 1.2;
    padding: 0 !important;
    color: #3f629c !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

.wed3Footer h4.negativeTop {
    margin-top: -.85rem !important;
}

.wed3Footer h2 {
    border: none !important;
    font-family: 'Times New Roman', sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1;
    padding: 0 !important;
    color: #b4357c !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

.wed3Footer h2 span {
    display: block;
    clear: both;
    font-size: 14px;
}

.wed3Footer p {
    font-family: 'Times New Roman', sans-serif !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 1;
    padding: 0 !important;
    color: #000 !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

.wed3Footer h3.withBg {
    background-color: #b13979;
    border-radius: 4px !important;
    font-family: 'Praise', sans-serif !important;
    letter-spacing: .035rem;
    font-size: 16px !important;
    font-weight: normal !important;
    line-height: 1.2;
    padding: .25rem .5rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

#temp-footer .wed3Footer .contact {
    background-color: #3f6397;
    border-radius: 4px !important;
    font-family: 'Times New Roman', sans-serif !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem .5rem .25rem 1.5rem !important;
    color: #fff !important;
    text-align: center !important;
    position: relative;
    width: fit-content;
}

#temp-footer .wed3Footer p.contact::before {
    left: .35rem;
    top: .25rem;
}

/* Wedding Template 4 */
.wed4Head .row-photo-frame {
    margin-top: -.7rem;
}

.wed4Head p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Mandali', sans-serif !important;
    font-size: 16px !important;
    padding: 1.4rem 0 0 !important;
    color: #b81c1f !important;
}

.wed4Head h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-family: 'Bonalu', sans-serif !important;
    font-weight: normal !important;
    font-size: 54px !important;
    padding: .5rem 0 0 !important;
    color: #ce0610 !important;
    text-shadow: 0 4px 0 #ebe19c;
}

.wed4Head h1 span {
    font-size: 30px !important;
}

.wed4Head h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Mandali', sans-serif !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 1.2 !important;
    padding: .25rem 0 !important;
    color: #12710b !important;
}

.bottom-decor {
    position: relative;
    width: auto;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-decor input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.bottom-decor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed4Body .photoSplitter {
    margin-top: -.6rem;
}

.wed4Body .photoSplitter .mainFrame {
    height: 232px;
}

.wed4Body .photoSplitter .imgHolder {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .5rem;
}

.wed4Body .photoSplitter .imgHolder.imgLS {
    left: .75rem;
    height: 60px;
}

.wed4Body .photoSplitter .imgHolder.imgRS {
    right: 1.5rem;
    height: 100px;
}

.wed4Body h1 {
    font-family: 'Batukamma', sans-serif !important;
    font-size: 38px !important;
    font-weight: normal !important;
    line-height: 1 !important;
    padding: .25rem 0 !important;
    margin: -.5rem auto !important;
    color: #0f5606 !important;
}

.wed4Body h1 span {
    font-family: 'Mandali', sans-serif !important;
    font-size: 22px;
    color: #ba2c08;
}

.wed4Body h1 em {
    font-style: normal;
    font-size: 22px;
}

.wed4Body p {
    font-family: 'Mandali', sans-serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    padding: .25rem 0 !important;
    text-align: center !important;
    color: #0f5606 !important;
}

.wed4Body p b {
    color: #ba2c08;
}

.wed4Footer .sideBySide {
    margin-bottom: -.25rem;
}

.wed4Footer .sideBySide h3,
.wed4Footer h3 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
    padding: .25rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: wrap;
    gap: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wed4Footer .sideBySide h3 span,
.wed4Footer h3 span {
    background-color: #ffe104;
    border-radius: 4px !important;
    padding: .25rem .35rem !important;
    line-height: 1 !important;
    display: block;
    clear: both;
    color: #ba2c08 !important;
    font-family: 'Mandali', sans-serif !important;
    font-size: 11px !important;
    font-weight: 600 !important;
}

.wed4Footer h5 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    padding: .25rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
}

.wed4Footer h6 {
    font-family: 'Mandali', sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    padding: 1.4rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
}

.wed4Footer p {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    padding: .4rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
}

/* Wedding Template 5 */
.wed5Head h3 {
    font-family: 'Gurajada', sans-serif !important;
    font-size: 26px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    letter-spacing: .05rem !important;
    margin-top: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    color: #890000 !important;
    white-space: nowrap;
}

.wed5Body .imgHolder {
    width: auto;
    height: 225px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1.2rem auto 0 !important;
}

.wed5Body .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed5Body .coupleTitles {
    position: relative;
    padding-bottom: 1.2rem;
}

.wed5Body .coupleTitles::after {
    content: "";
    position: absolute;
    bottom: .25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 12px;
    background: url(../images/title-decor-bottom.png) no-repeat center;
    background-size: contain;
}

.wed5Body .coupleTitles h1 {
    font-family: "Bhagamati", sans-serif;
    color: #890000;
    font-size: 23px !important;
    font-weight: normal !important;
    white-space: nowrap;
    text-align: center;
    width: 49.5%;
    padding: 0 .5rem;
    paint-order: stroke fill;
    -webkit-text-stroke: 2px #fff;
    margin: 0;
}

.wed5Body .coupleTitles h1 span {
    font-size: inherit;
}

.wed5Body h3 {
    font-family: "Roboto", sans-serif;
    color: #006609;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: .4rem 1.5rem .15rem !important;
    border-bottom: 1px solid #cbb17e;
    margin: 0 auto;
}

.wed5Body h5 {
    font-family: "Roboto", sans-serif;
    color: #05236b;
    line-height: 1.2 !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-align: center !important;
    padding: .25rem 0 0 !important;
}

.wed5Body h5 span {
    color: #790000;
}

.wed5Body p {
    font-family: "Ramabhadra", sans-serif !important;
    color: #05236b !important;
    font-size: 15px !important;
    font-weight: normal !important;
    text-align: center !important;
    padding: 1rem 0 0 !important;
    line-height: 1.1 !important;
    position: relative;
}

.wed5Body p::before {
    content: "";
    position: absolute;
    top: .15rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 12px;
    background: url(../images/title-decor-bottom.png) no-repeat center;
    background-size: contain;
}

.wed5Footer .sideBySide {
    width: 90%;
    margin: -.2rem auto .35rem !important;
    justify-content: center;
    gap: .5rem;
}

.wed5Footer .sideBySide .imgHolder {
    width: auto;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7faa7c;
    border-radius: 6px;
    overflow: hidden;
}

.wed5Footer .sideBySide .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed5Footer h3 {
    font-family: 'Gurajada', sans-serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    padding: .25rem 0 !important;
    text-align: center !important;
    color: #820010 !important;
    white-space: nowrap;
}

.wed5Footer h1 {
    font-family: 'Ramabhadra', sans-serif !important;
    font-size: 21px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    padding: .25rem 0 0 !important;
    text-align: center !important;
    color: #21741c !important;
}

.wed5Footer h1 span,
.wed5Footer h6 {
    font-size: 12px;
    font-family: 'Roboto', sans-serif !important;
    color: #05236b;
    display: block;
    clear: both;
}

#temp-footer .wed5Footer p.whatsapp {
    background-color: #3ac04d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem .35rem .25rem 1.5rem !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    border-radius: 5px;
    margin-top: .1rem !important;
}

#temp-footer .wed5Footer p.whatsapp::before {
    top: .4rem;
    left: .3rem;
    filter: invert(1);
}

/* Wedding Template 6 */
.wed6Head .topDecor {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1.5rem;
}

.wed6Head .topDecor input {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    opacity: 0;
}

.wed6Head .topDecor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed6Head .imgHolder {
    width: auto;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1rem auto 0;
}

.wed6Head h3 {
    font-family: 'Bonalu', sans-serif !important;
    font-size: 28px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    padding: 0 !important;
    text-align: center !important;
    color: #faf311 !important;
    white-space: nowrap;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .5);
}

.wed6Body .imgHolder {
    width: auto;
    height: 195px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -.6rem auto 0 !important;
}

.wed6Body .coconutTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 145px;
    margin: -4.5rem auto -.25rem !important;
}

.wed6Body .coconutTitle .imgHolder {
    position: absolute;
    width: 130px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
}

.wed6Body .coconutTitle .imgHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed6Body .coconutTitle h1 {
    font-family: 'Lashkar', sans-serif !important;
    font-size: 23px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    padding: 1rem 0 0 .3rem !important;
    letter-spacing: .07rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
    text-shadow: 0 3px 2px rgba(0, 0, 0, .8);
}

.wed6Body .coconutTitle h1 span {
    font-size: 18px;
    color: #faf311;
}

.wed6Body h3.borderAround {
    font-family: 'Mandali', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    padding: .25rem !important;
    text-align: center !important;
    color: #edf200 !important;
    white-space: nowrap;
    border: 1px solid #fff;
    border-radius: 6px;
}

.wed6Body p {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    padding: .35rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
}

.wed6Body p span {
    color: #f7f200;
    display: block;
    clear: both;
}

.wed6Body .d-flex-row {
    margin: -.35rem auto -.6rem !important;
}

.wed6Body .d-flex-row .labeledText {
    align-self: stretch;
}

.wed6Body .labeledText h1 {
    font-family: 'Mandali', sans-serif !important;
    font-weight: 600 !important;
    padding: .25rem !important;
}

.wed6Body .labeledText p {
    border: 1px solid #fff;
    align-self: stretch;
    padding: 1rem .25rem .15rem !important;
    line-height: 1.3 !important;
    font-size: 11px !important;
}

.wed6Footer .imgHolder {
    width: auto;
    height: 125px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -.5rem auto;
}

.wed6Footer h3 {
    font-family: 'Mandali', sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    padding: 0 !important;
    margin: -1.2rem auto 0 !important;
    text-align: center !important;
    color: #197e05 !important;
    white-space: nowrap;
    paint-order: stroke fill;
    -webkit-text-stroke: 3px #fff;
}

.wed6Footer h1 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    padding: .2rem 0 0 !important;
    margin: 0 auto !important;
    text-align: center !important;
    color: #ffe104 !important;
    white-space: nowrap;
    paint-order: stroke fill;
    -webkit-text-stroke: 3px #000;
}

.wed6Footer h1 span {
    display: block;
    clear: both;
    font-size: 12px;
    color: #fff;
    paint-order: normal;
    -webkit-text-stroke: 0;
}

#temp-footer .wed6Footer p.whatsapp {
    background-color: #ffe104;
    border-radius: 4px;
    padding: .25rem .5rem .25rem 1.5rem !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    color: #000 !important;
    margin: .15rem auto 0 !important;
}

#temp-footer .wed6Footer p.whatsapp::before {
    left: .25rem;
    top: 50%;
    transform: translateY(-50%);
}

#temp-footer .wed6Footer .stickySplitter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: -3rem;
    z-index: 0;
}

#temp-footer .wed6Footer .stickySplitter .imgHolder {
    height: 150px;
    width: auto;
    margin: 0;
}

#temp-footer .wed6Footer .stickySplitter .imgHolder.imgLS {
    left: -3.5rem;
}

#temp-footer .wed6Footer .stickySplitter .imgHolder.imgRS {
    right: -3.5rem;
    transform: rotateY(-180deg);
}

/* Wedding Template 7 */
.wed7Head .row-photo-frame {
    margin-top: -.7rem;
}

.wed7Head p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Gaddar', sans-serif !important;
    font-size: 16px !important;
    padding: 0 !important;
    color: #fff !important;
}

.wed7Head p.slokam {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 11px !important;
    line-height: 1.3 !important;
    text-align: center !important;
    padding: .5rem 0 0 !important;
}

.wed7Head h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-family: 'Bonalu', sans-serif !important;
    font-weight: normal !important;
    font-size: 54px !important;
    padding: .5rem 0 0 !important;
    color: #ffe105 !important;
    text-shadow: 0 4px 0 #7f1b01;
}

.wed7Head h1 span {
    font-size: 30px !important;
}

.wed7Head h3 {
    font-family: 'Kaloji', sans-serif !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 1.2 !important;
    padding: 0 !important;
    color: #fff !important;
}

.wed7Head .bottom-decor {
    position: relative;
    width: auto;
    height: 35px;
    margin: -1.4rem auto .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wed7Head .bottom-decor input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.wed7Head .bottom-decor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wed7Body .photoSplitter {
    margin-top: -.7rem;
    position: relative;
}

.wed7Body .photoSplitter::before,
.wed7Body .photoSplitter::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/cloth-knot.png) no-repeat center center;
    background-size: 42% auto;
    z-index: -2;
}

.wed7Body .photoSplitter::before {
    top: -22%;
    left: -40%;
    transform: rotate(32deg);
}

.wed7Body .photoSplitter::after {
    top: -15%;
    right: -38%;
}

.wed7Body .photoSplitter .mainFrame {
    height: 200px;
    width: 200px;
    position: relative;
}

.wed7Body .photoSplitter .mainFrame::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url(../images/wedding-photo-behind.png) no-repeat center center;
    background-size: contain;
}

.wed7Body .photoSplitter .mainFrame img {
    width: 85%;
    height: 85%;
    object-fit: contain;
    background-color: #fff;
    border-radius: 100%;
}

.wed7Body .photoSplitter .imgHolder {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .5rem;
}

.wed7Body .photoSplitter .imgHolder.imgLS {
    left: .5rem;
    height: 55px;
}

.wed7Body .photoSplitter .imgHolder.imgRS {
    right: 1.2rem;
    height: 90px;
}

.wed7Body h1 {
    font-family: 'Batukamma', sans-serif !important;
    font-size: 34px !important;
    font-weight: normal !important;
    line-height: 1 !important;
    text-align: center !important;
    padding: .25rem 0 !important;
    margin: -.5rem auto !important;
    color: #ffe105 !important;
}

.wed7Body h1 span {
    font-family: 'Gaddar', sans-serif !important;
    font-size: 20px;
    color: #fff;
}

.wed7Body h1 em {
    font-style: normal;
    font-size: 20px;
}

.wed7Body h1.negativeTop {
    margin-top: -1.1rem !important;
}

.wed7Body p {
    font-family: 'Gaddar', sans-serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    padding: .25rem 0 !important;
    text-align: center !important;
    color: #fff !important;
}

.wed7Body p b {
    color: #ffe104;
}

.wed7Footer .sideBySide {
    margin-bottom: -.25rem;
}

.wed7Footer .sideBySide h3,
.wed7Footer h3 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
    padding: 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: wrap;
    gap: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wed7Footer .sideBySide h3 span,
.wed7Footer h3 span {
    background-color: #ffe104;
    border-radius: 4px !important;
    padding: .25rem .35rem !important;
    line-height: 1 !important;
    display: block;
    clear: both;
    color: #ba2c08 !important;
    font-family: 'Mandali', sans-serif !important;
    font-size: 11px !important;
    font-weight: 600 !important;
}

.wed7Footer h5 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    padding: .25rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
}

.wed7Footer h6 {
    font-family: 'Gaddar', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    padding: 1.6rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
}

.wed7Footer p {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    padding: .4rem 0 0 !important;
    text-align: center !important;
    color: #fff !important;
    white-space: nowrap;
}

/* Wedding Template 8 */
.wed8Head .imgHolder.topDecor {
    top: -1.45rem !important;
    z-index: 0;
}

.wed8Head p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Gaddar', sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    margin: 2rem auto 0 !important;
    padding: 0 !important;
    color: #4e8625 !important;
    position: relative;
    z-index: 1;
}

.wed8Head h1 {
    font-family: 'Bhagamati', sans-serif !important;
    font-size: 28px !important;
    font-weight: 500 !important;
    padding: .75rem 0 0 !important;
    color: #950310 !important;
    position: relative;
    z-index: 1;
}

.wed8Body .framedWeddingPhoto {
    margin: 0 auto !important;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wed8Body .framedWeddingPhoto::after,
.wed8Body .framedWeddingPhoto::before {
    content: "";
    position: absolute;
    top: 85%;
    width: 50px;
    height: 50px;
    background: url(../images/photo-frame-bottom-decor.png) no-repeat center center;
    background-size: contain;
}

.wed8Body .framedWeddingPhoto::before {
    left: 9%;
}

.wed8Body .framedWeddingPhoto::after {
    right: 9%;
    transform: rotateY(180deg);
}

.wed8Body .framedWeddingPhoto .imgHolder.groomPair {
    height: 200px;
    width: 300px;
    position: absolute;
    left: auto !important;
    transform: none !important;
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
    bottom: 0;
}

.wed8Body .decoratedContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.wed8Body .decoratedContent::before,
.wed8Body .decoratedContent::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: url(../images/titles-besides-vector.png) no-repeat center center;
    background-size: contain;
    z-index: -1;
}

.wed8Body .decoratedContent::before {
    left: 1rem;
}

.wed8Body .decoratedContent::after {
    right: 1rem;
    transform: rotateY(180deg);
}

.wed8Body .decoratedContent h6 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    padding: .6rem 0 0 !important;
    text-align: center !important;
    color: #325604 !important;
    white-space: nowrap;
}

.wed8Body .decoratedContent h1 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    padding: .5rem 0 .35rem !important;
    text-align: center !important;
    color: #9a030e !important;
    white-space: nowrap;
}

.wed8Body .decoratedContent h1 span {
    font-size: 18px !important;
}

.wed8Body .decoratedContent h2 {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 21px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    padding: 0 !important;
    text-align: center !important;
    color: #9a030e !important;
    white-space: nowrap;
}

.wed8Body .decoratedContent h2 span {
    font-size: 16px !important;
}

.wed8Body .decoratedContent p {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    padding: .5rem 0 0 !important;
    text-align: center !important;
    color: #325604 !important;
}

.wed8Body h5.borderAround {
    position: relative;
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    padding: .5rem .35rem .25rem !important;
    margin: .5rem auto 0 !important;
    text-align: center !important;
    border: 1px solid #333 !important;
    border-radius: 10px !important;
    color: #325604 !important;
    width: 80% !important;
}

.wed8Body h5.borderAround span {
    display: block;
    clear: both;
    color: #9a030e !important;
    font-size: 12px !important;
}

.wed8Footer p {
    font-family: 'Anek Telugu', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    padding: .4rem 0 0 !important;
    text-align: center !important;
    color: #325604 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wed8Footer p span {
    color: #9a030e !important;
    font-size: 12px !important;
}

.wed8Footer p.withBg {
    background-color: #950310;
    border-radius: 6px !important;
    width: fit-content !important;
    padding: .35rem 1.5rem .35rem .5rem !important;
    margin-top: .35rem !important;
    line-height: 1.2 !important;
    color: #fff !important;
    font-family: 'Anek Telugu', sans-serif !important;
    position: relative;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.wed8Footer p.withBg::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -.65rem;
    width: 28px;
    height: 28px;
    background: url(../images/click_hand_icon.png) no-repeat center center;
    background-size: contain;
    transform: translateY(-50%);
}