<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-9</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-9 Start -->
            <div class="template-wrapper" id="obituary-temp-9"
                style="background-image: url(/assets/images/back-bg-32.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt9Head">
                        <div class="spl-obt-title">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                అమృతమూర్తికి అశ్రుతాంజలి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt9Body">
                        <div class="obit-photo-flowered">
                            <img src="/assets/images/old-man-3.png" id="obit-photo" alt="">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('obit-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>

                        <h1 class="wisher special selectable mt-2" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే.</span> శ్రీ నామా కృష్ణ <span>గారు</span>
                        </h1>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            మరణం: <span>21/01/2025</span> తాడిపూడి</h3>

                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            మీరు భౌతికంగా మా మధ్య లేకున్నా మీ జ్ఞాపకాలు, మీతో గడిపిన క్షణాలు ఎల్లప్పుడూ... మా వెన్నెంటే
                            ఉంటాయి. మీ ఆత్మకు
                            శాంతిచేకూరాలని భగవంతుని ప్రార్థిస్తూ...</p>
                        <h3 class="selectable withBg dark" contenteditable="true" data-options="editOptions">
                            కుమారుడు: <span>నామా శ్రీనివాస్ (గోపాలం) - భవాని</span></h3>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">సర్పంచ్ : తాడిపూడి</h5>
                        <h3 class="selectable withBg dark" contenteditable="true" data-options="editOptions">
                            కుమార్తె: <span> కందుల పొసిరత్నం- సత్యనారాయణ</span></h3>
                        <h3 class="selectable withBg negativeTop" contenteditable="true" data-options="editOptions">
                            మనుమలు: <span>నామా హర్ష, కందుల సాయి రామ కృష్ణ</span><br>
                            మనవరాళ్లు: <span>నామా మనశ్రీ, కందుల దుర్గా</span></h3>

                        <h5 class="selectable" contenteditable="true" data-options="editOptions">పెద్దకార్యం:</h5>
                        <h3 class="selectable withBg dark" contenteditable="true" data-options="editOptions">
                            తేదీ: 02/02/2025 <span> అనగా ఈ రోజు తాడిపూడి గ్రామంలో మా స్వగృహము నందు జరుపబడును</span></h3>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt9Footer">
                        <h3 class="selectable withBg dark" contenteditable="true" data-options="editOptions">
                            తేదీ: 02/02/2025 <span> అనగా ఈ రోజు తాడిపూడి గ్రామంలో మా స్వగృహము నందు జరుపబడును</span></h3>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-8 End -->

        </div>
    </body>

</html>