<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-5</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Obituary Template-5 Start -->
            <div class="template-wrapper" id="obituary-temp-5"
                style="background-image: url(/assets/images/back-bg-28.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt5Head">
                        <div class="christTitle">
                            <h5 contenteditable="true" class="selectable" data-options="editOptions">
                                నీతిమంతుని జ్ఞాపకం చేసుకొనుట ఆశీర్వాదకరమగును సామెతలు 10:7</h5>
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                జ్ఞాపకార్ధ కూడిక</h1>

                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/jesus-statue.png" id="christ1" alt="">
                                <input name="christ1" type="file" accept="image/*"
                                    onchange="document.getElementById('christ1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/jesus-statue.png" id="christ2" alt="">
                                <input name="christ2" type="file" accept="image/*"
                                    onchange="document.getElementById('christ2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt5Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/candle-light.png" id="candle1" alt="">
                                <input name="candle1" type="file" accept="image/*"
                                    onchange="document.getElementById('candle1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="mainFrame selectable mask">
                                <img src="/assets/images/couple-1.png" id="obit2-photo" alt="">
                                <input name="obitphoto" type="file" accept="image/*"
                                    onchange="document.getElementById('obit2-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/candle-light.png" id="candle2" alt="">
                                <input name="candle2" type="file" accept="image/*"
                                    onchange="document.getElementById('candle2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="coupleTitles">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కీ.శే.</span>
                                చింతా యోసీబు <span>గారు</span>
                            </h1>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కీ.శే.</span>
                                చింతా లక్ష్మమ్మ <span>గారు</span>
                            </h1>
                        </div>
                        <div class="deathDates">
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">మరణం: 14-11-2004
                            </h5>
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">మరణం: 04-12-2023
                            </h5>
                        </div>
                        <h4 class="bgWithFlowers selectable" contenteditable="true" data-options="editOptions">నీతి
                            నిజాయితీకి మారు పేరుగా నిలిచి, మాకు మమతానురాగాలు పంచి, క్రమశిక్షణతో పెంచి, ఉన్నత శిఖరాలకు
                            నడిపించి మా అభివృద్ధికి
                            బాటలు వేసిన మహోన్నత ఆదర్శమూర్తులు అయిన మా తల్లిదండ్రులను స్మరించుకుంటూ...</h4>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt5Footer">
                        <h1 contenteditable="true" class="selectable" data-options="editOptions">
                            కుమారులు - కోడళ్ళు
                        </h1>
                        <p contenteditable="true" class="selectable" data-options="editOptions">సత్యనారాయణ -నాగమణి |
                            చంద్రశేఖర్-మణి |
                            సూర్యనారాయణ - సరోజినీ <br>
                            జయరాజు - సీతామహాలక్ష్మీ |
                            భాస్కరరావు - స్వర్ణ జ్యోతి <br>
                            సంపత్-ప్రసన్న, చిరంజీవి - వనిత</p>
                        <h1 contenteditable="true" class="selectable" data-options="editOptions">
                            కుమార్తె - అల్లుడు
                        </h1>
                        <p contenteditable="true" class="selectable" data-options="editOptions">బుడితి చంద్రప్రభ - విజయ్
                            కుమార్</p>
                        <p contenteditable="true" class="selectable noDecor" data-options="editOptions">మనుమలు,
                            మనుమరాండ్రు,
                            మునిమనుమలు, మునిమనుమరాండ్రు మరియు కుటుంబసభ్యులు</p>
                        <h5 contenteditable="true" class="selectable" data-options="editOptions">జ్ఞాపకార్ధకూడిక : ది.
                            04-12-24 బుధవారం (ఈరోజు) <br> పోడూరు మండలం పెనుమదం శివారు అప్పిచెరువు మా స్వగృహం నందు
                            జరుగును <br> సెల్:9849119807</h5>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-5 End -->

        </div>
    </body>

</html>