<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-9</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-9 Start -->
            <div class="template-wrapper" id="obituary-temp-9"
                style="background-image: url(/assets/images/back-bg-32.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt9Head">
                        <div class="spl-obt-title">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                అమృతమూర్తికి అశ్రుతాంజలి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt9Body">
                        <div class="obitOvalFramed selectable">
                            <img src="/assets/images/old-man.png" id="obit-photo" alt="">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('obit-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>

                        <div class="splitTitles">
                            <p class="selectable" contenteditable="true" data-options="editOptions">జననం<br> 15-04-1950
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">మరణం<br> 24-01-2025
                            </p>
                        </div>

                        <h1 class="wisher special selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే.</span> వాకా పేరిరెడ్డి <span>గారు</span>
                        </h1>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            (రిటైర్డ్ ప్రిన్సిపాల్, G.B.R. డిగ్రీ కాలేజీ, అనపర్తి)</h3>

                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            క్రమ శిక్షణకు మారుపేరు, మానవత్వం మూర్తీభవించిన మహోన్నత వ్యక్తిత్వం మీ సొంతం. అకుంఠిత దీక్ష,
                            ఓర్సుతో ఎందరో విద్యార్థుల బంగారు భవితకు బాటలు వేసిన మీ సిద్ధాంతాలు మాకు మార్గదర్శకం. మీ
                            పవిత్ర ఆత్మకు శాంతి చేకూరాలని భగవంతుని ప్రార్థిస్తూ... ఆశ్రునయనాలతో....</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt9Footer">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            భార్య: వాకా కరుణ</h2>
                        <div class="sideBySide">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమారుడు - కోడలు</span> వాకా కృష్ణ చైతన్య - మైధిలి
                            </h3>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమార్తె - అల్లుడు</span> బొమ్మారెడ్డి శిల్ప విజయ్ భాస్కర్
                            </h3>
                        </div>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">మనుమలు, మనుమరాండ్రు
                        </h5>
                        <p class="selectable" contenteditable="true" data-options="editOptions">వాకా అధితిరెడ్డి |
                            వాకా అర్జున్ రెడ్డి <br>
                            బొమ్మారెడ్డి జ్ఞానదీప్ |
                            బొమ్మారెడ్డి సుమేధ</p>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            కుటుంబ సభ్యులు <span>మరియు</span> బంధుమిత్రులు</h2>

                    </div>
                </div>
            </div>
            <!-- Birthday Template-8 End -->

        </div>
    </body>

</html>