<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-7</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-7 Start -->
            <div class="template-wrapper" id="obituary-temp-7"
                style="background-image: url(/assets/images/back-bg-30.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt7Head">
                        <div class="spl-obt-title">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                అమృతమూర్తికి అశ్రుతాంజలి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt7Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/diya-light.png" id="diya1" alt="">
                                <input name="diya1" type="file" accept="image/*"
                                    onchange="document.getElementById('diya1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="mainFrame selectable">
                                <img src="/assets/images/old-woman-2.jpg" id="obit2-photo" alt="">
                                <input name="obitphoto" type="file" accept="image/*"
                                    onchange="document.getElementById('obit2-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/diya-light.png" id="diya2" alt="">
                                <input name="diya2" type="file" accept="image/*"
                                    onchange="document.getElementById('diya2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే.</span> ద్వారపురెడ్డి సావిత్రమ్మ <span>గారు</span>
                        </h1>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">జననం: 01.01.1933 &nbsp;
                            | &nbsp; మరణం: 21.01.2025</h5>
                        <div class="contentBox">
                            <h4 class="selectable" contenteditable="true" data-options="editOptions">మీరు మాపై చూపిన
                                ప్రేమ, ఆప్యాయతలు</h4>
                            <p class="txtRed selectable" contenteditable="true" data-options="editOptions">మా
                                భవిష్యత్తును నిర్మించిన మీ కృషి మా మనసులో ఎప్పటికీ నిలిచే ఉంటాయి.</p>
                            <p class="txtGreen selectable" contenteditable="true" data-options="editOptions">కుటుంబ
                                ఉన్నతికై అహర్నిశలు శ్రమించి.. మా భవితకు బంగారు బాటలు వేసి..</p>
                            <p class="txtDarkBlue selectable" contenteditable="true" data-options="editOptions">అకాల
                                మరణం అనంత లోకాలకు వెళ్లిన మీ పవిత్ర ఆత్మకు శాంతి చేకూరాలని భగవంతున్ని ప్రార్థిస్తూ</p>
                        </div>
                        <p class="labeledText selectable" contenteditable="true" data-options="editOptions">పెద్దకార్యం
                        </p>
                        <p class="default selectable" contenteditable="true" data-options="editOptions">తేదీ
                            01.02.2025, శనివారం ఉదయం గరుగబిల్లి మండలం, కొత్తూరు గ్రామంలోని మా పామాయిల్ తోటలో పెద్దకర్మ
                            జరిపించుటకు పెద్దలు నిశ్చయించినారు. గావున మీకు తెలియపరచడమైనది</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt7Footer">
                        <h5 contenteditable="true" class="selectable" data-options="editOptions">ఇట్లు</h5>
                        <h2 contenteditable="true" class="selectable" data-options="editOptions">ద్వారపురెడ్డి రామమోహన్
                            రావు</h2>
                        <h3 contenteditable="true" class="selectable" data-options="editOptions">సోదరులు మరియు కుటుంబ
                            సభ్యులు</h3>
                        <h4 contenteditable="true" class="selectable" data-options="editOptions">కొత్తూరు గ్రామం,
                            గరుగబిల్లి మండలం</h4>
                        <p contenteditable="true" class="address selectable" data-options="editOptions">కార్యక్రమం జరుగు
                            స్థలం
                        </p>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-7 End -->

        </div>
    </body>

</html>