<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-10</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Dhurjati&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-10 Start -->
            <div class="template-wrapper" id="obituary-temp-10"
                style="background-image: url(/assets/images/back-bg-33.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt10Head">
                        <div class="spl-obt-title">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                అమృతమూర్తికి అశ్రునివాళి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt10Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/diya-light.png" id="diya1" alt="">
                                <input name="diya1" type="file" accept="image/*"
                                    onchange="document.getElementById('diya1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="mainFrame selectable mask">
                                <img src="/assets/images/old-woman.png" id="obit2-photo" alt="">
                                <input name="obitphoto" type="file" accept="image/*"
                                    onchange="document.getElementById('obit2-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/diya-light.png" id="diya2" alt="">
                                <input name="diya2" type="file" accept="image/*"
                                    onchange="document.getElementById('diya2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే. శ్రీమతి</span> తెల్లం మల్లమ్మ <span>గారు</span>
                        </h1>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            W/o కీ.శే. <span>తెల్లం చిన వడ్డి గారు</span> Ex-MPP, EX-ZPTC, బుట్టాయిగూడెం మండలం</h3>
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">మరణం: 25-01-2025
                        </h5>

                        <div class="boxedText">
                            <p class="selectable txtRed" contenteditable="true" data-options="editOptions">
                                మంచితనం, మానవత్వంతో అందరినీ ఆప్యాయంగా పలుకరిస్తూ.</p>
                            <p class="selectable txtGreen" contenteditable="true" data-options="editOptions">
                                ప్రేమానురాగాలతో మమ్ములను పెంచి, చెదరని చిరునవ్వుతో, సడలని సంకల్పంతో, అకుంటిత దీక్షతో
                                కుటుంబ
                                ఉన్నతికై అహర్షిశలు శ్రమించి, క్రమశిక్షణకు చిరునామాగా నిలిచిన</p>
                            <p class="selectable txtWithBg" contenteditable="true" data-options="editOptions">
                                నా మాతృమూర్తి శ్రీమతి తెల్లం మల్లమ్మ గారి మృతి మాకు తీరని లోటు. వారి పవిత్ర ఆత్మకు శాంతి
                                చేకూర్చాలని భగవంతుని ప్రార్థిస్తూ...</p>
                        </div>

                        <div class="grpTxt txtRight">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమారుడు:</span> తెల్లం బాలరాజు <em>పోలవరం మాజీ శాసనసభ్యులు</em>
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కోడలు:</span> <span>శ్రీమతి</span> తెల్లం రాజ్యలక్ష్మి <em>పోలవరం నియోజకవర్గ
                                    వైఎస్సార్సీపీ
                                    ఇన్ఛార్జ్</em>
                            </p>
                        </div>
                        <div class="grpTxt">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మనుమలు:</span> తెల్లం సాయి విశాల్, తెల్లం రోహిత్
                            </p>
                        </div>
                        <div class="grpTxt inlineFlex">
                            <p class="selectable fullWidth" contenteditable="true" data-options="editOptions">
                                <span>కుమార్తెలు:</span>
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> వరలక్ష్మి
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> ముక్కమ్మ
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> రామలక్ష్మి <em>వెటర్నరీ అసిస్టెంట్</em>
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> సత్యవతి
                            </p>
                        </div>
                        <div class="grpTxt inlineFlex">
                            <p class="selectable fullWidth" contenteditable="true" data-options="editOptions">
                                <span>అల్లుళ్ళు:</span>
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                కోటం లక్ష్మణరావు
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                కుమ్మర దుర్గారావు
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                కోటం దేవరాజు <em>మెడికల్ హెల్త్ ఇన్స్పెక్టర్</em>
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                జలగం సుబ్బారావు <em>టీచర్</em>
                            </p>
                        </div>
                        <div class="grpTxt inlineFlex">
                            <p class="selectable fullWidth" contenteditable="true" data-options="editOptions">
                                <span>మనుమలు - మనుమరాండ్రు:</span>
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> రమాదేవి, <em>టీచర్</em>
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                తెల్లం రాజు
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> లక్ష్మికుమారి, <em>టీచర్</em>
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                దరుముల నరసింహారావు, <em>టీచర్</em>
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                కుమ్మర హరిప్రసాద్,
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> శాంతికుమారి,
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> సంధ్యారాణి, <em>పంచాయతీ సెక్రటరీ</em>
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                తెల్లం సత్యనారాయణ,
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> తులసి, <em>ఫార్మసిస్ట్</em>
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                డా. జారేపల్లి సురేష్ కుమార్, కోటం పావని, కోటం సుస్మిత, జలగం నీహర్షిత్,
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt10Footer">
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            పెద్దకార్యం</h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            తేదీ : 06-02-2025, గురువారం,</h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">తెల్లంవారిగూడెం
                            (దుద్దుకూరు), బుట్టాయిగూడెం మండలం మా స్వగృహము నందు జరుగును.</p>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-10 End -->

        </div>
    </body>

</html>