<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-12</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Dhurjati&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-11 Start -->
            <div class="template-wrapper" id="obituary-temp-12"
                style="background-image: url(/assets/images/back-bg-35.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt12Head">
                        <div class="spl-obt-title">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                శ్రద్ధాంజలి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt12Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/diya-light.png" id="diya1" alt="">
                                <input name="diya1" type="file" accept="image/*"
                                    onchange="document.getElementById('diya1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="mainFrame selectable mask">
                                <img src="/assets/images/old-man.png" id="obit2-photo" alt="">
                                <input name="obitphoto" type="file" accept="image/*"
                                    onchange="document.getElementById('obit2-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/diya-light.png" id="diya2" alt="">
                                <input name="diya2" type="file" accept="image/*"
                                    onchange="document.getElementById('diya2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="splitTitles">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>జననం</span> 15-08-1952
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మరణం</span> 30-01-2025
                            </p>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే.</span> బొట్ట సింహచలం <span>గారు</span>
                        </h1>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            రిటైర్డ్ ఉద్యోగి సీనియర్ సహాయకులు వాణిజ్య పన్నుల శాఖ కార్యాలయం(GST), విజయనగరం</h3>

                        <div class="boxedText">
                            <p class="selectable txtRed" contenteditable="true" data-options="editOptions">
                                మీరు వేయించిన ప్రతి అడుగు మా జీవితాలకు ముందడుగు సమాజంలో మీరు సంపాదించిన పేరు ప్రతిష్టలు
                                మాకు శ్రీరామ రక్ష,
                            </p>
                            <p class="selectable txtGreen" contenteditable="true" data-options="editOptions">
                                భౌతికంగా దూరమైన మీ పవిత్ర ఆత్మకు శాంతి చేకూరాలని భగవంతుని ప్రార్థిస్తూ..</p>
                        </div>

                        <div class="grpTxt inlineFlex">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>భార్య:</span> బొట్ట సూరిడమ్మ
                            </p>
                        </div>
                        <div class="grpTxt">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమారులు</span> బొట్ల శ్రీనివాస్ (పింకఔశేష్) <br> బొట్ట సత్తిబాబు <br>
                                బొట్ట దుర్గాప్రసాద్
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కోడళ్ళు</span> రమాదేవి <br> వరలక్ష్మి <br>
                                మణి
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మనుమలు</span> నిఖిల్, యువరాజు <br> వేదాంత్ కృష్ణ <br> జశ్వీందర్
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>మనుమరాండ్రు</span> తనిష్క <br> దీక్షిత
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>అల్లుడు</span> నమ్మి చక్రి
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమార్తె</span> లక్ష్మీభాను
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                జయరాం
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                హర్షిత(హ్యాపీ)
                            </p>
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>మరియు</span> కుటుంబ సభ్యులు, బంధుమిత్రులు
                        </h4>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-footer">
                    <div class="obt12Footer">
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            పెద్దకార్యం</h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            తేదీ : 09-02-2025, ఆదివారం, <span>గొడికొమ్మ గ్రామం</span></h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మా స్వగృహంలో జరువబడును.
                        </p>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">9441749667
                        </p>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-11 End -->

        </div>
    </body>

</html>