<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-4</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Obituary Template-4 Start -->
            <div class="template-wrapper" id="obituary-temp-4"
                style="background-image: url(/assets/images/back-bg-27.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt4Head">
                        <div class="diyaTitle">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                ఆదర్శమూర్తికి అశ్రునివాళి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt4Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/diya-1.png" id="diya1" alt="">
                                <input name="diya1" type="file" accept="image/*"
                                    onchange="document.getElementById('diya1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="floweredFrame selectable mask">
                                <img src="/assets/images/old-man2.png" id="obit-photo" alt="">
                                <input name="photo" type="file" accept="image/*"
                                    onchange="document.getElementById('obit-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/diya-1.png" id="diya2" alt="">
                                <input name="diya2" type="file" accept="image/*"
                                    onchange="document.getElementById('diya2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <p class="selectable mt-1" contenteditable="true" data-options="editOptions">
                            మాకు అత్యంత ఆత్మీయులు, సహృదయులు కేంద్ర సహాయ మంత్రి వర్యులు శ్రీ <span
                                class="paraHeadGreen selectable" contenteditable="true"
                                data-options="editOptions">భూపతిరాజు శ్రీనివాస వర్మ</span>
                            గారి తండ్రి గారైన
                        </p>
                        <p class="selectable" contenteditable="true" data-options="editOptions">శ్రీ <span
                                class="paraHeadRed selectable" contenteditable="true"
                                data-options="editOptions">భూపతిరాజు
                                సూర్యనారాయణ రాజు</span> గారి మృతికి చింతిస్తూ వారి పవిత్ర ఆత్మకు శాంతి చేకూరాలని
                            భగవంతుడిని
                            ప్రార్థిస్తున్నాము.</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt4Footer">
                        <h1 contenteditable="true" class="selectable" data-options="editOptions">
                            పి.వి. సూర్యనారాయణరాజు (DTDC బాబు)
                        </h1>
                        <h5 contenteditable="true" class="selectable" data-options="editOptions">మాజీ Amc వైస్ చైర్మన్,
                            పాలకొల్లు
                        </h5>
                        <h3 contenteditable="true" class="selectable" data-options="editOptions">Managing Director</h3>
                        <p contenteditable="true" class="selectable" data-options="editOptions">
                            SRI SUBHA E COMMERCE LOGISTICS PVT LTD<br>Pragathi Towers, Nr. Vijayalakshmi theatere,
                            Bhimavaram</p>
                        <div class="branches">
                            <h5 contenteditable="true" class="selectable" data-options="editOptions">Branches:</h5>
                            <h3 contenteditable="true" class="selectable" data-options="editOptions">Palakol,
                                Bhimavaram, Narasapuram, Kakinada,<br> Rajahumundry, Vijayawada, Hyderabad</h3>
                            <p contenteditable="true" class="selectable" data-options="editOptions">National Franchise
                                Advisory Board Member:</p>
                            <h2 contenteditable="true" class="selectable" data-options="editOptions">DTDC Express
                                Limited <img src="/assets/images/dtdc-logo.jpg" alt=""></h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-4 End -->

        </div>
    </body>

</html>