<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-6</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-6 Start -->
            <div class="template-wrapper" id="obituary-temp-6"
                style="background-image: url(/assets/images/back-bg-29.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt6Head mt-1">
                        <div class="christTitle">
                            <h5 contenteditable="true" class="selectable" data-options="editOptions">
                                నీతిమంతుని జ్ఞాపకం చేసుకొనుట ఆశీర్వాదకరమగును <span>సామెతలు 10:7</span></h5>
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                ఆదరణ కూడిక</h1>

                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/jesus-statue2.png" id="christ1" alt="">
                                <input name="christ1" type="file" accept="image/*"
                                    onchange="document.getElementById('christ1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/jesus-statue2.png" id="christ2" alt="">
                                <input name="christ2" type="file" accept="image/*"
                                    onchange="document.getElementById('christ2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt6Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/candle-light2.png" id="candle1" alt="">
                                <input name="candle1" type="file" accept="image/*"
                                    onchange="document.getElementById('candle1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="mainFrame selectable">
                                <img src="/assets/images/old-woman-3.jpg" id="obit2-photo" alt="">
                                <input name="obitphoto" type="file" accept="image/*"
                                    onchange="document.getElementById('obit2-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/candle-light2.png" id="candle2" alt="">
                                <input name="candle2" type="file" accept="image/*"
                                    onchange="document.getElementById('candle2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే.</span> తానుకొండ మేరి గోల్డ్ <span>గారు</span>
                        </h1>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">మాజీ కౌన్సిలర్,
                            నరసాపురం
                        </h4>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">జననం: 07-08-1951 &nbsp;
                            | &nbsp; మరణం: 07-01-2025</h5>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మా
                            అమ్మగారు శ్రీమతి తానుకొండ మేరిగోల్డ్ గారు ది: 07-01-2025 తేదీన ప్రభువునందు
                            నిద్రించియున్నారు. కావున ది: 13-01-2025 ఉదయం 10 గంటలకు నరసాపురం గాంధీ నగర్ 2లోని మా
                            స్వగృహమునందు ఆదరణ కూడిక జరుగును, కావున తెలియజేయడమైనది</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt6Footer">
                        <div class="requestedBy">
                            <h5 contenteditable="true" class="selectable" data-options="editOptions">ఇట్లు</h5>
                            <h3 contenteditable="true" class="selectable" data-options="editOptions">
                                కుటుంబ సభ్యులు
                            </h3>
                            <p contenteditable="true" class="whatsapp selectable" data-options="editOptions">7993684002
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-6 End -->

        </div>
    </body>

</html>