<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-11</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Dhurjati&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Obituary Template-11 Start -->
            <div class="template-wrapper" id="obituary-temp-11"
                style="background-image: url(/assets/images/back-bg-34.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt11Head">
                        <div class="spl-obt-title">
                            <h1 contenteditable="true" class="selectable" data-options="editOptions">
                                16<span>వ</span> వర్థంతి</h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt11Body">
                        <div class="obitPhotoSplitter">
                            <div class="imgHolder selectable imgLS">
                                <img src="/assets/images/diya-light.png" id="diya1" alt="">
                                <input name="diya1" type="file" accept="image/*"
                                    onchange="document.getElementById('diya1').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="mainFrame selectable mask">
                                <img src="/assets/images/namaste-dummy.png" id="obit2-photo" alt="">
                                <input name="obitphoto" type="file" accept="image/*"
                                    onchange="document.getElementById('obit2-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img src="/assets/images/diya-light.png" id="diya2" alt="">
                                <input name="diya2" type="file" accept="image/*"
                                    onchange="document.getElementById('diya2').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="splitTitles">
                            <p class="selectable" contenteditable="true" data-options="editOptions">జననం<br> 01-07-1955
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">మరణం<br> 06-02-2009
                            </p>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>కీ.శే.</span> పొందూరు వాసుస్వామి <span>గారు</span>
                        </h1>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            అయ్యప్పస్వామి, శ్రీ వెంకటేశ్వరస్వామి ఆలయాల వ్యవస్థాపకులు మరియు ప్రథమ ధర్మకర్త, సోంపేట</h3>

                        <div class="boxedText">
                            <p class="selectable txtRed" contenteditable="true" data-options="editOptions">
                                మంచితనం, మంచి వ్యక్తిత్వం కల్గి, ఆధ్యాత్మిక సేవలో పునీతులై' అందరికీ ఆదర్శంగా నిలిచారు.
                            </p>
                            <p class="selectable txtGreen" contenteditable="true" data-options="editOptions">
                                భీష్మ ఏకాదశి రోజున మీరు మా నుండి దూరమై నేటికి 18 వసంతాలు అయిననూ మీ స్మృతులు
                                మేము మరువలేకున్నాం. మీ పవిత్ర ఆత్మకు శాంతి చేకూరాలని ఆ భగవంతుని ప్రార్ధిస్తూ...</p>
                        </div>

                        <div class="grpTxt inlineFlex">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>భార్య:</span> పొందూరు కమల
                            </p>
                        </div>
                        <div class="grpTxt">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమారుడు</span> పొందూరు తిరుపతిరావు <em>Prop: SVS Function Holl, CELL:
                                    9000043843</em>
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కోడలు</span> శ్రీమతి నీరజ
                            </p>
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>మనుమడు, మనుమరాలు:</span> వాసుస్వరూప్, సంయుక్త
                            </p>
                        </div>
                        <div class="grpTxt">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>కుమార్తెలు</span> జాక జానకి <br> అమృతవల్లి మాధవి
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                <span>అల్లుళ్లు</span> జాక భాస్కరరావు <br> అమృతవల్లి వెంకటరమణ కుమార్
                            </p>
                        </div>
                        <div class="grpTxt">
                            <p class="selectable inlineSmall" contenteditable="true" data-options="editOptions">
                                <span>మనుమలు - మనుమరాండ్రు:</span> జాక మణికంఠ, జాక వెంకట్, <br> అమృతవల్లి శ్రీలక్ష్మి
                                అమృతవల్లి అక్షయ
                            </p>
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>మరియు</span> బంధుమిత్రులు
                        </h4>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-11 End -->

        </div>
    </body>

</html>