<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obituary Template-3</title>

        <link rel="stylesheet" href="/assets/css/obituary-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Obituary Template-3 Start -->
            <div class="template-wrapper" id="obituary-temp-3"
                style="background-image: url(/assets/images/back-bg-26.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="obt3Head">
                        <h1 contenteditable="true" class="selectable" data-options="editOptions">
                            ఉత్తరక్రియల ఆహ్వాన పత్రిక</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="obt3Body">
                        <div class="obitOvalFramed selectable">
                            <img src="/assets/images/old-woman-3.jpg" id="obit-photo" alt="">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('obit-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="splDecorTxt">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                శ్రీమతి చిచ్చిలి చెంగమ్మ గారు
                            </h1>
                        </div>
                        <h3 class="selectable mt-1" contenteditable="true" data-options="editOptions">తేదీ.18-11-2024వ
                            తేది
                            సోమవారం ఉదయం 07.05 ని;లకు మా తల్లిగారైన</h3>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">శ్రీమతి చిచ్చిలి
                            చెంగమ్మ గారు స్వర్గస్తులైనారు.</h2>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="obt3Footer">
                        <p contenteditable="true" class="selectable" data-options="editOptions">
                            30-11-2024వ తేది శనివారం ఉదయం 10.00 గం॥లకు చిచ్చిలివారి పల్లిలో మా స్వగృహము నందు
                            ఉత్తరక్రియలు జరుగును. కావున తెలియజేయడమైనది.
                        </p>
                        <h5 contenteditable="true" class="bgLabel selectable" data-options="editOptions">ఇట్లు
                        </h5>
                        <h3 contenteditable="true" class="conclude selectable" data-options="editOptions">చిచ్చిలి
                            పురుషోత్తం రెడ్డి (బాబు)</h3>
                        <p contenteditable="true" class="address selectable" data-options="editOptions">
                            చిచ్చిలివారిపల్లి, II, రొంపిచెర్ల మం,</p>
                    </div>
                </div>
            </div>
            <!-- Birthday Template-3 End -->

        </div>
    </body>

</html>