<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-3</title>

        <link rel="stylesheet" href="/assets/css/promotion-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template-3 Start -->
            <div class="template-wrapper" id="promotion-template-3"
                style="background-image: url(../../assets/images/back-bg-49.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="promo3Head">
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            వేలకొద్దీ వెరైటీస్.. రేర్ రేంజ్ సెలెక్షన్స్ తో..
                        </p>
                        <div class="side-by-side">
                            <h4 class="selectable" contenteditable="true" data-options="editOptions">
                                ఆడి సేల్ ! <br> కేజీ సేల్ !
                            </h4>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                క్రేజీ సేల్!! <span>నేటి నుండి!</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="promo3Body">
                        <div class="imgHolder selectable">
                            <img id="offerImg" src="../../assets/images/kisan-body-img.png" alt="" />
                            <input name="offr" type="file" accept="image/*"
                                onchange="document.getElementById('offerImg').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="side-by-side">
                            <div class="left-side">
                                <p class="selectable" contenteditable="true" data-options="editOptions">మెన్స్, కిడ్స్ &
                                    లేడీస్ వేర్ పై</p>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">upto</h5>
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                    50<span>%</span> <em>Off</em></h1>
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">
                                    <span>&amp;</span>1+1, 1+2 offers
                                </h4>
                            </div>
                            <div class="right-side">
                                <p class="selectable" contenteditable="true" data-options="editOptions">పట్టు & ఫ్యాన్సీ
                                    శారీస్ పై</p>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">upto</h5>
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                    55<span>%</span> <em>Off</em></h1>
                            </div>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">అప్పుడు.. ఇప్పుడు..
                            ఎప్పుడు.. <br> మన ఫేవరేట్ మాల్.. కిసాన్ ఫ్యాషన్ మాల్</h3>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="promo3Footer">
                        <div class="imgHolder selectable">
                            <img id="kisan-logo" src="../../assets/images/kisan-fashion-mall-logo.jpg" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('kisan-logo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            <span>తెలంగాణ:</span>
                            నిజామాబాద్ - కామారెడ్డి <br> సుచిత్ర (హైదరాబాద్) - నిర్మల్ కోరుట్ల <span>మహారాష్ట్ర:</span>
                            నాందేడ్ - పర్బానీ - ఉద్గిర్
                        </p>
                    </div>
                </div>
            </div>
            <!-- Promotion Template-3 End -->
        </div>
    </body>

</html>