<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-7</title>

        <link rel="stylesheet" href="./assets/css/promotion-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template-7 Start -->
            <div class="template-wrapper" id="promotion-template-7"
                style="background-image: url(./assets/images/back-bg-103.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="promo7Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><img
                                src="./assets/images/sri-tulasi-ayur-hosp-logo.png" alt=""> Sri Tulasi <img
                                src="./assets/images/nabh-safety-logo.png" alt=""> <span>Ayurvedic Hospital</span>
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="promo7Body">
                        <p class="selectable" contenteditable="true" data-options="editOptions">(Kerala panchakarma
                            centre)</p>
                        <h3 class="selectable borderAround" contenteditable="true" data-options="editOptions">NABH
                            Certified 25 Bedded Hospital</h3>
                        <div class="circledBadge">
                            <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">
                                1<sup>st</sup> Hospital
                            </h2>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>in
                                    Andhra Pradesh</span> 100% Cashless</h1>
                            <p class="selectable" contenteditable="true" data-options="editOptions">panchakarma
                                therapies are available for all these insurance</p>
                        </div>
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="brOne" src="./assets/images/bajaj-allianz-logo.jpg" alt="" />
                                <input name="logo1" type="file" accept="image/*"
                                    onchange="document.getElementById('brOne').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brTwo" src="./assets/images/usgi-logo.jpg" alt="" />
                                <input name="logo2" type="file" accept="image/*"
                                    onchange="document.getElementById('brTwo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brThree" src="./assets/images/paramount-health-logo.jpg" alt="" />
                                <input name="logo3" type="file" accept="image/*"
                                    onchange="document.getElementById('brThree').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brFour" src="./assets/images/acko-logo.jpg" alt="" />
                                <input name="logo4" type="file" accept="image/*"
                                    onchange="document.getElementById('brFour').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brFive" src="./assets/images/fhpl-logo.jpg" alt="" />
                                <input name="logo5" type="file" accept="image/*"
                                    onchange="document.getElementById('brFive').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brSix" src="./assets/images/care-health-insurance-logo.jpg" alt="" />
                                <input name="logo6" type="file" accept="image/*"
                                    onchange="document.getElementById('brSix').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brSeven" src="./assets/images/icici-lamboard=logo.jpg" alt="" />
                                <input name="logo7" type="file" accept="image/*"
                                    onchange="document.getElementById('brSeven').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="brEight" src="./assets/images/volo-logo.jpg" alt="" />
                                <input name="logo8" type="file" accept="image/*"
                                    onchange="document.getElementById('brEight').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="promo7Footer">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">Dr. N SIVA PRASAD MD
                            <span>(Ayu)</span>
                        </h3>
                        <p class="selectable address" contenteditable="true" data-options="editOptions">163/B, Sri Nagar
                            Colony, Sullurpet</p>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">9908856006</p>
                        <p class="selectable whatsappClicked" contenteditable="true" data-options="editOptions">క్లిక్
                            చేసి Hi అని మెసేజ్ చేయండి.</p>
                    </div>
                </div>
            </div>
            <!-- Promotion Template-7 End -->
        </div>
    </body>

</html>