<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-5</title>

        <link rel="stylesheet" href="/assets/css/promotion-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template-5 Start -->
            <div class="template-wrapper" id="promotion-template-5"
                style="background-image: url(./assets/images/back-bg-51.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="promo5Head">
                        <div class="imgHolder selectable">
                            <img id="tpDecor" src="./assets/images/top-decor-5.png" alt="" />
                            <input name="tdecor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="side-by-side">
                            <div class="festiveCollection">
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                    పండుగల <span>కలెక్షన్స్</span>
                                </h1>
                            </div>
                            <div class="doubleDhamaka">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Double <span>Dhamaka</span>
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    Combo offers - cash back
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="promo5Body">
                        <div class="side-by-side">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">కుటుంబమంతటికీ
                                ట్రెండింగ్ ఫ్యాషన్లు
                            </h1>
                            <div class="festiveCombo">
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఫెస్టివల్
                                    కలెక్షన్స్ పై</p>
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                    <span>కాంబో</span> ఆఫర్స్
                                </h1>
                            </div>
                        </div>
                        <div class="imgHolder selectable">
                            <img id="familyPic" src="./assets/images/festive-family.png" alt="" />
                            <input name="family" type="file" accept="image/*"
                                onchange="document.getElementById('familyPic').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="promo5Footer">
                        <div class="imgHolder selectable">
                            <img id="footLogo" src="./assets/images/jc-mall-logo.jpg" alt="" />
                            <input name="brlogo" type="file" accept="image/*"
                                onchange="document.getElementById('footLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Promotion Template-5 End -->
        </div>
    </body>

</html>