<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Template-4</title>

        <link rel="stylesheet" href="/assets/css/promotion-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Promotion Template-4 Start -->
            <div class="template-wrapper" id="promotion-template-4"
                style="background-image: url(./assets/images/back-bg-50.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="promo4Head">
                        <div class="bgText">
                            <p class="selectable" contenteditable="true" data-options="editOptions">
                                ఆగష్టు 28 <span>బుధవారం ఉదయం</span>
                            </p>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                శుభారంభం
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="promo4Body">
                        <p class="selectable" contenteditable="true" data-options="editOptions">సామాన్యుడికి అందుబాటులో
                            బ్రాండెడ్ క్లాతింగ్ <br> మన దేశంలోనే మొట్టమొదటి <br> ఎక్స్ క్లూసివ్ క్లాతింగ్ <span>బిట్స్
                                స్టోర్</span> <br> ఇప్పుడు మన
                            <b>ఒంగోలులో</b>
                        </p>
                        <div class="imgHolder selectable">
                            <img id="brandLogo" src="./assets/images/bitsnbits-logo.jpg" alt="" />
                            <input name="brand" type="file" accept="image/*"
                                onchange="document.getElementById('brandLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable darkColored" contenteditable="true" data-options="editOptions">ఓల్డ్
                            టెప్పీటాప్పీ బిల్డింగ్ శ్రీ బాపూజీ మార్కెట్ కాంప్లెక్స్ దగ్గర, ఓల్డ్ మార్కెట్ సెంటర్, ఒంగోలు
                            523001<br>
                            <b>ఫోన్: 98485 02020,96039 99039</b>
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="promo4Footer">
                        <div class="standHolder">
                            <div class="mainStand selectable">
                                <img id="stand" src="./assets/images/cloth-stand.png" alt="" />
                                <input name="stnd" type="file" accept="image/*"
                                    onchange="document.getElementById('stand').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="clothes" src="./assets/images/shirt-cutpieces.png" alt="" />
                                <input name="shirts" type="file" accept="image/*"
                                    onchange="document.getElementById('clothes').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="offerBadge">
                                <p class="selectable" contenteditable="true" data-options="editOptions">మార్కెట్ ధరల
                                    కన్నా <b>20%</b> నుండి <b>60%</b> వరకు <span>తక్కువ ధరలో</span></p>
                            </div>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">సామాన్యుడికి
                                అందుబాటులో బ్రాండెడ్ క్లాత్ బిట్స్
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Promotion Template-4 End -->
        </div>
    </body>

</html>