<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inauguration Template-4</title>

        <link rel="stylesheet" href="/assets/css/inauguration-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Inauguration Template-4 Start -->
            <div class="template-wrapper" id="inauguration-temp-4"
                style="background-image: url(./assets/images/back-bg-64.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="inaug4Head">
                        <div class="stackList">
                            <div class="imgHolder selectable">
                                <img id="useOne" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user1" type="file" accept="image/*"
                                    onchange="document.getElementById('useOne').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useTwo" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user2" type="file" accept="image/*"
                                    onchange="document.getElementById('useTwo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useThree" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user3" type="file" accept="image/*"
                                    onchange="document.getElementById('useThree').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useFour" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user4" type="file" accept="image/*"
                                    onchange="document.getElementById('useFour').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useFive" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user5" type="file" accept="image/*"
                                    onchange="document.getElementById('useFive').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useSix" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user6" type="file" accept="image/*"
                                    onchange="document.getElementById('useSix').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useSeven" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user7" type="file" accept="image/*"
                                    onchange="document.getElementById('useSeven').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useEight" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user8" type="file" accept="image/*"
                                    onchange="document.getElementById('useEight').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useNine" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user9" type="file" accept="image/*"
                                    onchange="document.getElementById('useNine').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="useTen" src="./assets/images/replacable-photo.jpg" alt="" />
                                <input name="user10" type="file" accept="image/*"
                                    onchange="document.getElementById('useTen').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="inaug4Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>నేడు
                                భీమవరంలో</span> నూతన ప్రారంభోత్సవ ఆహ్వానము</h1>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions"><img
                                src="./assets/images/calendar-icon-red.png" alt=""> 07-02-2025 <img
                                src="./assets/images/clock-icon-red.png" alt=""> ఉదయం:
                            11:26 గం.లకు.</p>
                        <div class="imgHolder selectable">
                            <img id="brLogo" src="./assets/images/motherness-fertility-hospital-logo.png" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">ప్రారంభకులు</h4>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions"><span>డా.</span> రమేష్
                            కంచర్ల <br> <em>(CHAIRMAN & MD RAINBOW GROUP OF HOSPITALS)</em></h2>

                        <h3 class="selectable" contenteditable="true" data-options="editOptions">Founders And Directors
                        </h3>

                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="drOne" src="./assets/images/motherness-doctor-1.png" alt="" />
                                    <input name="dr1" type="file" accept="image/*"
                                        onchange="document.getElementById('drOne').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="content">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">DR. V.
                                        VAMSI SIVARAMA RAJU</h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">MBBS, MD
                                        (Pediatrics) Fellowship in Neonatology Founder & Director</p>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="drTwo" src="./assets/images/motherness-doctor-2.png" alt="" />
                                    <input name="dr2" type="file" accept="image/*"
                                        onchange="document.getElementById('drTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="content">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">DR.K.
                                        MANASA SRAVYA</h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">MBBS, MS
                                        (OBGYN) Gold medalist Fellowship-Fertility medicine, FMAS, MRCOG(UK), Founder &
                                        Director Chief Consultant Gynaecologist & Fertility Specialist</p>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="drThree" src="./assets/images/motherness-doctor-3.png" alt="" />
                                    <input name="dr3" type="file" accept="image/*"
                                        onchange="document.getElementById('drThree').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="content">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">DR.V. DURGA
                                        MOUNIKA</h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">MBBS,
                                        MD(Radiology) (MBA-Hospital Management) Co-Founder & Director</p>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="drFour" src="./assets/images/motherness-doctor-4.png" alt="" />
                                    <input name="dr4" type="file" accept="image/*"
                                        onchange="document.getElementById('drFour').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="content">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">DR. P.
                                        VAMSI KRISHNAM RAJU</h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">MBBS, (DCH)
                                        MBA-Health care management Co-Founder & Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="inaug4Footer">
                        <div class="photoWithTxt">
                            <div class="imgHolder selectable">
                                <img id="hospitalPhoto" src="./assets/images/motherness-fertility-hospital-photo.jpg"
                                    alt="" />
                                <input name="hospital" type="file" accept="image/*"
                                    onchange="document.getElementById('hospitalPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="boxedContent">
                                <h3 class="selectable borderAround" contenteditable="true" data-options="editOptions">
                                    <span>భీమవరంలో మొట్టమొదటి సారిగా</span>
                                    సంపూర్ణమైన సంతానోత్పత్తి సేవలు లభించే తల్లి పిల్లల ప్రత్యేక హాస్పిటల్
                                </h3>
                                <p class="selectable address" contenteditable="true" data-options="editOptions">
                                    పాత BJP ఆఫీసు రోడ్ <br> శ్రీరామ్ పురం - భీమవరం-2
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inauguration Template-4 End -->
        </div>
    </body>

</html>