<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inauguration Template-7</title>

        <link rel="stylesheet" href="./assets/css/inauguration-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Inauguration Template-7 Start -->
            <div class="template-wrapper" id="inauguration-temp-7"
                style="background-image: url(/assets/images/back-bg-98.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="inaug7Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="./assets/images/top-decor-23.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">దసరా నవరాత్రులు
                            శుభాకాంక్షలు</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="inaug7Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">నూతన భవన
                            <span>ప్రారంభోత్సవ ఆహ్వానం</span>
                        </h1>
                        <div class="boxedContent">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="goddessDurga" src="./assets/images/goddess-annapurna-devi.png" alt="" />
                                    <input name="god" type="file" accept="image/*"
                                        onchange="document.getElementById('goddessDurga').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions"><span>3వ రోజు
                                        అమ్మవారి అలంకరణ</span> <em>శ్రీ</em> అన్నపూర్ణేశ్వరి <em>దేవి</em></p>
                            </div>
                            <div class="contentRight">
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">పాలకొల్లు
                                    బ్రాడిపేట
                                    బైపాస్ రోడ్డు ఆదిత్య కాలేజి ఎదురుగా</h4>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">తేదీ:
                                    05-10-2024, శనివారం <span>(ఈ రోజు)</span> ఉదయం 10:06 గంటలకు ...</h5>
                            </div>
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions"><img
                                src="./assets/images/sowmya-hospital-logo.png" alt=""> సౌమ్య హాస్పిటల్
                        </h2>
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="guestPhoto" src="./assets/images/nimmala-ramanaidu-mla.png" alt="" />
                                <input name="guest" type="file" accept="image/*"
                                    onchange="document.getElementById('guestPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contentRight">
                                <p class="selectable" contenteditable="true" data-options="editOptions">నూతన భవన
                                    ప్రారంభోత్సవానికి విచేయుచున్న ప్రజా ప్రతినిధులకు, అతిరథ మహారథులకు, PMP, RMP లకు, మా
                                    శ్రేయోభిలాషులకు, ప్రజలకు ప్రతీ ఒక్కరికీ స్వాగత సుమాంజలి. <span>ప్రారంభకులు</span>
                                </p>
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">డా. నిమ్మల
                                    రామానాయుడు గారు</h3>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">రాష్ట్ర జలవనరుల
                                    శాఖామాత్యులు</h6>
                            </div>
                        </div>
                        <p class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">జనరల్
                            మెడిసిన్,
                            జనరల్ సర్జరీ, గైనకాలజీ, అబ్ స్ట్రిక్స్, పీడియాట్రిక్, యురాలాజీ, నెఫ్రాలజీ,
                            న్యూరాలజీ, కార్డియాలజీ, క్రిటికల్ కేర్, న్యూరో సర్జరీ, స్పైన్ సర్జరీ, ఈ.ఎన్.టి, సైకియాట్రి
                        </p>
                        <p class="selectable" contenteditable="true" data-options="editOptions">పాలకొల్లు పరిసర
                            ప్రాంత వాసులకు దశాబ్ద కాలంపైగా అందరికీ అందుబాటులో విశేష వైద్య సేవలు అందిస్తున్న</p>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">డాక్టర్ రాజశేఖర్
                            జి.ఎల్. (సౌమ్య డాక్టర్) గారి సారధ్యంలో</h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మరింత మెరుగైన సౌకర్యాలతో
                            వైద్య సేవలు అందించుట కొరకు నూతన భవనంలోకి మార్చబడుచున్నది.</p>
                    </div>

                    <!-- Template Footer Section -->
                    <div id="temp-footer">
                        <div class="inaug7Footer">
                            <h3 class="selectable withBg" contenteditable="true" data-options="editOptions"><span><img
                                        src="./assets/images/tick-mark.png" alt=""> 24/7</span> అందరికీ అందుబాటులో 24
                                గంటల వైద్య సేవలు</h3>
                            <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                                08814-222223/4, 9010039977</p>
                        </div>
                    </div>
                </div>
                <!-- Inauguration Template-7 End -->
            </div>
    </body>

</html>