<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inauguration Template-6</title>

        <link rel="stylesheet" href="/assets/css/inauguration-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Inauguration Template-6 Start -->
            <div class="template-wrapper" id="inauguration-temp-6"
                style="background-image: url(/assets/images/back-bg-66.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="inaug6Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="/assets/images/top-decor-20.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="branndName">
                            <div class="imgHolder selectable">
                                <img id="brLogo" src="/assets/images/central-medical-stores-logo.jpg" alt="" />
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions"><b>సెంట్రల్</b>
                                మెడికల్ స్టోర్స్ <span>హోల్సేల్ & రిటైల్</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="inaug6Body">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">
                            <span class="colorGreen">మెడిసిన్స్</span>
                            <span class="colorPink">- బేబికేర్ -</span>
                            <span class="colorBlue">సర్జికల్స్</span>
                        </h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">రాజు న్యూరో హాస్పటల్
                            ఎదురుగా, దానవాయిపేట, ప్రకాశం నగర్, రాజమహేంద్రవరం</p>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">ది. 06-01-2025 సోమవారం
                            ఉదయం</h4>

                        <div class="imgHolder selectable grandOpen">
                            <img id="openLabel" src="/assets/images/grand-open-label.png" alt="" />
                            <input name="opening" type="file" accept="image/*"
                                onchange="document.getElementById('openLabel').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="side-by-side">
                            <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">ఫ్రీ హోమ్
                                డెలివరీ</h3>
                            <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">24 గంటల
                                సర్వీసు</h3>
                            <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">డిస్కౌంట్
                                సౌకర్యం</h2>
                        </div>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">మొదటి 1000 మంది
                            కొనుగోలుదారులకు 1000 రూపాయల మెడిసిన్స్ కొనుగోలుపై షుగర్ మెషీన్ ఉచితం. ఈ ఆఫర్ ప్రారంభం రోజు
                            మాత్రమే</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="inaug6Footer">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">ఆహ్వానించువారు</h3>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">మేనేజ్మెంట్ &
                            స్టాఫ్ సెంట్రల్ మెడికల్ స్టోర్స్
                        </h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మెయిన్ బ్రాంచ్: అకిరా
                            హాస్పటల్ ప్రక్కన, గోకవరం బస్టాండ్ దగ్గర, ఆర్యాపురం, . Ph: 0883-2484008
                        </p>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">
                            9848001800, 9030280066
                        </p>
                    </div>
                </div>
            </div>
            <!-- Inauguration Template-6 End -->
        </div>
    </body>

</html>