<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coaching Template-1</title>

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="./assets/css/coaching-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Coaching Template-1 Start -->
            <div class="template-wrapper" id="coaching-template-1"
                style="background-image: url(/assets/images/back-bg.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="coach1Head">
                        <p class="selectable" contenteditable="true" data-options="editOptions"><span>Estd: 2024</span>
                            <span>Reg No: 149/2024</span>
                        </p>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">సప్తగిరి కోచింగ్ సెంటర్
                        </h1>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">-Your Future is Our
                            Goal</h5>
                        <div class="side-by-side">
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">RRB - NTPC <br>
                                RRC-GROUP D</h2>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">Free <span>Demo
                                    Class</span>
                                <em>29-09-2024</em>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="coach1Body">
                        <div class="curvedBg">
                            <p class="selectable" contenteditable="true" data-options="editOptions">ఢిల్లీ,
                                హైదరాబాద్
                                ఫ్యాకల్టీచే అత్యుత్తమ బోధన <br> ఎ.సి, డిజిటల్ బోర్డుతో కూడిన ప్రశాంతమైన తరగతి గది <br>
                                డైలీ, వీక్లీ టెస్టులు నిర్వహణ <br> స్టడీ హాల్ సౌకర్యం కలదు</p>
                        </div>
                        <div class="splLabel">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>అడ్మిషన్లు</span> జరుగుచున్నవి
                            </h3>
                        </div>

                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="userOne" src="./assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr1" type="file" accept="image/*"
                                        onchange="document.getElementById('userOne').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    K.Chandrasekhar Reddy
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    B.Tech (IIT) Ex.DM APSRTC, Ex. Enforcement Directorate Officer, 20 Years of Teaching
                                    Experince in Maths, Reasoning and
                                    Geography Faculty</p>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="userTwo" src="./assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr2" type="file" accept="image/*"
                                        onchange="document.getElementById('userTwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    P.Uma Maheswar
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    B.Tech (JNTUH) 10 Years of Experince in Arthamatic Faculty for CAT, GMAT, GRE&SAT
                                </p>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="userThree" src="./assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr3" type="file" accept="image/*"
                                        onchange="document.getElementById('userThree').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Y.Amarnath Reddy
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    M.Sc (Osmania University) Group-2 Rank-676 in 2018 7 Years of Experince in T-SAT
                                    (General Studies Faculty)</p>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="userFour" src="./assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr4" type="file" accept="image/*"
                                        onchange="document.getElementById('userFour').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    P.Mohan Benarji
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    M.Tech (NIT-Warangal) 13 Years of Experince in Economy for Civil Services
                                </p>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="userFive" src="./assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr5" type="file" accept="image/*"
                                        onchange="document.getElementById('userFive').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Ch.Deekshit
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    Ph.D in History (AU) Asst. Professor in SDE Andhra University 12 Years of Experince
                                    in UPSC History Faculty</p>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="userSix" src="./assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr6" type="file" accept="image/*"
                                        onchange="document.getElementById('userSix').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    K.Sudheer Kumar
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    M.A Public Administration (IGNOU) 6 Years of Experince in Polity & Current Affairs
                                    for UPSC
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="coach1Footer">
                        <p class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">#ఫైర్
                            స్టేషన్ ఎదురుగా, యమ్.ఆర్.పేట, తుని</p>

                        <p class="selectable contact" contenteditable="true" data-options="editOptions">పూర్తి వివరాల
                            కోసం: 6300153637</p>
                    </div>
                </div>
            </div>
            <!-- Coaching Template-1 End -->
        </div>
    </body>

</html>