<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coaching Template-5</title>

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/coaching-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Coaching Template-5 Start -->
            <div class="template-wrapper" id="coaching-template-5"
                style="background-image: url(../../assets/images/back-bg-59.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="coach5Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">నారాయణ <b>DSC</b>
                            <span>భారీ ఆఫర్</span>
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="coach5Body">
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            కోచింగ్ కు చేరాల్సిన సరైన సమయం ఇదే మిత్రమా! <span>DONT MISS YOUR DREAM JOB</span>
                        </h2>
                        <div class="combinedTitles">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                SGT -
                            </h1>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">₹ 10,000/-
                                <span>మాత్రమే</span> <em>15,000/-</em>
                            </h2>
                        </div>
                        <div class="combinedTitles">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                SA - <span>(SOCIAL, MATHS, BIOLOGY)</span>
                            </h1>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">₹ 15,000/-
                                <span>మాత్రమే</span> <em>20,000/-</em>
                            </h2>
                        </div>

                        <div class="boxedContent">
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">DSC - PIE
                                <span>విద్యా దృక్పథాలు</span>
                            </h2>
                            <p class="selectable" contenteditable="true" data-options="editOptions">స్టేట్ ఫేమ్ లెజెండ్
                                ఫ్యాకల్టీ శ్రీ జాన్ రెడ్డి సార్ చే</p>
                            <div class="borderedTxt">
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                    DEC-8,9,10,11,12
                                    <span>(డీమార్ట్ క్యాంపస్ నందు ఉదయం 5 గంటలకు)</span>
                                </h3>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">భారీ ఫ్రీ డెమో
                                    08-12-2024</h2>
                            </div>
                            <div class="splBatch">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">SPECIAL BATCH
                                    <span>FEE: 1000/-</span>
                                </h2>
                            </div>
                            <p class="selectable advPay" contenteditable="true" data-options="editOptions">9550707080 కు
                                1000/- ఫోన్ పే చేసి మీ పేరును రిజిస్టర్ చేస్కోండి</p>
                            <div class="imgHolder selectable">
                                <img id="facultyPhoto" src="../../assets/images/man-photo-1.png" alt="">
                                <input name="master" type="file" accept="image/*"
                                    onchange="document.getElementById('facultyPhoto').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="bottomTxt">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">నారాయణ
                                    <span>అన్నమయ్య సల్కల్ మార్ట్ ఎదురుగా, ఫ్యాషన్ ఫోర్, తిరుపతి</span>
                                </h2>
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">DSC</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="coach5Footer">
                        <p class="selectable" contenteditable="true" data-options="editOptions">8978485559</p>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">73372 92177</p>
                    </div>
                </div>
            </div>
            <!-- Coaching Template-5 End -->
        </div>
    </body>

</html>