<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coaching Template-4</title>

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/coaching-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Coaching Template-4 Start -->
            <div class="template-wrapper" id="coaching-template-4"
                style="background-image: url(/assets/images/back-bg-58.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="coach4Head">
                        <div class="logoWithText">
                            <div class="imgHolder selectable">
                                <img id="brdLogo" src="/assets/images/pr-competetives-logo.jpg" alt="">
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brdLogo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">PR కాంపిటేటివ్
                                <span>Online కోచింగ్ ఆప్</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="coach4Body">
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            కొత్త బ్యాచ్ నవంబర్ 17 నుంచి ప్రారంభం
                        </h2>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">
                            ఫీజు : <span>రూ. 1499/-</span>
                        </h3>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            మొదట జాయిన్ అయ్యే 10 మందికి <span>రూ. 999 మాత్రమే</span>
                        </h4>
                        <p class="selectable txtYellow" contenteditable="true" data-options="editOptions">
                            AP-DSC/TPT/SA/TGT/PGT/Telugu ప్రిపేర్ అయ్యే అభ్యర్థులకు అద్భుత అవకాశం
                        </p>
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">డీఎస్సీ సిలబస్
                            పూర్తయ్యే వరకు ప్రతి రోజు డైలీ & మినీ గ్రాండ్, మొత్తం సిలబస్ 160 బిట్స్ టెస్టులు క్రమం
                            తప్పకుండా నిర్వహణ</h5>
                        <h6><span>Note:</span> ఏ టైంలో అయినా ఎన్ని సారైనా డీఎస్సీ అయ్యే వరకు ఎగ్జామ్స్ రాసుకోవచ్చు..
                            అలాగే తప్పు ఒప్పులు చూసుకోవచ్చు.</h6>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            ఒక అభ్యర్థి ఒక రోజులో ఎంత విషయం చదివి గుర్తుపెట్టుకుని ఎగ్జామ్ రాయగలడో అంతే విషయంపై
                            ప్రతిరోజు ఎగ్జామ్స్ నిర్వహిస్తున్న ఏకైక ఆన్లైన్ ఇన్స్టిట్యూట్ PR Competitive
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="coach4Footer">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">వెంటనే PR Competitive
                            App Play Store నుంచి</h3>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">Download చేసి
                            Free డెమో టెస్టులు రాయండి.</p>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">95509 29256</p>
                    </div>
                </div>
            </div>
            <!-- Coaching Template-4 End -->
        </div>
    </body>

</html>