<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coaching Template-3</title>

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/coaching-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Coaching Template-3 Start -->
            <div class="template-wrapper" id="coaching-template-3"
                style="background-image: url(/assets/images/back-bg-57.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="coach3Head">
                        <div class="logoWithText">
                            <div class="imgHolder selectable">
                                <img id="brdLogo" src="/assets/images/teachers-academy-logo.png" alt="">
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brdLogo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">టీచర్స్ అకాడమి
                                పుంగనూరు
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="coach3Body">
                        <h1 class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">
                            తొలి ప్రయత్నంలోనే రాష్ట్ర స్థాయి ర్యాంకులను కైవసం చేసుకున్న
                            <span>టీచర్స్ అకాడమి DSC కోచింగ్ సెంటర్ పుంగనూరు</span>
                        </h1>
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            DSC <span>SGT,SA-ENGLISH MATHS, BIOIOGY, SOCIAL</span>
                        </h2>
                        <h4 class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">
                            కొత్త బ్యాచ్ NOV-8న ప్రారంభం <span>8-11-2024 GK & Current Affairs FREE DEMO</span>
                        </h4>
                        <h5 class="selectable offerBadge" contenteditable="true" data-options="editOptions">
                            148.89 <span>150</span>
                        </h5>
                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentOne" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr1" type="file" accept="image/*"
                                        onchange="document.getElementById('studentOne').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentTwo" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr2" type="file" accept="image/*"
                                        onchange="document.getElementById('studentTwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentThree" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr3" type="file" accept="image/*"
                                        onchange="document.getElementById('studentThree').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentFour" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr4" type="file" accept="image/*"
                                        onchange="document.getElementById('studentFour').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentFive" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr5" type="file" accept="image/*"
                                        onchange="document.getElementById('studentFive').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentSix" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr6" type="file" accept="image/*"
                                        onchange="document.getElementById('studentSix').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentSeven" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr7" type="file" accept="image/*"
                                        onchange="document.getElementById('studentSeven').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentEight" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr8" type="file" accept="image/*"
                                        onchange="document.getElementById('studentEight').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentNine" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr9" type="file" accept="image/*"
                                        onchange="document.getElementById('studentNine').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentTen" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr10" type="file" accept="image/*"
                                        onchange="document.getElementById('studentTen').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentPone" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr11" type="file" accept="image/*"
                                        onchange="document.getElementById('studentPone').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentPtwo" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr12" type="file" accept="image/*"
                                        onchange="document.getElementById('studentPtwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentPthree" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr13" type="file" accept="image/*"
                                        onchange="document.getElementById('studentPthree').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="studentPfour" src="/assets/images/replacable-photo.jpg" alt="">
                                    <input name="usr14" type="file" accept="image/*"
                                        onchange="document.getElementById('studentPfour').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="titlesArea">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        Simran
                                    </h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">
                                        Marks: 128</p>
                                    <h6>H.T. No: 1234567890</h6>
                                </div>
                            </div>
                        </div>
                        <p class="selectable txtYellow" contenteditable="true" data-options="editOptions">
                            హాస్టల్ సదుపాయం కలదు
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="coach3Footer">
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">డెయిలీ
                            టెస్టు/డివిజినల్ టెస్ట్ / గ్రాండ్ టెస్ట్ నిర్వహణ</h3>
                        <p class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">పోలీస్
                            స్టేషన్ ఎదురువీధి, అడాప్టస్ కోచింగ్ సెంటర్ బిల్డింగ్</p>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">పూర్తి వివరాలకు
                            సంప్రదించండి:</h5>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">7330942104,
                            6300713125</p>
                    </div>
                </div>
            </div>
            <!-- Coaching Template-3 End -->
        </div>
    </body>

</html>