<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coaching Template-6</title>

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/coaching-templates.css">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Coaching Template-6 Start -->
            <div class="template-wrapper" id="coaching-template-6"
                style="background-image: url(./assets/images/back-bg-60.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="coach6Head">
                        <div class="imgHolder selectable">
                            <img id="brLogo" src="./assets/images/spoorthi-logo.jpg" alt="">
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">IIT & NEET ACADEMY
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Near Vijaya Scanning
                            Centre, Pudimadaka Road, Anakapalli
                        </p>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="coach6Body">
                        <h1 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            SCHOLARSHIP TEST
                        </h1>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">
                            10 వ తరగతి చదువుతున్న (STATE, CBSE & ICSE)
                            విద్యార్ధినీ విద్యార్థులకు మరియు వారి తల్లి దండ్రులకు <span>ముఖ్య గమనిక</span>
                        </h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions"><b>మన అనకాపల్లిలో</b>
                            మొట్ట మొదటి <span>IIT-JEE & NEET SCHOLARSHIP TEST ను</span> <em>స్ఫూర్తి IIT & NEET అకాడమీ
                                వారి ఆధ్వర్యంలో... నిర్వహించబడును</em> <span>2025-26 విద్యా సంవత్సరం నుండి NEET లాంగ్
                                టర్మ్ మరియు హాస్టల్ సదుపాయం కలదు.</span>
                        </p>
                        <div class="calendarTitle">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">Test On</h1>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">Feb <span>9</span>
                            </h3>
                        </div>
                        <p class="selectable location" contenteditable="true" data-options="editOptions"><img
                                src="./assets/images/location-icon.png" alt=""> VENUE :
                            స్ఫూర్తి
                            IIT & NEET అకాడమీ</p>
                        <h5 class="selectable timings" contenteditable="true" data-options="editOptions"> <img
                                src="./assets/images/clock-icon.png" alt=""> TEST TIMINGS:
                            7:00A.M ONWARDS</h5>
                        <p class="selectable address" contenteditable="true" data-options="editOptions"> <img
                                src="./assets/images/location-dark.svg" alt=""> చిరునామా: పాత
                            ఐరన్ షాపు ప్రక్కన, విజయ మెడికల్ సెంటర్ ఎదురుగా, పూడిమడక రోడ్, అనకాపల్లి</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="coach6Footer">
                        <p class="selectable" contenteditable="true" data-options="editOptions"><span>గమనిక:</span> ఈ
                            TESTలో ప్రతిభ కనబరిచిన విద్యార్థిని విద్యార్థులకు వారి ఫీజులో ప్రత్యేక రాయితీ కల్పించబడును
                        </p>
                        <p class="selectable contact" contenteditable="true" data-options="editOptions">8897044873,
                            9440962595, 9705663165, 9704563102</p>
                    </div>
                </div>
            </div>
            <!-- Coaching Template-6 End -->
        </div>
    </body>

</html>