<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Retirement Template-2</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Retirement Template 2 Start -->
            <div class="template-wrapper" id="retirement-temp-2"
                style="background-image: url(/assets/images/back-bg-45.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="retr2Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="decorPhoto" src="/assets/images/top-decor-8.png" alt="" class="selectable">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('decorPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">పదవీ విరమణ శుభాకాంక్షలు
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="retr2Body">
                        <div class="framedWeddingPhoto">
                            <div class="imgHolder backFrame">
                                <img id="weddingFrame" src="/assets/images/arc-decor-middle-2.png" alt=""
                                    class="selectable">
                                <input name="frame" type="file" accept="image/*"
                                    onchange="document.getElementById('weddingFrame').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder groomPair selectable mask">
                                <img id="main-photo" src="/assets/images/couple-1.png" alt="" class="selectable">
                                <input name="main" type="file" accept="image/*"
                                    onchange="document.getElementById('main-photo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>శ్రీమతి &శ్రీ
                                బి.</span> ఉమాశంకర్ అరుంధతి <span>గారు</span>
                        </h1>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">Superintending
                            Engineer, RWS&S
                        </h5>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">విజయనగరం
                        </h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">విధి నిర్వహణలో అంకిత
                            భావంతో పనిచేసి ఉన్నత అధికారుల మన్ననలు పొంది, వివిధ హోదాలలో పనిచేసి నేడు పదవీ విరమణ చేయు శుభ
                            సందర్భంగా మీకివే మా శుభాకాంక్షలు
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="retr2Footer">
                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable  mask">
                                    <img id="guest-1" src="/assets/images/couple-5.png" alt="">
                                    <input name="guest" type="file" accept="image/*"
                                        onchange="document.getElementById('guest-1').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    పెద్ద కుమారుడు - కోడలు</p>
                                <h2 class="heading-2 selectable" contenteditable="true" data-options="editOptions">
                                    బి. కౌశిక్ - సింధు
                                </h2>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="guest-2" src="/assets/images/man-photo-1.png" alt="">
                                    <input name="guest2" type="file" accept="image/*"
                                        onchange="document.getElementById('guest-2').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    చిన్న కుమారుడు</p>
                                <h2 class="heading-2 selectable" contenteditable="true" data-options="editOptions">
                                    బి. అభిషేక్
                                </h2>
                            </div>
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">
                            ఆంధ్రప్రదేశ్ గ్రామీణ నీటి సరఫరా ఇంజనీర్లు మరియు సిబ్బంది <br>
                            విజయనగరం</p>
                    </div>
                </div>
            </div>
            <!-- Retirement Template 2 End -->

        </div>
    </body>

</html>