<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Retirement Template-1</title>

        <link rel="stylesheet" href="/assets/css/retirement-templates.css">
    </head>

    <body>
        <div id="themeOuter">

            <!-- Retirement Template 1 Start -->
            <div class="template-wrapper" id="retirement-temp-1"
                style="background-image: url(/assets/images/back-bg-44.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="retr1Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="decorPhoto" src="/assets/images/top-decor-14.png" alt="" class="selectable">
                            <input name="photo" type="file" accept="image/*"
                                onchange="document.getElementById('decorPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="curvedTitle">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">పదవీ విరమణ
                                <span>శుభాకాంక్షలు</span>
                            </h1>
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">విద్యారంగంలో ప్రభుత్వ
                            ఉపాధ్యాయునిగా, LFLHM అమూల్యమైన సేవలు అందించి, ఎంతో మంది విద్యార్థుల ఉన్నత
                            భవిష్యత్తుకు పునాదులు వేసి</p>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">నేడు (31-08-2024)
                            ఉద్యోగ
                            విరమణ చేయుచున్న సందర్భంగా..</h4>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">హృదయపూర్వక శుభాకాంక్షలు
                        </h3>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="retr1Body">
                        <div class="imgHolder selectable">
                            <img id="main-photo" src="/assets/images/couple-2.png" alt="" class="selectable">
                            <input name="main" type="file" accept="image/*"
                                onchange="document.getElementById('main-photo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="decoratedTitles">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">శ్రీమతి & శ్రీ
                                బాణాల
                                మల్లారెడ్డి - అర్పిత
                            </h1>
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">MPPS హన్మాజీపేట
                                LFLHM
                            </h5>
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">ఉద్యోగ విరమణ తేదీ
                            <span>31-08-2024</span> శనివారం రోజున.
                        </h2>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">కొడుకు - కోడలు : రణధీర్
                            రెడ్డి - సుమలత <br>
                            కుమార్తె - అల్లుడు : దుద్యాల సువిధ రెడ్డి కరుణాకర్ రెడ్డి</h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మనవళ్లు: నిహాల్ రెడ్డి,
                            వేదిత్ రెడ్డి, హిమాన్షా రెడ్డి <br>
                            బాణాల రవీందర్ రెడ్డి - లావణ్య <br>
                            దుద్యాల దేవయ్య రెడ్డి - బాలమ్మ <br>
                            పొద్దుపుడు రాజారెడ్డి - భూమక్క <br>
                            బాణాల విజేందర్, రోహిత్, సాయి, మరియు <br>
                            కుటుంబ సభ్యులు, బంధు మిత్రులు
                        </p>
                    </div>
                </div>
            </div>
            <!-- Retirement Template 1 End -->

        </div>
    </body>

</html>