<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anniversary Template-4</title>

        <link rel="stylesheet" href="./assets/css/anniversary-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Anniversary Template-4 Start -->
            <div class="template-wrapper" id="anniversary-template-3"
                style="background-image: url(./assets/images/back-bg-52.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="anniv4Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="tpDecor" src="./assets/images/top-decor-18.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">10 వ వార్షికోత్సవ
                            శుభాకాంక్షలు</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="anniv4Body">
                        <h1 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            SURYA HOSPITAL</h1>
                        <div class="borderedTxt">
                            <img src="./assets/images/surya-hospital-logo.png" alt="">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                సూర్య హాస్పిటల్
                            </h3>
                            <img src="./assets/images/doctor-plus-icon.png" alt="">
                        </div>
                        <div class="stackAsRow">
                            <div class="imgHolder selectable">
                                <img id="ntrImg" src="./assets/images/ntr-vaidya-seva.png" alt="" />
                                <input name="ntr" type="file" accept="image/*"
                                    onchange="document.getElementById('ntrImg').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="content">
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">అన్ని రకముల
                                    కిడ్నీ జబ్బులకు మరియు
                                    డయాలసిసు Dr.NTR వైద్యసేవ మరియు
                                    EHS (ఎంప్లాయిస్ హెల్త్ స్కీం) ద్వారా
                                </h3>
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">ఉచితంగా చికిత్స
                                    చేయబడును</h4>
                            </div>
                            <div class="imgHolder selectable">
                                <img id="apEmblem" src="./assets/images/ap-emblem.png" alt="" />
                                <input name="emblem" type="file" accept="image/*"
                                    onchange="document.getElementById('apEmblem').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Dr.NTR వైద్యసేవ
                            మరియు EHS క్రింద ఉచితంగా శస్త్ర చికిత్సలు చేయబడును</p>

                        <div class="defaultList">
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">Dr.NTR వైద్యసేవ
                                మరియు EHS క్రింద ఉచితంగా అందించు వైద్య సేవలు</h5>
                            <p class="selectable" contenteditable="true" data-options="editOptions">నెఫ్రాలజీ
                                విభాగము</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">యూరాలజీ విభాగము
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">జనరల్ మెడిసిన్
                                విభాగము</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">జనరల్ సర్జరీ
                                విభాగము</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">ENT</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">అర్థోపెడిక్</p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">క్రిటికల్ కేర్
                            </p>
                            <p class="selectable" contenteditable="true" data-options="editOptions">ప్లాస్టిక్
                                సర్జరీ</p>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="anniv4Footer">
                        <div class="show-in-row">
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="userOne" src="./assets/images/man-photo-1.png" alt="">
                                    <input name="usr1" type="file" accept="image/*"
                                        onchange="document.getElementById('userOne').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Dr. T.Dinakar Reddy
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    M.B.B.S., M.S(General Surgery) M.Ch (Urology)</p>
                            </div>
                            <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">అన్ని రకాల
                                ఇన్సూరెన్స్ లతో ఉచిత వైద్యం చేయబడును</h3>
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="userTwo" src="./assets/images/modal-with-jewellery-2.png" alt="">
                                    <input name="usr2" type="file" accept="image/*"
                                        onchange="document.getElementById('userTwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Dr. G.Aparna
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">
                                    M.D., D.M.. (Nephrology)
                                </p>
                            </div>
                        </div>

                        <p class="selectable address" contenteditable="true" data-options="editOptions">హీరో షోరూం
                            ప్రక్కన, కొత్త బస్టాండు దగ్గర, కడప.
                        </p>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">88866
                            68400
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>