<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anniversary Template-3</title>

        <link rel="stylesheet" href="./assets/css/anniversary-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Anniversary Template-3 Start -->
            <div class="template-wrapper" id="anniversary-template-3"
                style="background-image: url(./assets/images/back-bg-61.jpg);">

                <!-- Template Header -->
                <div id="temp-header">
                    <div class="anniv3Head">
                        <div class="imgHolder topDecor selectable">
                            <img id="tpDecor" src="./assets/images/top-decor-17.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="side-by-side">
                            <div class="imgHolder selectable brandLogo">
                                <img id="brLogo" src="./assets/images/anjali-hospital-logo.jpg" alt="" />
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="ntrLogo" src="./assets/images/ntr-vaidya-seva.png" alt="" />
                                <input name="ntr" type="file" accept="image/*"
                                    onchange="document.getElementById('ntrLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="anniv3Body">
                        <div class="side-by-side">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                శ్రీ అంజలి హస్పిటల్ <span>వారి</span></h1>
                            <div class="imgHolder selectable">
                                <img id="patientSafety" src="./assets/images/anjali-hos-patient-safety.jpg" alt="" />
                                <input name="safety" type="file" accept="image/*"
                                    onchange="document.getElementById('patientSafety').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="side-by-side">
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                4<sup>th</sup> <span>వార్షికోత్సవ శుభాకాంక్షలు</span>
                            </h2>
                            <div class="imgHolder selectable">
                                <img id="emergencyService" src="./assets/images/anjali-hos-24-7.jpg" alt=""
                                    style="height: 50px; margin-top: .5rem;" />
                                <input name="service" type="file" accept="image/*"
                                    onchange="document.getElementById('emergencyService').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">
                            మా వద్ద డా|| ఎన్. టి. ఆర్. వైద్య సేవలు <span>Health insurance, ఆరోగ్య భద్రత సదుపాయం
                                కలదు</span>
                        </h3>
                        <ul class="highlightsList">
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">పల్మనాలజి
                                </p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఈఎన్టీ
                                    సర్జికల్</p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">కార్డియాలజీ
                                </p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">జనరల్ సర్జరీ
                                </p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">జనరల్
                                    మెడిసిన్</p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఆర్థోపెడిక్
                                </p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">అబ్
                                    స్ట్రిక్స్ గైనకాలజీ</p>
                            </li>
                            <li>
                                <p class="selectable" contenteditable="true" data-options="editOptions">CTVS</p>
                            </li>
                        </ul>

                        <div class="flexRow">
                            <div class="specialities">
                                <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">మా
                                    ప్రత్యేకతలు</h4>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ఎమర్జెన్సీ,
                                    యాక్సిడెంట్ కేసులు పాయిజన్ కేసులు అన్ని వేళల చూడబడును</p>
                            </div>
                            <div class="locationQr">
                                <h4>Scan Location Here</h4>
                                <div class="imgHolder selectable">
                                    <img id="hosLocation" src="./assets/images/anjali-hos-location.jpg" alt="" />
                                    <input name="location" type="file" accept="image/*"
                                        onchange="document.getElementById('hosLocation').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="anniv3Footer">
                        <p class="address selectable" contenteditable="true" data-options="editOptions">గుంటూరు వారి
                            తోట, 6వ లైన్, కొత్తపేట గుంటూరు <span>0863-2245799</span>
                        </p>
                        <p class="contact selectable" contenteditable="true" data-options="editOptions">70326 60189</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>