<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>World Kidney Day 2</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-19 (World Kidney Day 2) Start -->
            <div class="template-wrapper" id="event-template-19"
                style="background-image: url(/assets/images/back-bg-93.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event19Head">
                        <div class="imgHolder selectable brandLogo">
                            <img id="brLogo" src="/assets/images/anjali-kidney-care-logo.png" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event19Body">
                        <div class="side-by-side">
                            <div class="imgHolder selectable lftLogo">
                                <img id="leftLogo" src="/assets/images/world-kidney-day-logo.png" alt="" />
                                <input name="logo1" type="file" accept="image/*"
                                    onchange="document.getElementById('lftLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="holiCeleb">
                                <span><em>13-3-2025</em>
                                    రోజున</span> వరల్డ్ కిడ్నీ డే సందర్భంగా
                            </h1>
                            <div class="imgHolder selectable rtLogo">
                                <img id="rightLogo" src="/assets/images/are-your-kidneys-ok.png" alt="" />
                                <input name="logo2" type="file" accept="image/*"
                                    onchange="document.getElementById('rightLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">ఉత్తర తెలంగాణలోనే
                            మొట్టమొదటి మహిళ యూరో (కిడ్నీ) సర్జన్
                        </h4>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">డా. గీతాంజలి నరేష్
                            గారి ఆధ్వర్యంలో</h3>
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">కిడ్నీ వ్యాధులకు
                            ఉచిత వైద్య శిభిరం</h2>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">అంజలి కిడ్నీ కేర్ &
                            రీసెర్చ్ సెంటర్, హన్మకొండ నందు నిర్వహించబడును.</h5>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">తేది:
                            13-3-2025
                            సమయం: ఉ॥ 10 గం.ల నుండి సా॥ 6గం.ల వరకు</h4>
                        <div class="imgHolder selectable main-photo">
                            <img id="mainImg" src="/assets/images/kidneys-photo.png" alt="" />
                            <input name="main" type="file" accept="image/*"
                                onchange="document.getElementById('mainImg').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">మేము అందించు
                            ఉచిత వైద్య సేవలు</h5>
                        <p class="selectable" contenteditable="true" data-options="editOptions">యూరాలజిస్ట్ ఉచిత
                            కన్సల్టేషన్ <br>
                            కిడ్నీలను మరియు రాళ్ళను పరీక్షించు అల్ట్రా సౌండ్ స్కానింగ్
                            సీరం క్రియాటిన్ (కిడ్నీ యొక్క పనితీరును పరీక్షించు రక్త పరీక్ష)
                            పి.ఎస్.ఏ. ప్రోస్టేట్ పరీక్ష | ఆర్.బి.ఎస్. పరీక్ష | మూత్ర పరీక్ష</p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event19Footer">
                        <div class="side-by-side">
                            <div class="imgHolder selectable dr-photo">
                                <img id="drPhoto" src="/assets/images/dr-anjali.jpg" alt="" />
                                <input name="doctor" type="file" accept="image/*"
                                    onchange="document.getElementById('drPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contentRight">
                                <h1 class="selectable withBg" contenteditable="true" data-options="editOptions">రూ.
                                    3000/- <span>విలువగల పరీక్షలు ఉచితం.</span>
                                </h1>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">
                                    ఇట్టి సదావకాశాన్ని పట్టణ మరియు పరిసర ప్రాంత ప్రజలు పద్వినియోగ పరుచుకోగలరు.</h5>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    <span>డా||</span>కె.గీతాంజలి నరేష్
                                </h2>
                                <p class="selectable" contenteditable="true" data-options="editOptions">MBBS MS MCH
                                    (Urology), F MAS (Delhi) D MAS (Delhi) <br> Urologist, Urogynaecologist &
                                    Andrologist KIDNEY TRANSPLANT SURGEON</p>
                            </div>
                        </div>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            +91 9642 104 104, 7095 700 700</p>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">8 #1-8-25, Near Fire
                            Station, Balasamudram, Hanamkonda <span>www.anjalikidneycare.com</span>
                        </h5>
                    </div>
                </div>
            </div>
            <!-- Event Template-19 (World Kidney Day 2) End -->
        </div>
    </body>

</html>