<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tailors Day 2</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-3 (Tailors Day 2) Start -->
            <div class="template-wrapper" id="event-template-3"
                style="background-image: url(../../assets/images/back-bg-77.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event3Head">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">టైలర్స్ డే శుభాకాంక్షలు
                            <span>NEW MACHINE CENTRE</span>
                        </h2>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event3Body">
                        <div class="imgHolder selectable clipArt">
                            <img id="clipArt" src="../../assets/images/chewing-machine-2.png" alt="" />
                            <input name="art" type="file" accept="image/*"
                                onchange="document.getElementById('clipArt').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మా వద్ద టైలరింగ్ &
                            ఎంబ్రాయిడరీ మెటీరియల్స్ హోల్ సేల్గా లభించును.</p>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">Authorised
                            Dealers for</h3>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">USHA, SHIELA, JACK,
                            SEWING MACHINES, MADURA COATS, MOTORS & SPARES.</h2>

                        <div class="side-by-side">
                            <div class="imgHolder selectable machine">
                                <img id="machineOne" src="../../assets/images/chewing-machine-3.png" alt="" />
                                <input name="mt1" type="file" accept="image/*"
                                    onchange="document.getElementById('machineOne').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable machine">
                                <img id="machineTwo" src="../../assets/images/chewing-machine-2.png" alt="" />
                                <input name="mt2" type="file" accept="image/*"
                                    onchange="document.getElementById('machineTwo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable machine">
                                <img id="machineThree" src="../../assets/images/chewing-machine-4.png" alt="" />
                                <input name="mt3" type="file" accept="image/*"
                                    onchange="document.getElementById('machineThree').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable machine">
                                <img id="machineFour" src="../../assets/images/chewing-machine-5.png" alt="" />
                                <input name="mt4" type="file" accept="image/*"
                                    onchange="document.getElementById('machineFour').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event3Footer">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">THOTA VASU</h1>
                        <p class="selectable address" contenteditable="true" data-options="editOptions">
                            Kantubukta Street, VIZIANAGARAM</p>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">98853
                            33228</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-3 (Tailors Day 2) End -->
        </div>
    </body>

</html>