<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>National Builders Day</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-1 (Builders Day) Start -->
            <div class="template-wrapper" id="event-template-1"
                style="background-image: url(/assets/images/back-bg-75.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event1Head">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">నేషనల్ బిల్డర్స్ డే
                            శుభాకాంక్షలు
                        </h2>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event1Body">
                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable user">
                                    <img id="userOne" src="./assets/images/man-photo-1.png" alt="" />
                                    <input name="user1" type="file" accept="image/*"
                                        onchange="document.getElementById('userOne').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">చంద్రమౌళి</h2>
                            </div>
                            <div class="imgHolder selectable building mask">
                                <img id="buildingImg" src="./assets/images/building.png" alt="" />
                                <input name="building" type="file" accept="image/*"
                                    onchange="document.getElementById('buildingImg').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable user">
                                    <img id="userTwo" src="./assets/images/man-photo-2.png" alt="" />
                                    <input name="user2" type="file" accept="image/*"
                                        onchange="document.getElementById('userTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">M. జయంత్ కుమార్
                                </h2>
                            </div>
                        </div>
                        <h3 class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">మిత్రులకు,
                            కస్టమర్లకు, బిల్డర్స్ కు, శ్రేయోభిలాషులకు <span>నేషనల్ బిల్డర్స్ డే శుభాకాంక్షలు</span></h3>

                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable user">
                                    <img id="userThree" src="./assets/images/man-photo-3.png" alt="" />
                                    <input name="user3" type="file" accept="image/*"
                                        onchange="document.getElementById('userThree').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">నాగేశ్వర్
                                    రెడ్డి</h2>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable user">
                                    <img id="userFour" src="./assets/images/man-photo-4.png" alt="" />
                                    <input name="user4" type="file" accept="image/*"
                                        onchange="document.getElementById('userFour').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">ఓబులేసు
                                </h2>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable user">
                                    <img id="userFive" src="./assets/images/man-photo-5.png" alt="" />
                                    <input name="user5" type="file" accept="image/*"
                                        onchange="document.getElementById('userFive').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">ఈశ్వరయ్య
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event1Footer">
                        <h2 class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">శ్రీ షణ్ముఖ
                            ట్రేడర్స్ మరియు <br> బాలాజీ హర్డ్ వేర్స్, పెయింట్స్, కడప</h2>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            9490384714</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-1 End -->
        </div>
    </body>

</html>