<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ugadi 7</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-27 (Ugadi 7 [Butterfly Gas Stove]) Start -->
            <div class="template-wrapper" id="event-template-27"
                style="background-image: url(../../assets/images/back-bg-111.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event27Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="../../assets/images/top-decor-29.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>శ్రీ విశ్వావసు
                                నామ తెలుగు సంవత్సర</span>
                            ఉగాది శుభాకాంక్షలు
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event27Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions"><span>31వ వార్షికోత్సవం
                                సందర్భంగా
                            </span> ఎక్సేంజ్ మేళా</h1>
                        <h4 class="select0able withBg" contenteditable="true" data-options="editOptions">మీ పాత గ్యాస్
                            పొయ్యి తెచ్చి కొత్త గ్యాస్ పొయ్యి ఎక్సేంజ్ చేసుకోండి.</h4>
                        <div class="side-by-side">
                            <div class="imgHolder selectable butterflyStove">
                                <img id="btFly" src="../../assets/images/butterfly-stove-logo.png" alt="">
                                <input name="stove" type="file" accept="image/*"
                                    onchange="document.getElementById('btFly').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable hpLogo">
                                <img id="hpGas" src="../../assets/images//hp-gas-logo.png" alt="">
                                <input name="hpgaslogo" type="file" accept="image/*"
                                    onchange="document.getElementById('hpGas').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h3 class="selectable splBgTxt" contenteditable="true" data-options="editOptions">5 కేజీల
                                స్పేర్ సిలిండర్ స్పాట్ <span>డెలివరీ</span></h3>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">చిన్నది, <br>
                                అనువైనది, <br>సులభతరం</h2>
                            <div class="imgHolder selectable hpCylinder">
                                <img id="gasCylinder" src="../../assets/images//hp-gas-cylinder-small.png" alt="">
                                <input name="cylinder" type="file" accept="image/*"
                                    onchange="document.getElementById('gasCylinder').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">ప్రతి 5 సం.లకు
                            సురక్షా రబ్బరు ట్యూబు (ధర.175 /) తప్పనిసరిగా మార్చుకోవలెను.</h3>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">ఉచిత స్టౌవ్ సర్వీసింగ్
                            క్యాంప్</h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">తేదీ: 28.03.2025 నుండి
                            30.03.2025 20 <br> (ఉ.10:00 గం.ల నుండి సా.5 గం.ల వరకు)</p>
                        <div class="boxedContent">
                            <p class="selectable" contenteditable="true" data-options="editOptions">హెచ్.పి. గ్యాస్ కోసం
                                నగదు రహిత లావాదేవీ పద్ధతులు</p>
                            <div class="inlineFlex">
                                <div class="imgHolder selectable payType">
                                    <img id="gPay" src="../../assets/images/goole-pay-logo.png" alt="">
                                    <input name="googlepay" type="file" accept="image/*"
                                        onchange="document.getElementById('gPay').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable payType">
                                    <img id="phnPe" src="../../assets/images/phonepe-logo.png" alt="">
                                    <input name="phonepe" type="file" accept="image/*"
                                        onchange="document.getElementById('phnPe').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable payType">
                                    <img id="payTm" src="../../assets/images/paytm-logo.png" alt="">
                                    <input name="paytm" type="file" accept="image/*"
                                        onchange="document.getElementById('payTm').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable payType">
                                    <img id="hpPay" src="../../assets/images/hppay-logo.png" alt="">
                                    <input name="hppay" type="file" accept="image/*"
                                        onchange="document.getElementById('hpPay').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable payType">
                                    <img id="visaPay" src="../../assets/images/visa-logo.png" alt="">
                                    <input name="visa" type="file" accept="image/*"
                                        onchange="document.getElementById('visaPay').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable payType">
                                    <img id="mastrCard" src="../../assets/images/master-card-logo.png" alt="">
                                    <input name="mastercard" type="file" accept="image/*"
                                        onchange="document.getElementById('mastrCard').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable payType">
                                    <img id="amcExp" src="../../assets/images/american-express-logo.png" alt="">
                                    <input name="americaexp" type="file" accept="image/*"
                                        onchange="document.getElementById('amcExp').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event27Footer">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">M/s.వేదమాత
                            ఎంటర్ప్రైజెస్
                        </h3>
                        <p class="selectable" contenteditable="true" data-options="editOptions">HP Gas Distributors,
                            డోర్ నెం. 37221, కత్తెర వీధి, శ్రీకాకుళం</p>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            8885653349, 9246631167</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-27 (Ugadi 7 [Butterfly- Gas Stove]) End -->
        </div>
    </body>

</html>