<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Holi 2</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-15 (Holi 2) Start -->
            <div class="template-wrapper" id="event-template-15"
                style="background-image: url(./assets/images/back-bg-89.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event15Head row-photo-frame">
                        <div class="imgHolder selectable">
                            <img id="godSai" src="./assets/images/god-sai.jpg" alt="" />
                            <input name="god" type="file" accept="image/*"
                                onchange="document.getElementById('godSai').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">హోళీ శుభాకాంక్షలతో</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event15Body">
                        <div class="holiWish">
                            <h4 class="selectable" contenteditable="true" data-options="editOptions">సాయిబాబా
                                ఎంటర్ప్రైజెస్
                            </h4>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">బంపర్ ఆఫర్
                            </h2>
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">మా వద్ద</h1>
                        <div class="imgHolder selectable brands">
                            <img id="elctBrands" src="./assets/images/electronic-brands.jpg" alt="" />
                            <input name="brands" type="file" accept="image/*"
                                onchange="document.getElementById('elctBrands').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">అన్ని రకాల
                            <span>AC<em>లు</em></span> కలవు
                        </h2>
                        <div class="side-by-side">
                            <div class="offerTxt">
                                <p class="selectable" contenteditable="true" data-options="editOptions">మా వద్ద AC
                                    కొన్నవారికి</p>
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">రూ.7,000/-
                                    విలువ గల</h4>
                                <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">Safari
                                    Travel Bag <span>ఉచితంగా</span> ఇవ్వబడును.</h5>
                            </div>
                            <div class="financeOptions">
                                <p class="selectable" contenteditable="true" data-options="editOptions">మా వద్ద</p>
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">Bajaj Finserv,
                                    HDB, TVS Finance</h4>
                                <p class="selectable" contenteditable="true" data-options="editOptions">సౌకర్యం
                                    కూడా కలదు.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event15Footer">
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">Safari Travel
                            Bag ఉచితంగా ఇవ్వబడును.</h5>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">
                            <span>అడ్రస్:</span> ప్రభుత్వ హాస్పిటల్ ఎదురుగా, లింగగిరి రోడ్, హుజుర్నగర్ 508 204
                        </h4>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            9160473143</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-15 (Holi 2) End -->
        </div>
    </body>

</html>