<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Womens Day 6</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-10 (Womens Day 6) Start -->
            <div class="template-wrapper" id="event-template-10"
                style="background-image: url(/assets/images/back-bg-84.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event10Head row-photo-frame inlineFlex">
                        <div class="imgHolder selectable">
                            <img id="brLogo" src="./assets/images/sidharth-hospital-logo.jpg" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">Happy Women's
                            <span>Day</span>
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event10Body">
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">March - A Month
                            of Hope & Health for Women!
                        </h4>
                        <div class="inlineTitle">
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">SPECIAL WOMEN'S
                                <span>HEALTH OFFER</span>
                            </h5>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">50% <em>OFF</em>
                            </h1>
                        </div>
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">On OPD
                            Consultations!
                        </h2>
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">Use Coupon Code:
                            WomenSid50 | Valid Till: March 31st, 2025
                        </h5>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Infertility Treatment
                            with Exceptional Success Rates!</p>
                        <p class="selectable withBg" contenteditable="true" data-options="editOptions">Advanced IUI,
                            IVF, & Hormonal Therapy Bringing Parenthood Closer</p>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Expert Care for PCOS,
                            Endometriosis, and Unexplained Infertility</p>
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="buildingImg" src="./assets/images/sidharth-hospital-building.jpg" alt="" />
                                <input name="building" type="file" accept="image/*"
                                    onchange="document.getElementById('buildingImg').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contentRight">
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">Your Journey to
                                    <br>
                                    Better Health <br> Starts Here!
                                </h3>
                                <div class="imgHolder selectable">
                                    <img id="womanVector" src="./assets/images/sidharth-hospital-womens-day-vector.jpg"
                                        alt="" />
                                    <input name="woman" type="file" accept="image/*"
                                        onchange="document.getElementById('womanVector').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event10Footer">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">Sidarth Hospitals
                            <span>Mythri Nagar, Hafeezpet, Miyapur</span>
                        </h1>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            040 - 2020 2000</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-10 (Womens Day 6) End -->
        </div>
    </body>

</html>