<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Womens Day 1</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-5 (Womens Day 1) Start -->
            <div class="template-wrapper" id="event-template-5"
                style="background-image: url(./assets/images/back-bg-79.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event5Head">
                        <div class="yamahaHead">
                            <div class="imgHolder selectable imgLS">
                                <img id="brLogo" src="./assets/images/yamaha-logo.png" alt="" />
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="titleRow">
                                <div class="imgHolder selectable womanArt">
                                    <img id="clipArt" src="./assets/images/woman-clipart.png" alt="" />
                                    <input name="art" type="file" accept="image/*"
                                        onchange="document.getElementById('clipArt').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">మహిళా దినోత్సవ
                                    <span>శుభాకాంక్షలు</span>
                                </h1>
                            </div>
                            <div class="imgHolder selectable imgRS">
                                <img id="brCaption" src="./assets/images/yamaha-callof-blue.jpg" alt="" />
                                <input name="caption" type="file" accept="image/*"
                                    onchange="document.getElementById('brCaption').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event5Body">
                        <div class="splOffer">
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">ప్రతి యమహా స్కూటర్
                            </h2>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">బుకింగ్ పై <span>1
                                    గ్రా.</span> బంగారం <em>[ఫైనాన్స్ పై మాత్రమే]</em></h3>
                            <div class="imgHolder selectable coin">
                                <img id="coinImg" src="./assets/images/fine-gold-coin-1g.png" alt="" />
                                <input name="coin" type="file" accept="image/*"
                                    onchange="document.getElementById('coinImg').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                        <div class="decorativeText">
                            <p class="selectable" contenteditable="true" data-options="editOptions">ఈ ఆఫర్
                                <span>మార్చి
                                    10 <em>వ</em></span> తేదీ వరకు మాత్రమే
                            </p>
                        </div>
                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="proOne" src="./assets/images/yamaha-fascino.png" alt="" />
                                    <input name="pro1" type="file" accept="image/*"
                                        onchange="document.getElementById('proOne').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="splContent">
                                    <h4 class="selectable" contenteditable="true" data-options="editOptions">డౌన్
                                        పేమెంట్
                                    </h4>
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        <span>రూ.</span>4,999<span>/-</span>
                                    </h2>
                                    <h6 class="selectable" contenteditable="true" data-options="editOptions">మాత్రమే
                                    </h6>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="proTwo" src="./assets/images/yamaha-zr.png" alt="" />
                                    <input name="pro2" type="file" accept="image/*"
                                        onchange="document.getElementById('proTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="splContent">
                                    <h4 class="selectable" contenteditable="true" data-options="editOptions">డౌన్
                                        పేమెంట్
                                    </h4>
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        <span>రూ.</span>4,999<span>/-</span>
                                    </h2>
                                    <h6 class="selectable" contenteditable="true" data-options="editOptions">మాత్రమే
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event5Footer">
                        <h3 class="selectable clickMsg" contenteditable="true" data-options="editOptions">మరిన్ని ఆఫర్స్
                            కోసం ఇక్కడ క్లిక్ చేసి 'HI' అని మెసేజ్ చేయండి</h3>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">YAMAHA లక్ష్మీ మోటార్స్
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">ఏలూరు - 7095812999 |
                            తణుకు - 7799575666 | TP గూడెం - 7799543666 | నిడదవోలు - 7799545666 | భీమవరం - 8367782999 |
                            పాలకొల్లు - 7997995593 | నరసాపురం - 7997995594
                        </p>
                    </div>
                </div>
            </div>
            <!-- Event Template-5 (Womens Day 1) End -->
        </div>
    </body>

</html>