<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Womens Day 9</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-13 (Womens Day 9) Start -->
            <div class="template-wrapper" id="event-template-13"
                style="background-image: url(/assets/images/back-bg-87.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event13Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            మహిళా దినోత్సవ <span>శుభాకాంక్షలు</span>
                        </h1>
                        <div class="imgHolder selectable">
                            <img id="userPhoto" src="/assets/images/replacable-photo-woman.jpg" alt="" />
                            <input name="user" type="file" accept="image/*"
                                onchange="document.getElementById('userPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event13Body">
                        <div class="inlineFlex">
                            <div class="imgHolder selectable">
                                <img id="imgOne" src="/assets/images/womens-day-logo.jpg" alt="">
                                <input name="one" type="file" accept="image/*"
                                    onchange="document.getElementById('imgOne').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>శ్రీమతి</span> శాంతి కుమారి <em>EO, PR & RD, సోంపేట</em>
                            </h1>
                            <div class="imgHolder selectable">
                                <img id="imgTwo" src="/assets/images/womens-day-vector-3.jpg" alt="">
                                <input name="two" type="file" accept="image/*"
                                    onchange="document.getElementById('imgTwo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <p class="selectable colorGreen" contenteditable="true" data-options="editOptions">జననం నీవే_
                            గమనం నీవే <br> సృష్టివి నీవే.. కర్తవు నీవే కర్మశ నీవే. ఈ జగమంతా నీవే
                        </p>
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">అందుకే భగవంతుడు...
                            నిన్ను పతి ఇంట్లో సృష్టించారు<br> కన్నీటిని కడుపులో దాచి... కుటుంబ బారాన్ని మోసావు
                        </h5>
                        <p class="selectable colorBlue" contenteditable="true" data-options="editOptions">అమ్మా.. నీ
                            రుణం తీర్చేది ఎలా <br> వందనం అమ్మ తల్లి... నీకు కోటి వందనాలు
                        </p>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event13Footer">
                        <div class="imgHolder selectable">
                            <img id="familyPhoto" src="/assets/images/family-photo.jpg" alt="" />
                            <input name="family" type="file" accept="image/*"
                                onchange="document.getElementById('familyPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="inlineFlex">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions"> <span>చిన్న
                                    అబ్బాయి</span> పూడి వరుణ్ <em>US TAXATION HYDERABAD</em>
                            </h1>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions"> <span>కోడలు
                                </span> శిరీష <em>SOFTWARE ENGINEER HYDERABAD</em>
                            </h1>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions"> <span>పెద్ద
                                    అబ్బాయి</span> పూడి వంశీ <em>US TAXATION BENGULURU</em>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Template-13 (Womens Day 9) End -->
        </div>
    </body>

</html>