<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ugadi 4</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-24 (Ugadi 4 [Priya Milk]) Start -->
            <div class="template-wrapper" id="event-template-24"
                style="background-image: url(../../assets/images/back-bg-108.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event24Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="../../assets/images/top-decor-26.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="imgHolder selectable brandLogo">
                            <img id="brLogo" src="../../assets/images/priya-milk-logo.png" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">శ్రీ విశ్వావసు నామ
                            సంవత్సర</h4>
                        <div class="imgHolder selectable wishImg">
                            <img id="ugadiWish" src="../../assets/images/ugadi-wishes-vector1.png" alt="" />
                            <input name="wishes" type="file" accept="image/*"
                                onchange="document.getElementById('ugadiWish').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event24Body">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">PRIYA MILK & MILK
                            PRODUCTS</h2>
                        <p class="selectable" contenteditable="true" data-options="editOptions">వినియోగదారులకు,
                            ఏజెంట్లకు మరియు శ్రేయోభిలాషులకు <br> శ్రీ విశ్వావసు నామ సంవత్సర ఉగాది శుభాకాంక్షలు.</p>
                        <div class="imgHolder selectable productImg">
                            <img id="prodImg" src="../../assets/images/priya-products.png" alt="" />
                            <input name="product" type="file" accept="image/*"
                                onchange="document.getElementById('prodImg').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event24Footer">
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">ఏజెన్సీల కొరకు
                            సంప్రదించండి.</h4>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            9394044303</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-24 (Ugadi 4[Priya Milk]) End -->
        </div>
    </body>

</html>