<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ugadi 3</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-23 (Ugadi 3 [Ambica Jewellers]) Start -->
            <div class="template-wrapper" id="event-template-23"
                style="background-image: url(../../assets/images/back-bg-107.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event23Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="../../assets/images/top-decor-25.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">ప్రియమైన మా
                            ఖాతాదారులకు, మిత్రులకు, శ్రేయోభిలాషులకు, ఆడపడుచులకు</h4>

                        <div class="titleWithThumbs">
                            <div class="imgHolder selectable imgLS">
                                <img id="ugadiImg" src="../../assets/images/ugadi-kalasham.png" alt="">
                                <input name="kalasham" type="file" accept="image/*"
                                    onchange="document.getElementById('ugadiImg').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">శ్రీ విశ్వావసు నామ
                                సంవత్సర ఉగాది శుభాకాంక్షలు.
                            </h3>
                            <div class="imgHolder selectable imgRS">
                                <img id="ugadiImg2" src="../../assets/images/ugadi-kalasham2.png" alt="">
                                <input name="kalasham2" type="file" accept="image/*"
                                    onchange="document.getElementById('ugadiImg2').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event23Body">
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="jewelOne" src="../../assets/images/ambika-jewel1.jpg" alt="">
                                <input name="jewelry1" type="file" accept="image/*"
                                    onchange="document.getElementById('jewelOne').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable">
                                <img id="jewelTwo" src="../../assets/images/ambika-jewel2.jpg" alt="">
                                <input name="jewelry2" type="file" accept="image/*"
                                    onchange="document.getElementById('jewelTwo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable">
                                <img id="jewelThree" src="../../assets/images/ambika-jewel3.jpg" alt="">
                                <input name="jewelry3" type="file" accept="image/*"
                                    onchange="document.getElementById('jewelThree').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <div class="titleWithThumbs">
                            <div class="imgHolder selectable imgLS">
                                <img id="brLogo" src="../../assets/images/ambika-jewellers-logo.png" alt="">
                                <input name="brand" type="file" accept="image/*"
                                    onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">శ్రీ అంబికా <br>
                                పెరల్స్ & జ్యుయలర్స్
                            </h1>
                            <div class="imgHolder selectable imgRS">
                                <img id="durgaMatha" src="../../assets/images/durga-matha-clipart.png" alt="">
                                <input name="clipart" type="file" accept="image/*"
                                    onchange="document.getElementById('durgaMatha').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <div class="locatedIn">
                            <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">
                                బంగారం - వెండి - జాతిరాళ్ళు
                            </h4>
                            <h5 class="selectable " contenteditable="true" data-options="editOptions">
                                కొత్త గాజవాక <span>98851 28538</span>
                            </h5>
                            <h5 class="selectable " contenteditable="true" data-options="editOptions">
                                కంచరపాలెం <span>96663 67668</span>
                            </h5>
                            <h5 class="selectable " contenteditable="true" data-options="editOptions">
                                గోపాలపట్నం <span>98859 92015</span>
                            </h5>
                        </div>
                        <div class="borderedContent">
                            <h6 class="selectable" contenteditable="true" data-options="editOptions">
                                <span>91.6 KDM</span> నాణ్యతతో కూడిన
                            </h6>
                            <h2 class="selectable" contenteditable="true" data-options="editOptions">బంగారు
                                ఆభరణములు, వెండి వస్తువులు, నిజమైన జాతిరత్నాలు <span>మీకు నచ్చిన మోడల్స్ లో మీ
                                    ఆర్డర్పై సకాలంలో తయారు చేసి ఇవ్వబడును.</span></h2>
                            <div class="imgHolder selectable">
                                <img id="ornament" src="../../assets/images/ambika-jewel4.jpg" alt="">
                                <input name="item" type="file" accept="image/*"
                                    onchange="document.getElementById('ornament').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <div class="kisnaDiamonds">
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">KISNA</h1>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">DIAMOND & GOLD
                                JEWELLERY <span>(By Hari krishna Group)</span>
                            </h3>
                            <div class="inlineFlex">
                                <h2 class="selectable borderAround" contenteditable="true" data-options="editOptions">
                                    100% <span>వజ్రాభరణాల తయారీ ఛార్జీలపై తగ్గింపు</span>
                                </h2>
                                <h2 class="selectable borderAround" contenteditable="true" data-options="editOptions">
                                    <em>Upto</em> 25% <span>బంగారు ఆభరణాల తయారీ ఛార్జీలపై తగ్గింపు</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event23Footer">
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">9-7-257/1, గాజువాక
                            టౌన్, గ్రేటర్ విశాఖపట్నం</h4>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            8655475085</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-23 (Ugadi 3[Ambika Jewellers]) End -->
        </div>
    </body>

</html>