<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ugadi 1</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-21 (Ugadi 1) Start -->
            <div class="template-wrapper" id="event-template-21"
                style="background-image: url(../../assets/images/back-bg-43.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event21Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="../../assets/images/top-decor-24.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="splBadgeTitle">
                            <h6 class="selectable" contenteditable="true" data-options="editOptions">శ్రీ విశ్వావసు నామ
                                సంవత్సర</h6>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">ఉగాది
                                <span>శుభాకాంక్షలు</span>
                            </h1>
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">Happy Ugadi</h5>
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event21Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">
                            <img src="../../assets/images/sairam-neuro-hospital-logo.png" alt="" /> సాయి రామ్ న్యూరో
                            <span>సూపర్ స్పెషాలిటీ హాస్పిటల్</span>
                        </h1>
                        <h2 class="selectable fullWidthBg" contenteditable="true" data-options="editOptions">విశాల్
                            మార్ట్ ఎదురుగా, దేవరకొండ రోడ్, నల్లగొండ</h2>
                        <div class="fullWidthBgGroup">
                            <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">నరములు,
                                మెదడు,
                                వెన్నుముక, పక్షవాతం, ఫిట్స్ వ్యాధులకు
                            </h3>
                            <p class="selectable" contenteditable="true" data-options="editOptions">మరియు అన్నిరకాల
                                నొప్పులకు ప్రత్యేక వైద్య చికిత్సలు అందించబడును.</p>
                            <div class="side-by-side">
                                <div class="imgHolder selectable">
                                    <img id="specialityOne" src="../../assets/images/migraine.jpg" alt="" />
                                    <input name="speciality1" type="file" accept="image/*"
                                        onchange="document.getElementById('specialityOne').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="specialityTwo" src="../../assets/images/brain.jpg" alt="" />
                                    <input name="speciality2" type="file" accept="image/*"
                                        onchange="document.getElementById('specialityTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="specialityThree" src="../../assets/images/spinalcord.jpg" alt="" />
                                    <input name="speciality3" type="file" accept="image/*"
                                        onchange="document.getElementById('specialityThree').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="specialityFour" src="../../assets/images/survical-spine.jpg" alt="" />
                                    <input name="speciality4" type="file" accept="image/*"
                                        onchange="document.getElementById('specialityFour').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="specialityFive" src="../../assets/images/alzhimers.jpg" alt="" />
                                    <input name="speciality5" type="file" accept="image/*"
                                        onchange="document.getElementById('specialityFive').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event21Footer">
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="drPhoto" src="../../assets/images/dr-eswar.jpg" alt="" />
                                <input name="doctor" type="file" accept="image/*"
                                    onchange="document.getElementById('drPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contentArea">
                                <div class="imgHolder selectable">
                                    <img id="brLogo" src="../../assets/images/sairam-neuro-hospital-logo.png" alt="" />
                                    <input name="brand" type="file" accept="image/*"
                                        onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">డా. ఈశ్వర్ .డి
                                </h1>
                                <p class="selectable" contenteditable="true" data-options="editOptions">M.B.B.S., M.D.
                                    జనరల్ మెడిసిన్, D.M. న్యూరో కన్సల్టెంట్, న్యూరో ఫిజీషియన్ (రి.నెం.73842)</p>
                            </div>
                        </div>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">వివరాలకు సంప్రదించండి:
                        </h4>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">89858
                            65555</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-21 (Ugadi 1) End -->
        </div>
    </body>

</html>