<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Womens Day 7</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-11 (Womens Day 7) Start -->
            <div class="template-wrapper" id="event-template-11"
                style="background-image: url(/assets/images/back-bg-85.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event11Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">మహిళా దినోత్సవ
                            శుభాకాంక్షలు
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event11Body">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">Dr. Sheila's Eye
                            Hospital
                            <span>Complete family Eye care</span>
                        </h2>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">కుటుంబ మంతటికీ సంపూర్ణ
                            కంటి వైద్యం
                        </h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">25 సం||ల సుదీర్ఘ
                            అనుభవంతో, అధునాతన సాంకేతిక శస్త్ర చికిత్స పరిజ్ఞానంతో ఇప్పుడు మీ సుశిక్షుతులైన వైద్య బృందం
                            ఆధ్వర్యంలో అన్ని రకాల నేత్ర పరీక్షలు మరియు నేత్ర శస్త్ర చికిత్సలు అన్నీ ఒకే చోట!</p>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">ఇప్పుడు మీ
                            కాశీబుగ్గ, సోంపేటలలో
                        </h4>
                        <h6 class="selectable" contenteditable="true" data-options="editOptions">MEDICAL SHOP | OPTICAL
                            SHOP | LAB FACILITY | OPERATION THEATRE</h6>
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="labOne" src="./assets/images/sheela-hosp-lab1.jpg" alt="" />
                                <input name="lab" type="file" accept="image/*"
                                    onchange="document.getElementById('labOne').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="imgHolder selectable">
                                <img id="labTwo" src="./assets/images/sheela-hosp-lab2.jpg" alt="" />
                                <input name="lab2" type="file" accept="image/*"
                                    onchange="document.getElementById('labTwo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event11Footer">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">డా॥ షీలా కంటి ఆసుపత్రి
                            <span>కాశీబుగ్గ పలాస & సోంపేట</span>
                        </h1>
                        <p class="selectable" contenteditable="true" data-options="editOptions">పూర్తి స్థాయి సంపూర్ణ
                            నేత్ర వ్యాధి తనిఖీలు | కంప్యూటరైజ్డ్ నేత్ర పరీక్షలు దృష్టిలోవ పరీక్షలు
                            గ్లకోమా తనిఖీ రోగనిర్ధారణ మరియు చికిత్స డయాబెటిక్ రెటినోపతి తనిఖీ, రోగ నిర్ధారణ మరియు
                            చికిత్స లాసిక్ చికిత్స (విశాఖపట్నం) | శస్త్ర చికిత్సలు కంటే శుక్లాలు (ఫికో ఫోల్డబుల్
                            ఐఒఎల్) గ్లకోమా అక్యులో ప్లాస్టిక్ శస్త్ర చికిత్సలు మెల్ల కన్ను సరిచేయుట</p>
                        <h5 class="selectable withBg" contenteditable="true" data-options="editOptions">VAJJA BABU RAO
                            GARI BUILDING. VBR COMPLEX 1st FLOOR PALASA</h5>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">టైమింగ్స్ : ఉ. 9గం.ల
                            నుండి సాం 5 గం.ల వరకు Ph: 8500774896, 8143265195</h4>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">ఆదివారం సెలవు
                        </h3>
                        <p class="selectable engTxt" contenteditable="true" data-options="editOptions">ABOVE CANARA
                            BANK. CHURCH STREET SOMPETA.</p>
                        <h5 class="selectable withBgTelugu" contenteditable="true" data-options="editOptions">టైమింగ్స్:
                            ఉ. 8:00 గం.ల నుండి సా|| 5:00 గం.ల వరకు 08947234108</h5>
                        <p class="selectable engTxt" contenteditable="true" data-options="editOptions">DASANNA PETA
                            JUNCTION ICHAPURAM ph 08947231261</p>
                        <h6 class="selectable withBg" contenteditable="true" data-options="editOptions">కంటి ఆపరేషన్ లు
                            మా ప్రత్యేకత</h6>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            08945 242442</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-11 (Womens Day 7) End -->
        </div>
    </body>

</html>