<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tailors Day 3</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-4 (Tailors Day 3) Start -->
            <div class="template-wrapper" id="event-template-4"
                style="background-image: url(/assets/images/back-bg-78.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event4Head">
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">టైలర్స్ డే శుభాకాంక్షలు
                            <span>LIBERTY TAILORS</span>
                        </h2>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event4Body">
                        <div class="imgHolder selectable">
                            <img id="clipArt" src="/assets/images/tailor-stiching.png" alt="" />
                            <input name="art" type="file" accept="image/*"
                                onchange="document.getElementById('clipArt').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">గత 30 సంవత్సరాల నుండి
                            ప్రొద్దుటూరు పట్టణం నందు <span>షేక్ సలీం గారి</span> ఆధ్వర్యంలో విజయవంతంగా నిర్వహించబడుతూ.
                            వారి వారసత్వంగా నా మీద కూడా అదే స్థాయిలో ఆదరణ మరియు అభిమానం చూపుతున్న మా కస్టమర్లకు,
                            మిత్రులకు, శ్రేయోభిలాషులకు</p>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">టైలర్స్ డే శుభాకాంక్షలు
                        </h2>

                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="machineOne" src="/assets/images/man-photo-7.jpg" alt="" />
                                    <input name="mt1" type="file" accept="image/*"
                                        onchange="document.getElementById('machineOne').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    <span>కీ.శే.</span>
                                    షేక్ సలీం
                                </h2>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="machineTwo" src="/assets/images/man-photo-8.jpg" alt="" />
                                    <input name="mt2" type="file" accept="image/*"
                                        onchange="document.getElementById('machineTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    <span>ప్రొ.</span> షేక్ సమీర్
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event4Footer">
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">Liberty Tailors</h5>
                        <p class="selectable address" contenteditable="true" data-options="editOptions">
                            10/264, beside Venkateshwara Theatre, Gandhi Road, Proddutur</p>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">
                            77996 44449</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-4 (Tailors Day 3) End -->
        </div>
    </body>

</html>