<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Womens Day 5</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-9 (Womens Day 5) Start -->
            <div class="template-wrapper" id="event-template-9"
                style="background-image: url(/assets/images/back-bg-83.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event9Head row-photo-frame inlineFlex">
                        <div class="imgHolder selectable">
                            <img id="imgOne" src="./assets/images/womens-day-logo.jpg" alt="" />
                            <input name="one" type="file" accept="image/*"
                                onchange="document.getElementById('imgOne').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">అంతర్జాతీయ
                            <b>మహిళా దినోత్సవ</b> <span>శుభాకాంక్షలు</span>
                        </h1>
                        <div class="imgHolder selectable">
                            <img id="imgTwo" src="./assets/images/womens-day-vector-3.jpg" alt="" />
                            <input name="two" type="file" accept="image/*"
                                onchange="document.getElementById('imgTwo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event9Body">
                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="userImgW" src="./assets/images/vetri-selvi-ias.jpg" alt="" />
                                    <input name="user1" type="file" accept="image/*"
                                        onchange="document.getElementById('userImgW').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">వెట్రి సెల్వి
                                    <span>I.A.S.</span>
                                </h2>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">జిల్లా కలెక్టర్
                                    ఏలూరు జిల్లా మేజిస్ట్రేట్</h6>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable mask">
                                    <img id="userImgM" src="./assets/images/dhatri-reddy.jpg" alt="" />
                                    <input name="user2" type="file" accept="image/*"
                                        onchange="document.getElementById('userImgM').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">P. ధాత్రి
                                    రెడ్డి
                                </h2>
                                <h6 class="selectable" contenteditable="true" data-options="editOptions">జాయింట్
                                    కలెక్టర్ పిఐసి డిసిసిబి, ఏలూరు</h6>
                            </div>
                        </div>
                        <p class="selectable colorGreen" contenteditable="true" data-options="editOptions">ఆడవారు
                            అన్నిటికీ ఆదర్శవంతులు ప్రపంచానికి మార్గదర్శకులు
                        </p>
                        <p class="selectable colorBlue" contenteditable="true" data-options="editOptions">ఏలూరు
                            జిల్లాను ప్రగతి పధంలో నడిపిస్తున్న SMT <span>వెట్రి సెల్వి</span> గారికి
                        </p>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">అంతర్జాతీయ మహిళా
                            దినోత్సవ శుభాకాంక్షలు.
                        </h4>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event9Footer">
                        <div class="imgHolder selectable mask">
                            <img id="buildingImg" src="./assets/images/eluru-society-building.jpg" alt="" />
                            <input name="building" type="file" accept="image/*"
                                onchange="document.getElementById('buildingImg').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div class="flexRow">
                            <img src="./assets/images/dccb-eluru-logo.png" alt="" />
                            <h1 class="seledccbctable" contenteditable="true" data-options="editOptions">జిల్లా సహకార
                                కేంద్ర
                                బ్యాంక్ సిబ్బంది <span>ఆర్ఆర్ పేట ఏలూరు</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Template-9 (Womens Day 5) End -->
        </div>
    </body>

</html>