<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Holi 1</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-14 (Holi 1) Start -->
            <div class="template-wrapper" id="event-template-14"
                style="background-image: url(/assets/images/back-bg-88.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event14Head">
                        <div class="imgHolder selectable">
                            <img id="brLogo" src="./assets/images/hireach-broadband-logo.jpg" alt="" />
                            <input name="logo" type="file" accept="image/*"
                                onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event14Body">
                        <div class="inlineFlex">
                            <div class="grpList">
                                <div class="imgHolder selectable">
                                    <img id="imgOne" src="./assets/images/jio-hotstar-logo.jpg" alt="">
                                    <input name="one" type="file" accept="image/*"
                                        onchange="document.getElementById('imgOne').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgTwo" src="./assets/images/amazon-prime-logo.jpg" alt="">
                                    <input name="two" type="file" accept="image/*"
                                        onchange="document.getElementById('imgTwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgThree" src="./assets/images/sonyliv-logo.png" alt="">
                                    <input name="three" type="file" accept="image/*"
                                        onchange="document.getElementById('imgThree').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgFour" src="./assets/images/zee5-logo.jpg" alt="">
                                    <input name="four" type="file" accept="image/*"
                                        onchange="document.getElementById('imgFour').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgFive" src="./assets/images/aha-logo.jpg" alt="">
                                    <input name="five" type="file" accept="image/*"
                                        onchange="document.getElementById('imgFive').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgSix" src="./assets/images/sunnxt-logo.jpg" alt="">
                                    <input name="six" type="file" accept="image/*"
                                        onchange="document.getElementById('imgSix').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgSeven" src="./assets/images/etvwin-logo.jpg" alt="">
                                    <input name="seven" type="file" accept="image/*"
                                        onchange="document.getElementById('imgSeven').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgEight" src="./assets/images/hungama-logo.jpg" alt="">
                                    <input name="eight" type="file" accept="image/*"
                                        onchange="document.getElementById('imgEight').src = window.URL.createObjectURL(this.files[0])">
                                </div>

                                <div class="imgHolder selectable">
                                    <img id="imgNine" src="./assets/images/erosnow-logo.jpg" alt="">
                                    <input name="nine" type="file" accept="image/*"
                                        onchange="document.getElementById('imgNine').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgTen" src="./assets/images/netflix-logo.jpg" alt="">
                                    <input name="ten" type="file" accept="image/*"
                                        onchange="document.getElementById('imgTen').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgPone" src="./assets/images/alt-balaji-logo.jpg" alt="">
                                    <input name="pone" type="file" accept="image/*"
                                        onchange="document.getElementById('imgPone').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgPtwo" src="./assets/images/voot-logo.jpg" alt="">
                                    <input name="ptwo" type="file" accept="image/*"
                                        onchange="document.getElementById('imgPtwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="imgPthree" src="./assets/images/hbomax-logo.jpg" alt="">
                                    <input name="pthree" type="file" accept="image/*"
                                        onchange="document.getElementById('imgPthree').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                            <div class="splOffer">
                                <div class="imgHolder selectable">
                                    <img id="splOffer" src="./assets/images/spl-offer6.png" alt="">
                                    <input name="offer" type="file" accept="image/*"
                                        onchange="document.getElementById('splOffer').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                            <div class="speedDetails">
                                <h1 class="selectable" contenteditable="true" data-options="editOptions">
                                    20 <span>+ <em>OTT's <br>FREE</em></span></h1>
                                <div class="speed50">
                                    <img src="./assets/images/wifi-icon.png" alt="" class="responsiveImg">
                                    <h3 class="selectable" contenteditable="true" data-options="editOptions">50 MBPS
                                        <span>Unlimited</span>
                                    </h3>
                                </div>
                                <div class="price">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        583<sup>*</sup>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="wishesAround">
                            <div class="sidedLeft">
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">20+Apps <br>
                                    Just <br>
                                    @200</h4>
                                <div class="wifiRouter">
                                    <div class="imgHolder selectable">
                                        <img id="wifiRouter" src="./assets/images/wifi-router.png" alt=""
                                            class="responsiveImg">
                                        <input name="router" type="file" accept="image/*"
                                            onchange="document.getElementById('wifiRouter').src = window.URL.createObjectURL(this.files[0])">
                                    </div>
                                    <h6 class="selectable" contenteditable="true" data-options="editOptions">To use
                                        router</h6>
                                </div>
                            </div>
                            <div class="brdWish">
                                <div class="imgHolder selectable curvedTxt">
                                    <img id="curTxt" src="./assets/images/hireach-broadband-text.png" alt="">
                                    <input name="ctxt" type="file" accept="image/*"
                                        onchange="document.getElementById('curTxt').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="brWish" src="./assets/images/happy-holi1.png" alt="">
                                    <input name="wishes" type="file" accept="image/*"
                                        onchange="document.getElementById('brWish').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                            <div class="sidedRight">
                                <div class="speed50">
                                    <img src="./assets/images/wifi-icon.png" alt="" class="responsiveImg">
                                    <h3 class="selectable" contenteditable="true" data-options="editOptions">100 MBPS
                                        <span>Unlimited</span>
                                    </h3>
                                </div>
                                <div class="price">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                        571<sup>*</sup>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div class="referRowInline">
                            <div class="referral">
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                    <img src="./assets/images/gift-icon.png" alt="" class="responsiveImg">
                                    Refer a <span>friend</span>
                                </h3>
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">
                                    Get <span>RS 500</span>
                                </h2>
                            </div>
                            <div class="channelList">
                                <div class="imgHolder selectable">
                                    <img id="chOne" src="./assets/images/starmaa-logo.jpg" alt="">
                                    <input name="cone" type="file" accept="image/*"
                                        onchange="document.getElementById('chOne').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chTwo" src="./assets/images/geminitv-logo.jpg" alt="">
                                    <input name="ctwo" type="file" accept="image/*"
                                        onchange="document.getElementById('chTwo').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chThree" src="./assets/images/zeetel-logo.jpg" alt="">
                                    <input name="cthree" type="file" accept="image/*"
                                        onchange="document.getElementById('chThree').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chFour" src="./assets/images/etv-ap-logo.jpg" alt="">
                                    <input name="cfour" type="file" accept="image/*"
                                        onchange="document.getElementById('chFour').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chFive" src="./assets/images/tv9-logo.jpg" alt="">
                                    <input name="cfive" type="file" accept="image/*"
                                        onchange="document.getElementById('chFive').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chSix" src="./assets/images/ntv-logo.jpg" alt="">
                                    <input name="csix" type="file" accept="image/*"
                                        onchange="document.getElementById('chSix').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chSeven" src="./assets/images/star-sports-logo.jpg" alt="">
                                    <input name="cseven" type="file" accept="image/*"
                                        onchange="document.getElementById('chSeven').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chEight" src="./assets/images/cartoon-network-logo.jpg" alt="">
                                    <input name="ceight" type="file" accept="image/*"
                                        onchange="document.getElementById('chEight').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chNine" src="./assets/images/sakshi-logo.jpg" alt="">
                                    <input name="cnine" type="file" accept="image/*"
                                        onchange="document.getElementById('chNine').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                                <div class="imgHolder selectable">
                                    <img id="chTen" src="./assets/images/vanitha-tv-logo.jpg" alt="">
                                    <input name="cten" type="file" accept="image/*"
                                        onchange="document.getElementById('chTen').src = window.URL.createObjectURL(this.files[0])">
                                </div>
                            </div>
                            <h4 class="selectable priceOff" contenteditable="true" data-options="editOptions">500+ CH
                                @200
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event14Footer">
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">BOOK YOUR CONNECTION
                            ONLINE <span>www.hireachbroadband.com <br>
                                info@hireachbroadband.com</span></h3>
                        <h1 class="selectable contact" contenteditable="true" data-options="editOptions">8466812345</h1>
                    </div>
                </div>
            </div>
            <!-- Event Template-14 (Holi 1) End -->
        </div>
    </body>

</html>