<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Holi 3</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-16 (Holi 3) Start -->
            <div class="template-wrapper" id="event-template-16"
                style="background-image: url(/assets/images/back-bg-90.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event16Head row-photo-frame">
                        <div class="imgHolder selectable">
                            <img id="holiKids" src="/assets/images/holi-kids-celebration.png" alt="" />
                            <input name="holi" type="file" accept="image/*"
                                onchange="document.getElementById('holiKids').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">హోళీ శుభాకాంక్షలు</h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event16Body">
                        <div class="brandTitles">
                            <div class="imgHolder selectable">
                                <img id="brLogo" src="/assets/images/meridian-school-logo.jpg" alt="" />
                                <input name="logo" type="file" accept="image/*"
                                    onchange="document.getElementById('brLogo').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <h1 class="selectable" contenteditable="true" data-options="editOptions">MERIDIAN <span>HIGH
                                    SCHOOL <em>Jr.COLLEGE</em></span>
                            </h1>
                            <h5 class="selectable" contenteditable="true" data-options="editOptions">CBSE Affiliation
                                No: 3630405
                            </h5>
                        </div>
                        <div class="side-by-side">
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">CBSE & STATE |
                                RESIDENTIAL <br> SEMI-RESIDENTIAL <br> DAY SCHOLAR</h3>
                            <div class="badgeWithTxt">
                                <h2 class="selectable" contenteditable="true" data-options="editOptions">2025</h2>
                                <h3 class="selectable badge" contenteditable="true" data-options="editOptions">ADMISSION
                                </h3>
                                <p class="selectable" contenteditable="true" data-options="editOptions">OPEN</p>
                            </div>
                        </div>
                        <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">Nursery to XI
                            (STATE & CBSE)</h2>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">OUR PROGRAMMES</h3>
                        <p class="selectable boxedContent" contenteditable="true" data-options="editOptions">CBSE
                            CURRICULUM | TECHNO <br>
                            PRIME BATCH (NUR-V)<br>
                            IIT-JEE & NEET<br>
                            STATE CURRICULUM<br>
                            SUPER-30 (Cless - VI to X)<br>
                            NAVODAYA & SAINIK COACHING (Class-V)</p>
                        <hr class="fullWidth" />
                        <div class="inlineFlex">
                            <div class="imgHolder selectable">
                                <img id="brBuilding" src="/assets/images/meridian-school-building.jpg" alt="" />
                                <input name="building" type="file" accept="image/*"
                                    onchange="document.getElementById('brBuilding').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                            <div class="contentArea">
                                <h2 class="selectable withBg" contenteditable="true" data-options="editOptions">IIT-NEET
                                    ACADEMY
                                </h2>
                                <h3 class="selectable" contenteditable="true" data-options="editOptions">CBSE & STATE
                                    (IPE) | RESIDENTIAL <br>
                                    SEMI-RESIDENTIAL | DAY SCHOLAR
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event16Footer">
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">Courses</h5>
                        <h3 class="selectable withBg" contenteditable="true" data-options="editOptions">IIT-JEE (Mains &
                            Advanced) NEET | EAPCET | CUET
                        </h3>
                        <p class="selectable" contenteditable="true" data-options="editOptions">CBSE Class XI first
                            Batch starts from March 24th</p>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">STATE & CBSE 2nd
                            Batch April 7th</h4>
                        <p class="selectable" contenteditable="true" data-options="editOptions">Hostel Facility
                            Available</p>
                        <p class="selectable bgAround" contenteditable="true" data-options="editOptions">
                            Branch 1: Ensanpolly Bypass Road, Near Komati Cheruvu - SIDDIPET. <span>Cell:
                                8977230699/9866231699</span>
                            <em class="devider"></em>
                            Branch 2: Beside BMR Degree & PG College, Hyd Road - SIDDIPET. <span>Cell: 9618730699</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Event Template-16 (Holi 3) End -->
        </div>
    </body>

</html>