<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Republic Day 1</title>

        <link rel="stylesheet" href="./assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-20 (Republic Day 1) Start -->
            <div class="template-wrapper" id="event-template-20"
                style="background-image: url(./assets/images/back-bg-101.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event20Head">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">గణతంత్ర దినోత్సవ
                            శుభాకాంక్షలు</h1>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions"><img
                                src="./assets/images/ravikiran-hospital-logo.png" alt="" /> రవి కిరణ్</h2>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">కంటి ఆసుపత్రి</h4>
                        <h6 class="selectable" contenteditable="true" data-options="editOptions">స్పష్టమైన దృష్టి-
                            స్పష్టమైన భవిష్యత్తు</h6>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event20Body">
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">సూపర్ స్పెషాలిటీ కంటి
                            వైద్య సేవలు
                        </h1>
                        <h2 class="selectable borderAround" contenteditable="true" data-options="editOptions">అత్యాధునిక
                            ఇంపోర్టెడ్ మిషనరీ ద్వారా చికిత్స</h2>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">శుక్లం ఆపరేషన్
                            <span>ఫ్యాతో</span> ద్వారా నొప్పిలేకుండా చేయబడును
                        </h3>
                        <div class="imgHolder selectable specsImg">
                            <img id="specsPhoto" src="./assets/images/ravikiran-specs.jpg" alt="" />
                            <input name="specs" type="file" accept="image/*"
                                onchange="document.getElementById('specsPhoto').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <p class="selectable" contenteditable="true" data-options="editOptions">మధుమేహగ్రస్తులకు కంటి
                            నరములు పరిక్ష, అద్దాల పరీక్ష, ఒసిటీ, ఫస్టస్ ఫోటో మరియు స్పెషలిస్ట్స్ సంప్రదింపు</p>
                        <h4 class="selectable withBg" contenteditable="true" data-options="editOptions">ఇప్పుడు కేవలం
                            <span>2000</span> <em>1000/ మాత్రమే</em>
                        </h4>
                        <div class="defaultList">
                            <p class="selectable colorPink" contenteditable="true" data-options="editOptions">మయోపియా
                                క్లినిక్</p>
                            <p class="selectable colorPink" contenteditable="true" data-options="editOptions">లాసిక్
                                లేజర్</p>
                            <p class="selectable colorPink" contenteditable="true" data-options="editOptions">గ్లకోమా
                                సేవలు</p>
                            <div class="seperator"></div>
                            <p class="selectable colorGreen" contenteditable="true" data-options="editOptions">డయాబెటిక్
                                కంటి చికిత్స</p>
                            <p class="selectable colorGreen" contenteditable="true" data-options="editOptions">
                                నల్లగుడ్డు మార్పిడి</p>
                            <p class="selectable colorGreen" contenteditable="true" data-options="editOptions">రెటీనా
                                సర్జరీ</p>
                        </div>
                        <div class="side-by-side">
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="drOne" src="./assets/images/dr-ravikiran-neela.jpg" alt="" />
                                    <input name="doctor" type="file" accept="image/*"
                                        onchange="document.getElementById('drOne').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="contents">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">Dr.
                                        Ravikiran Neela <span>M.S., FVRS</span></h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">Ex.
                                        కన్సల్టెంట్, అరవింద్ ఐ హాస్పిటల్, మధురై రెటీనా స్పెషలిస్ట్</p>
                                </div>
                            </div>
                            <div class="guestCard">
                                <div class="imgHolder selectable">
                                    <img id="drTwo" src="./assets/images/dr-ravikiran-neela-wife.jpg" alt="" />
                                    <input name="doctor2" type="file" accept="image/*"
                                        onchange="document.getElementById('drTwo').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <div class="contents">
                                    <h2 class="selectable" contenteditable="true" data-options="editOptions">Dr.
                                        Hemalatha Gudiseva <span>MS. FCRS</span></h2>
                                    <p class="selectable" contenteditable="true" data-options="editOptions">Ex.
                                        కన్సల్టెంట్ అరవింద్ ఐ హాస్పిటల్, మధురై నల్లగుడ్డు, ఫ్యాకో లాసిక్</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event20Footer">
                        <div class="borderAround">
                            <h1 class="selectable withBg" contenteditable="true" data-options="editOptions">కేవలం ₹200/-
                            </h1>
                            <p class="selectable" contenteditable="true" data-options="editOptions">1 ఐసైట్ చెకప్ 2.
                                కంటి ఒత్తిడి పరీక్ష 3. గ్లకోనూ (నీటికాసులు) పరీక్ష 4. రెటీనా చెకప్ (కంటి నరముల) పరీక్ష
                                5. నిపుణుల వద్ద సంప్రదింపు</p>
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">ఎందుకు ఈ ఆఫర్ ని
                            మిస్ చేసుకోవద్దు?</h2>
                        <p class="selectable listItem" contenteditable="true" data-options="editOptions">నాణ్యమైన
                            సేవలు మరియు నిపుణుల పర్యవేక్షణ</p>
                        <p class="selectable listItem" contenteditable="true" data-options="editOptions">కంటి
                            సంబంధిత సమస్యలను ప్రాథమిక దశలోనే గుర్తించే అవకాశం</p>
                        <p class="selectable address" contenteditable="true" data-options="editOptions">రమామహల్ సెంటర్,
                            ఇండియన్ బ్యాంక్ ఎదురుగా, బెండపూడి వారి వీధి, ఆర్.ఆర్.పేట, ఏలూరు-2</p>
                        <p class="selectable contactClickable" contenteditable="true" data-options="editOptions">89889
                            84647, 89889 84748</p>
                    </div>
                </div>
            </div>
            <!-- Event Template-20 (Republic Day 1) End -->
        </div>
    </body>

</html>