<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ugadi 6</title>

        <link rel="stylesheet" href="/assets/css/events-templates.css">

        <!-- Google Fonts Declaration -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Doppio+One&family=Birthstone&family=Oswald:wght@200..700&family=Bowlby+One&family=Bonheur+Royale&family=Rakkas&family=Alike&family=Praise&family=Petemoss&family=Teko:wght@300..700&family=Graduate&family=Squada+One&display=swap"
            rel="stylesheet" />

        <!-- Telugu Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chathura:wght@100;300;400;700;800&family=Dhurjati&family=Gurajada&family=Lakki+Reddy&family=Mallanna&family=Mandali&family=NTR&family=Ramabhadra&family=Tiro+Telugu:ital@0;1&family=Anek+Telugu:wght@100..800&family=Ponnala&&family=Ramaraja&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="themeOuter">
            <!-- Event Template-26 (Ugadi 6 [Handy Man]) Start -->
            <div class="template-wrapper" id="event-template-26"
                style="background-image: url(../../assets/images/back-bg-110.jpg);">
                <!-- Template Header -->
                <div id="temp-header">
                    <div class="event26Head">
                        <div class="imgHolder selectable topDecor">
                            <img id="tpDecor" src="../../assets/images/top-decor-28.png" alt="" />
                            <input name="decor" type="file" accept="image/*"
                                onchange="document.getElementById('tpDecor').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <h1 class="selectable" contenteditable="true" data-options="editOptions">ఉగాది శుభాకాంక్షలు
                        </h1>
                    </div>
                </div>

                <!-- Template Body Section -->
                <div id="temp-body">
                    <div class="event26Body">
                        <h5 class="selectable" contenteditable="true" data-options="editOptions">AVAILABLE OF</h5>
                        <div class="boxedContent">
                            <div class="imgHolder selectable imgLS">
                                <img id="ugadiImg" src="../../assets/images/ugadi-kalasham.png" alt="">
                                <input name="kalasham" type="file" accept="image/*"
                                    onchange="document.getElementById('ugadiImg').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <h3 class="selectable" contenteditable="true" data-options="editOptions">
                                HOME <br> PRODUCTS DELIVERY, <br> & SERVICES
                            </h3>
                            <div class="imgHolder selectable imgRS">
                                <img id="ugadiImg2" src="../../assets/images/ugadi-kalasham2.png" alt="">
                                <input name="kalasham2" type="file" accept="image/*"
                                    onchange="document.getElementById('ugadiImg2').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <h2 class="selectable" contenteditable="true" data-options="editOptions">IN SINGLE APP</h2>
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="prodImg" src="../../assets/images/handyman-app.png" alt="">
                                <input name="kalasham2" type="file" accept="image/*"
                                    onchange="document.getElementById('prodImg').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="defaultList">
                                <h4 class="selectable" contenteditable="true" data-options="editOptions">OUR SERVICES
                                </h4>
                                <p class="selectable" contenteditable="true" data-options="editOptions">PLUMBING</p>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ELECTRICAL</p>
                                <p class="selectable" contenteditable="true" data-options="editOptions">ELECTRONICS</p>
                                <p class="selectable" contenteditable="true" data-options="editOptions">WATER PROOFING
                                    WORKS</p>
                                <p class="selectable" contenteditable="true" data-options="editOptions">PAINTING</p>
                                <p class="selectable" contenteditable="true" data-options="editOptions">CARPENTRY</p>
                                <p class="selectable" contenteditable="true" data-options="editOptions">TILING</p>
                                <h5 class="selectable" contenteditable="true" data-options="editOptions">AND MORE
                                    REPAIRS, SERVICES AVAILABLE</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Template Footer Section -->
                <div id="temp-footer">
                    <div class="event26Footer">
                        <div class="side-by-side">
                            <div class="imgHolder selectable">
                                <img id="logoOne" src="../../assets/images/handyman-services-logo.jpg" alt="">
                                <input name="brand1" type="file" accept="image/*"
                                    onchange="document.getElementById('logoOne').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable">
                                <img id="logoTwo" src="../../assets/images/handyman-logo.jpg" alt="">
                                <input name="brand2" type="file" accept="image/*"
                                    onchange="document.getElementById('logoTwo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <h3 class="selectable" contenteditable="true" data-options="editOptions">KVV SATYANARAYANA
                            <span>(PROPRIETOR)</span>
                        </h3>
                        <h4 class="selectable" contenteditable="true" data-options="editOptions">CUSTOMER CARE NO:
                            6281198953</h4>
                        <div class="inlineFlex">
                            <div class="imgHolder selectable">
                                <img id="btnOne" src="../../assets/images/download-app-icon.png" alt="">
                                <input name="btn1" type="file" accept="image/*"
                                    onchange="document.getElementById('btnOne').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable">
                                <img id="btnTwo" src="../../assets/images/click-here-icon.png" alt="">
                                <input name="btn2" type="file" accept="image/*"
                                    onchange="document.getElementById('btnTwo').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                            <div class="imgHolder selectable">
                                <img id="btnThree" src="../../assets/images/play-store-btn.png" alt="">
                                <input name="btn3" type="file" accept="image/*"
                                    onchange="document.getElementById('btnThree').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Template-26 (Ugadi 6 [Handy Man]) End -->
        </div>
    </body>

</html>